<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

    <form action="#"
          th:action="@{/admin/careers/add}"
          th:object="${categoryCareer}"
          method="POST"
          enctype="multipart/form-data"
          class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Category Career Title</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{name}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Description</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <textarea th:field="*{description}"
                                          class="uk-textarea uk-height-small uk-width-1-1"
                                          type="text"
                                          placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Active</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input type="checkbox" th:field="*{active}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
            <input type="submit" class="uk-button uk-button-secondary uk-button-large" value="Add Category Career">
        </div>
    </form>

    <div class="uk-margin-large-top">
        <h2 th:if="${#lists.isEmpty(categoryCareers)}">No Career categories yet!</h2>
        <div th:if="${not #lists.isEmpty(categoryCareers)}">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Show Vacancies</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="career : ${categoryCareers}">
                    <td th:text="${career.name}"></td>
                    <td th:text="${career.description}"></td>
                    <td th:text="${career.active}? 'Active' : 'Inactive' "></td>
                    <td><a th:href="@{/admin/vacancy/{id}(id=${career.id})}" class="uk-button uk-button-default uk-button-small">Vacancies</a></td>
                    <td>
                        <a th:href="@{/admin/careers/edit/{id}(id=${career.id})}" uk-icon="icon: pencil"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>