<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <form action="#"
          th:action="@{/admin/locations/add}"
          th:object="${location}"
          method="POST"
          class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">State</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{state}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
                <input type="submit" class="uk-button uk-button-secondary uk-button-large" value="Add Location">
            </div>
        </div>

        <hr class="uk-margin-medium">

    </form>

    <div class="uk-margin-large-top">
        <h2 th:if="${#lists.isEmpty(locations)}">No Locations yet!</h2>
        <div th:if="${not #lists.isEmpty(locations)}">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="location : ${locations}">
                    <td th:text="${location.state}"></td>
                    <td>
                        <a th:href="@{/admin/locations/delete/{id}(id=${location.id})}" uk-icon="icon: close"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>