<div xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="tm-header-mobile uk-hidden@m" th:fragment="header">

        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <div class="uk-navbar-container">
                <nav uk-navbar>

                    <div class="uk-navbar-left">
                        <a class="uk-navbar-toggle" href="#u1-mobile" uk-toggle>
                            <div uk-navbar-toggle-icon></div>
                        </a>
                    </div>

                    <div class="uk-navbar-center">
                        <a class="uk-navbar-item uk-logo" href="/">
                            <img alt="" src="images/logo.png">
                        </a>
                    </div>

                </nav>
            </div>
        </div>


        <div id="u1-mobile" uk-offcanvas mode="slide" overlay>
            <div class="uk-offcanvas-bar uk-background-secondary">

                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <div class="uk-child-width-1-1" uk-grid>
                    <div>
                        <div class="uk-panel">
                            <ul class="uk-nav uk-nav-primary">
                                <li th:class="${#request.requestURI == '/' ? 'uk-active':''}">
                                    <a th:href="@{/}" class="" title="Engineering, Construction & Energy Solutions | Utilities One">Home</a>
                                </li>
                                <li th:class="${#request.requestURI == '/about-us' ? 'uk-active':''}">
                                    <a th:href="@{/about-us}" class="" title="Find out who we are and how we operate | Utilities One">About Us</a>
                                </li>
                                <li th:class="${#request.requestURI == '/news' ? 'uk-active':''}">
                                    <a th:href="@{/news(page=${1})}" class="" title="Read the latest industry and company news | Utilities One">News</a>
                                </li>
                                <li th:class="${#request.requestURI == '/expertise' ? 'uk-active':''}">
                                    <a th:href="@{/expertise}" class="" title="Exceptional expertise in numerous domains | Utilities One">Expertise</a>
                                </li>
                                <li th:class="${#request.requestURI == '/projects' ? 'uk-active':''}">
                                    <a th:href="@{/projects}" class="" title="Our latest projects and work examples | Utilities One">Projects</a>
                                </li>
                                <li th:class="${#request.requestURI == '/career' ? 'uk-active':''}">
                                    <a th:href="@{/career}" class="" title="Job hunting? Build your career with us | Utilities One">Careers</a>
                                </li>
                                <li th:class="${#request.requestURI == '/contact-us' ? 'uk-active':''}">
                                    <a th:href="@{/contact-us}" class="" title="Contact Us directly or send us a message | Utilities One">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <header>

        <div class="uk-visible@m uk-position-relative" uk-header="">

            <div uk-sticky="" media="@m" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container" class="uk-sticky uk-sticky-fixed">

                <div class="uk-navbar-container">

                    <div class="uk-container">

                        <nav class="uk-navbar" uk-navbar>

                            <div class="uk-navbar-left">
                                <a th:href="@{/}" class="uk-navbar-item uk-logo">
                                    <img src="images/logo.png">
                                    <img class="uk-logo-inverse" src="images/logo-inverted.png">
                                </a>
                                <ul class="uk-navbar-nav" sec:authorize="isAuthenticated()">
                                    <li>
                                        <a th:href="@{/admin}" class="">Admin</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-navbar-right">
                                <ul class="uk-navbar-nav">
                                    <li th:class="${#request.requestURI == '/' ? 'uk-active':''}">
                                        <a th:href="@{/}" class="">Home</a>
                                    </li>
                                    <li th:class="${#request.requestURI == '/about-us' ? 'uk-active':''}">
                                        <a th:href="@{/about-us}" class="">About Us</a>
                                        <div class="uk-navbar-dropdown">
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li>
                                                    <a href="/about-us#our-history" class="">Our History</a>
                                                </li>
                                                <li>
                                                    <a href="/about-us#team" class="">Team</a>
                                                </li>
                                                <li>
                                                    <a href="/about-us#proud-members" class="">Proud Members Of</a>
                                                </li>
                                                <li>
                                                    <a href="/about-us#our-partners" class="">Our Partners</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li th:class="${#request.requestURI == '/news' ? 'uk-active':''}">
                                        <a th:href="@{/news(page=${1})}" class="">News</a>
                                    </li>
                                    <li th:class="${#request.requestURI == '/expertise' ? 'uk-active':''}">
                                        <a th:href="@{/expertise}" class="">Expertise</a>
                                    </li>
                                    <li th:class="${#request.requestURI == '/projects' ? 'uk-active':''}">
                                        <a th:href="@{/projects}" class="">Projects</a>
                                    </li>
                                    <li th:class="${#request.requestURI == '/career' ? 'uk-active':''}">
                                        <a th:href="@{/career}" class="" >Careers</a>
                                    </li>
                                    <li th:class="${#request.requestURI == '/contact-us' ? 'uk-active':''}">
                                        <a th:href="@{/contact-us}" class="">Contact Us</a>
                                    </li>
                                </ul>
                            </div>

                        </nav>

                    </div>

                </div>

            </div>



        </div>

    </header>

</div>