<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage skillsBeforeBottom">

    <section
            class="detailPage uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url('images/Energy_Exp_In.png');">
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Energy</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We deploy the latest solutions and most comprehensive
                practices, keep abreast of current equipment, methods, and system developments. We deliver renewable
                energies that boast many advantages, these being abundant, clean, flexible, efficient, and competitive
                for natural environment.</h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
<!--            <p style="font-size: 23px; color: #292c3d; font-weight: 500;">Expertise</p>-->
<!--            <hr style="margin-bottom: 30px;">-->
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Expertise</span>
            </div>
            <ul class="ulCategories">
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/skills(s=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'technology-deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="contentVacancies" style="margin-bottom: 150px;">

                <div class="expertiseItm" data-aos="fade-up" data-aos-duration="1100">
                    <div class="images" >
                        <figure class="banners" style="background-image: url('images/Renewable Energy- Wind and Solar.png')">
                            <p class="title">Renewables: Wind and Solar</p>
                        </figure>
                    </div>
                    <div class="contentWireless">
                        <p>We supply end-to-end services to the wind farm market consisting of power collection systems, substations, affiliation services and total EPC/BOP.</p>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;">
                            <a class="uk-accordion-title" href="#">Wind Powered Energy and Wind Turbines</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Advancement and Authorization</span></li>
                                    <li><span>Wind farm design, energy yield analysis</span></li>
                                    <li><span>Grid connection design and transmission</span></li>
                                    <li><span>SWPPP</span></li>
                                    <li><span>Concrete construction</span></li>
                                    <li><span>Turbine setup</span></li>
                                    <li><span>Turbine electrical wiring</span></li>
                                    <li><span>O&M construction</span></li>
                                    <li><span>Engineering and design</span></li>
                                    <li><span>Turbine installation</span></li>
                                    <li><span>Structure setup</span></li>
                                    <li><span>Substation, transmission line and affiliation design and setup</span></li>
                                    <li><span>Big platform turbines</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Solar Farms</a>
                            <div class="uk-accordion-content">
                                <p class="titleContent">We assess the project, make sure it fits specific requirements
                                    and link it to the electrical grid</p>
                                <ul type="disc" style="margin-bottom: 41px;">
                                    <li><span>BOP procurement</span></li>
                                    <li><span>Solar energy services</span></li>
                                    <li><span>Structure integrated voltaic setup</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Solar Energy</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Residential</span></li>
                                    <li><span>Commercial</span></li>
                                    <li><span>Custom-made</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Photovoltaic Panel Systems</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Ground mount</span></li>
                                    <li><span>Canopy installed</span></li>
                                    <li><span>Roofing system installed</span></li>
                                    <li><span>Supply solar systems for ground and roofing setups</span></li>
                                    <li><span>Design, construction and maintenance of photovoltaic systems</span></li>
                                    <li><span>End-to-end power plat upkeep (DC and Air Conditioner)</span></li>
                                    <li><span>Commissioning</span></li>
                                    <li><span>Task expediency analysis</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Construction_Update.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Construction</p>
                        </figure>
                    </div>
                    <div class="contentWireless">
                        <p>We employ all current innovations to guarantee that we perform our work with accuracy and effectiveness, carry out all tasks on time and within your budget.</p>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;">
                            <a class="uk-accordion-title" href="#">Overhead Construction</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Power facilities upgrade</span></li>
                                    <li><span>Aerial circulation power lines</span></li>
                                    <li><span>Setting up brand-new power systems</span></li>
                                    <li><span>Total aerial engineering</span></li>
                                    <li><span>Repair and maintenance solutions</span></li>
                                    <li><span>Energy pole setup and transfer</span></li>
                                    <li><span>Cable drop and devices setup and replacement</span></li>
                                    <li><span>Conversioning and transitioning</span></li>
                                    <li><span>Transmission construction and upkeep – approximately 345KV</span></li>
                                    <li><span>Substation construction and upkeep as much as 500 KV</span></li>
                                    <li><span>Replacement of towers</span></li>
                                    <li><span>Setup of overhead pole lines</span></li>
                                    <li><span>Aerial mapping</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Underground Construction</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Directional boring</span></li>
                                    <li><span>High voltage cable drop entwining</span></li>
                                    <li><span>Gas transmission and circulation</span></li>
                                    <li><span>Underground electric setup</span></li>
                                    <li><span>Electric feeder setup and circulation</span></li>
                                    <li><span>Power line setup & adjustments</span></li>
                                    <li><span>Fault locating and repair works</span></li>
                                    <li><span>System hardening</span></li>
                                    <li><span>Joint trench installations</span></li>
                                    <li><span>Setting up underground cabling</span></li>
                                    <li><span>Cable drop trenching</span></li>
                                    <li><span>Cable drop splicing 4kV 69kV transformer setup</span></li>
                                    <li><span>Vault building for cable drop splicing and manhole repair works</span>
                                    </li>
                                    <li><span>Underground conversion and moving</span></li>
                                    <li><span>Underground structure assessment</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/IMG_2420-min.jpg')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Electrical Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We apply technical knowledge and skills necessary to install, operate, maintain and repair residential, commercial and industrial electrical systems.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Structural Construction</span></li>
                                    <li><span>Circulation Lines</span></li>
                                    <li><span>Continuous Upkeep</span></li>
                                    <li><span>Emergency Maintenance & Repair Services</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Electric Power Generating Construction.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 90px;">Electric Power Generating
                                Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We provide clients advice on the optimal site, size, materials, construction methods,and design ideas. An all-in-one package. </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Power generation and transmission</span></li>
                                    <li><span>Setup and upkeep of low and high voltage systems</span></li>
                                    <li><span>Underground electric services</span></li>
                                    <li><span>Transmission and circulation solutions</span></li>
                                    <li><span>Energized solutions</span></li>
                                    <li><span>Renewable resource center construction</span></li>
                                    <li><span>Electrical engineering and grid code compliance</span></li>
                                    <li><span>Procurement</span></li>
                                    <li><span>Main voltage conversions</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Oil and Natural Gas Construction Services.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 75px;">Oil and Natural Gas
                                Construction Services</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We complete any project on time and on budget, with minimal impact
                                to landowners, total environmental compliance and maximum overall efficiency,
                                providing:</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Oil pipelines</span></li>
                                    <li><span>Gas pipelines construction</span></li>
                                    <li><span>Compressor and pump stations</span></li>
                                    <li><span>Gas and oil processing facilities</span></li>
                                    <li><span>Transmission and circulation</span></li>
                                    <li><span>Trucking and logistics</span></li>
                                    <li><span>Technical solutions</span></li>
                                    <li><span>Gas circulation setup</span></li>
                                    <li><span>Service renewal, meter, piping and relight solutions</span></li>
                                    <li><span>Pipeline stability management and deterioration</span></li>
                                    <li><span>Stability, upkeep and replacement</span></li>
                                    <li><span>Program management</span></li>
                                    <li><span>Traffic control</span></li>
                                    <li><span>Pipeline cable drop services</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Engineering.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Engineering</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Our Engineers are on duty to find the most efficient and
                                sustainable ways to operate Building and Manufacturing processes.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Circulation engineering</span></li>
                                    <li><span>Environmental compliance</span></li>
                                    <li><span>Renewable technologies</span></li>
                                    <li><span>Central management</span></li>
                                    <li><span>Power systems preparation</span></li>
                                    <li><span>Design solutions</span></li>
                                    <li><span>T & D and substation engineering services</span></li>
                                    <li><span>Renewable system design</span></li>
                                    <li><span>Consulting solutions</span></li>
                                    <li><span>Field services</span></li>
                                    <li><span>Construction, production and documentation management</span></li>
                                    <li><span>Security system and control design</span></li>
                                    <li><span>Innovation evaluation and network preparation</span></li>
                                    <li><span>Line optimization</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Retrofit Install Upgrades.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Deep Energy Retrofitting
                                (DER)</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">
                                We have what it takes to spot hidden value for businesses to optimize building
                                performance. We offer a full range of solutions - LED lighting retrofits installations
                                and maintenance, ground up projects, facility optimization, design implementation, etc.
                                Our qualified lighting technicians will take care of every little detail to maximize
                                your energy consumption.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Advanced building analysis</span></li>
                                    <li><span>Identification and assessment of optimization options</span></li>
                                    <li><span>Design and specification of Energy Efficiency Measures</span></li>
                                    <li><span>Tracking and assessment of retrofit projects</span></li>
                                    <li><span>Installation, commissioning and handover</span></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Storm Restoration_Update.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Storm Restoration</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Natural disasters can occur at any time. Whether it is flooding or
                                a fire, it is important for you to have the right storm restoration company in mind.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Examination and evaluation of structural damage</span></li>
                                    <li><span>Storm reaction</span></li>
                                    <li><span>Repair work transmission and substation facilities</span></li>
                                    <li><span>Supply power for circulation system</span></li>
                                    <li><span>Restore electric service to the impacted locations</span></li>
                                    <li><span>Storm reaction power line construction</span></li>
                                    <li><span>Power system repair work</span></li>
                                    <li><span>Rebuild downed transmission and circulation systems</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>