<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage skillsBeforeBottom">

    <section
            class="detailPage uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url('images/Engineering_Exp_in.png');">
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Engineering</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We offer a full range of engineering solutions including but not limited to Mechanical & Electrical systems, process systems, utilities, and infrastructure. In conjunction with our trusted partners, we are ready to carry out an complete overhaul in terms of design services - architectural, civil and structural engineering.</h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
<!--            <p style="font-size: 23px; color: #292c3d; font-weight: 500;">Expertise</p>-->
<!--            <hr style="margin-bottom: 30px;">-->
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Expertise</span>
            </div>
            <ul class="ulCategories">
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/skills(s=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'technology-deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="contentVacancies" style="margin-bottom: 150px;">

                <div class="expertiseItm" data-aos="fade-up" data-aos-duration="1100">
                    <div class="images" >
                        <figure class="banners" style="background-image: url('images/Traffic%20Design.png')">
                            <p class="title">Traffic Design</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Traffic-engineering consultancy including a full range of professional services in transportation planning and traffic engineering design and implementation.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Common and Site-Specific Short-term Traffic Management Plans for Permits</span></li>
                                    <li><span>Single & Dual Lane Closure, Shoulder & Road Closure</span></li>
                                    <li><span>Detour Route, Two-Way Traffic Pattern</span></li>
                                    <li><span>Sign Positioning & Flagging</span></li>
                                    <li><span>Lane Shift & Special Events</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Civil.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Civil</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Cost estimates for materials and labor to determine a project's economic feasibility - encompassing much of what defines modern infrastructure.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Site design</span></li>
                                    <li><span>Grading and roadway layout</span></li>
                                    <li><span>Culvert design</span></li>
                                    <li><span>Retaining wall layout</span></li>
                                    <li><span>GIS overlay</span></li>
                                    <li><span>DEP permitting</span></li>
                                    <li><span>Zoning help</span></li>
                                    <li><span>Specialist Engineer Statement</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Electrical.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Electrical</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">The assessment of the application of electricity, electronics, and electromagnetism in general, helping integrate physical technologies, hardware, and software systems.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Utility Network</span></li>
                                    <li><span>Power Circulation</span></li>
                                    <li><span>Emergency Power Facilities</span></li>
                                    <li><span>Backup Systems</span></li>
                                    <li><span>Lighting Design</span></li>
                                    <li><span>Life Safety Systems</span></li>
                                    <li><span>Building Systems Evaluations</span></li>
                                    <li><span>Arc Flash & Coordination Studies</span></li>
                                    <li><span>Energy Administration</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Environmental and Geotechnical Services .png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 75px;">Environmental and Geotechnical Services</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">A healthy environment for the nation’s population - disposing of waste, providing safe drinking water, controlling environmental hazards, improving recycling, and decreasing soil, water, and air pollution.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Environment Restoration</span></li>
                                    <li><span>Lead paint and asbestos research studies</span></li>
                                    <li><span>Area 106 research studies</span></li>
                                    <li><span>NEPA reports</span></li>
                                    <li><span>Geotechnical analyses</span></li>
                                    <li><span>Soil resistivity evaluation</span></li>
                                    <li><span>Construction stage analysis</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Geospital.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Geospital</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">The management of global infrastructure through the collection, measuring, monitoring, and archiving of geospatial data.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>GIS Data Design & Mapping</span></li>
                                    <li><span>Servicing & Data Conversion</span></li>
                                    <li><span>Data Interpretation & Examination</span></li>
                                    <li><span>Spatial & 3D Analsysis</span></li>
                                    <li><span>Highways / Mapping</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Industrial Supply of Water & Watering.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 107px;">Industrial Water Supply</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Application of engineering principles and techniques of scientific management to the maintenance of an optimal level of productivity at optimum cost in industrial enterprises.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Industrial Waste Studies</span></li>
                                    <li><span>Headworks Examination & Long-term Monitoring</span></li>
                                    <li><span>NPDES Permit Negotiation, Pretreatment Permit Concurrence</span></li>
                                    <li><span>Regulatory Negotiations, Regulatory Conformity Planning</span></li>
                                    <li><span>Sewer Use Ordinance & Enforcement Reaction Plan Improvement</span></li>
                                    <li><span>Treatment System Design, Construction Oversight & Operation</span></li>
                                    <li><span>In-Plant Sampling Applications & Waste Characterization Research</span></li>
                                    <li><span>Comprehensive Wastewater Management Programs</span></li>
                                    <li><span>Groundwater Compliance</span></li>
                                    <li><span>Environmental Submission, Pollution Avoidance Audits</span></li>
                                    <li><span>Industrial Staff Instruction & Corporate Concurrence Seminars</span></li>
                                    <li><span>Security Training & Threat Assessment</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Mechanical.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Mechanical</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Design, manufacturing, testing, and improvement of mechanical systems, which are used in virtually any industry one can think of.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Conducting research into the feasibility, design, operation and performance of mechanisms, components and devices</span></li>
                                    <li><span>Planning and managing assignments, cost and timing estimations, reports and design requirements for equipment and systems</span></li>
                                    <li><span>Analyzing dynamics and vibrations of mechanical systems and buildings</span></li>
                                    <li><span>Developing routine maintenance specifications, schedules and applications and provide assistance to industrial upkeep crews</span></li>
                                    <li><span>Investigating mechanical problems or unexpected upkeep problems</span></li>
                                    <li><span>Selecting supplies for product requirements when it comes to toughness, weight, cost and safety</span></li>
                                    <li><span>Mining</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Oil, Gas & Petroleum.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Oil, Gas & Petroleum</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Production of oil and gas in an efficient, economical, and environmentally safe manner with the help of smart engineering solutions.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Tap/regulator station design and style</span></li>
                                    <li><span>Transmission design</span></li>
                                    <li><span>Distribution systems</span></li>
                                    <li><span>Hydraulic modeling</span></li>
                                    <li><span>Procurement</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Wastewater solutions.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Wastewater Solutions</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">The removal of impurities from wastewater, or sewage, before they reach aquifers or natural bodies of water such as rivers, lakes, and oceans.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Industrial Waste Research</span></li>
                                    <li><span>Headworks Evaluation & Long-term Monitoring</span></li>
                                    <li><span>NPDES Permit Mediation, Pretreatment Permit Concurrence</span></li>
                                    <li><span>Regulatory Discussions, Regulating Compliance Planning</span></li>
                                    <li><span>Sewer Use Regulation & Administration Reaction Plan Development</span></li>
                                    <li><span>Treatment System Design, Building Oversight & Procedure</span></li>
                                    <li><span>In-Plant Sampling Programs & Waste Characterization Research</span></li>
                                    <li><span>Complete Wastewater Management Applications</span></li>
                                    <li><span>Groundwater Conformity</span></li>
                                    <li><span>Environmental Compliance, Pollution Prevention Audits</span></li>
                                    <li><span>Industrial Personnel Training & Corporate Compliance Seminars</span></li>
                                    <li><span>Security Training & Threat Analysis</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Transmission engineering.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Transmission Engineering</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Innovative engineering services to design, maintain, or upgrade power delivery systems in a cost-effective, safe, timely, and reliable manner.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Ranking evaluation</span></li>
                                    <li><span>Path preparation</span></li>
                                    <li><span>Upgrades and rebuilds</span></li>
                                    <li><span>Line layout</span></li>
                                    <li><span>Structure design</span></li>
                                    <li><span>Structure investigation</span></li>
                                    <li><span>LiDAR control</span></li>
                                    <li><span>Devices specs</span></li>
                                    <li><span>Procurement</span></li>
                                    <li><span>Line optimization</span></li>
                                    <li><span>Clearance infraction reporting</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>