<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage skillsBeforeBottom">

    <section
            class="detailPage uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url('images/Wireless_banner_In.png');">
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Wireless</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Utilities One offers quality cordless solutions. We
                have the tools and the expertise necessary to leverage the most sophisticated innovations; follow all
                industry standards and security requirements; carry out every task in a prompt manner, and satisfy any
                customer’s needs in full.</h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
<!--            <p style="font-size: 23px; color: #292c3d; font-weight: 500;">Expertise</p>-->
<!--            <hr style="margin-bottom: 30px;">-->
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Expertise</span>
            </div>
            <ul class="ulCategories ulExpertise">
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/skills(s=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'technology-deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="contentVacancies" style="margin-bottom: 150px;">

                <div class="expertiseItm" data-aos="fade-up" data-aos-duration="1100">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Site Development Services_Update.png')">
                            <p class="title">Site Development Services</p>
                        </figure>
                    </div>
                    <div class="contentWireless">
                        <p>Seasoned telecom experts drive our expertise in the wireless site development solutions.
                            Having collectively negotiated, developed, built and upgraded thousands of wireless sites
                            for carriers and tower companies across the United States, Utilities One is
                            ready to handle any project, no matter how complex or sophisticated it may be.</p>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;">
                            <a class="uk-accordion-title" href="#">Program Management</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Program preparation and scheduling</span></li>
                                    <li><span>Capital budgeting</span></li>
                                    <li><span>Agreement settlement, preparation and coordination</span></li>
                                    <li><span>Supplier choice and management</span></li>
                                    <li><span>Asset management</span></li>
                                    <li><span>Value engineering</span></li>
                                    <li><span>File control</span></li>
                                    <li><span>Deployment tracking</span></li>
                                    <li><span>Standardization</span></li>
                                    <li><span>Quality control</span></li>
                                    <li><span>Security strategy planning</span></li>
                                    <li><span>Progress tracking</span></li>
                                    <li><span>Close-out, launch, hand-off and turn-on</span></li>
                                    <li><span>System enhancement</span></li>
                                    <li><span>Upkeep strategy advancement</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Site Acquisition Services</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Practical prospects assessment</span></li>
                                    <li><span>Beneficial business terms settlement</span></li>
                                    <li><span>Lease execution</span></li>
                                    <li><span>Audits submission</span></li>
                                    <li><span>Job scoping management</span></li>
                                    <li><span>Lease change execution</span></li>
                                    <li><span>Pre-deployment analysis</span></li>
                                    <li><span>Site identification</span></li>
                                    <li><span>Lease settlements</span></li>
                                    <li><span>Lease adjustments</span></li>
                                    <li><span>Disintegration and sedimentation strategies</span></li>
                                    <li><span>DOT Permitting</span></li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Land Use Services & Permitting</a>
                            <div class="uk-accordion-content">
                                <p class="titleContent">Permitting Solutions</p>
                                <ul type="disc" style="margin-bottom: 41px;">
                                    <li>
                                        <span>Process, research study and supply detailed requirements for approval</span>
                                    </li>
                                    <li>
                                        <span>Put together the appropriate files and facilitate their prompt submission</span>
                                    </li>
                                    <li><span>Consult with all parties in the evaluation procedure to determine, address and fix concerns</span>
                                    </li>
                                </ul>
                                <p class="titleContent">Zoning Providers</p>
                                <ul type="disc" style="margin-bottom: 41px;">
                                    <li><span>Conduct pre-project zoning analysis</span></li>
                                    <li>
                                        <span>Coordinate applications and paperwork with the suitable jurisdictions</span>
                                    </li>
                                    <li><span>Represent customers in public online forums as needed</span></li>
                                </ul>
                                <p class="titleContent">Additional Solutions</p>
                                <ul type="disc">
                                    <li><span>Coordinate auxiliary due diligence services consisting of studies, geotechnical services, appraisal services and specific title test services</span>
                                    </li>
                                    <li><span>Coordinate and support the submission of unique applications with state and federal companies</span>
                                    </li>
                                    <li><span>Conduct internal strategy evaluation</span></li>
                                    <li><span>Coordinate release of real estate title encumbrances</span></li>
                                    <li><span>Prepare expediency and "site fit" illustrations</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Building Management Solutions</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>OSP civil design</span></li>
                                    <li><span>Examine feasible prospect assessment for network improvements</span></li>
                                    <li><span>Conduct construction budget plan examinations</span></li>
                                    <li><span>Handle scoping sessions</span></li>
                                    <li><span>Help engineering in site layout</span></li>
                                    <li><span>Deal with quote management with general contractors</span></li>
                                    <li><span>Handle general contractor for all field activities</span></li>
                                    <li><span>Total closeout plans</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners"
                                style="background-image: url('images/Architecture & Engineering Services.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Architecture & Engineering Services</p>
                        </figure>
                    </div>
                    <div class="contentWireless">
                        <p>We work closely with our clients to provide facility designs that fulfill both the functional
                            and aesthetic requirements of a project, whether simple or elaborate. We also provide
                            on-site services, often in conjunction with a local design professional, to ensure that
                            permit acquisition and construction proceed efficiently.</p>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;">
                            <a class="uk-accordion-title" href="#">Civil Engineering</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Site design</span></li>
                                    <li><span>Grading and roadway design</span></li>
                                    <li><span>Culvert design</span></li>
                                    <li><span>Retaining wall design</span></li>
                                    <li><span>GIS overlay</span></li>
                                    <li><span>DEP permitting</span></li>
                                    <li><span>Zoning assistance</span></li>
                                    <li><span>Specialist Engineer Statement</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Structural Engineering</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Structural evaluations</span></li>
                                    <li><span>Structural analyses</span></li>
                                    <li><span>Tower mapping/Foundation mapping</span></li>
                                    <li><span>Tower adjustment</span></li>
                                    <li><span>Construction expense quotes</span></li>
                                    <li><span>Submittal and evaluation of illustration reviews</span></li>
                                    <li><span>Construction observation and evaluation</span></li>
                                    <li><span>IBC unique examinations</span></li>
                                    <li><span>Peer evaluation</span></li>
                                    <li><span>Worth engineering</span></li>
                                    <li><span>Lawsuits and witness assistance</span></li>
                                    <li><span>Forensic examinations</span></li>
                                    <li><span>Tower structure design</span></li>
                                    <li><span>Structure upgrades</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Electrical and Mechanical Engineering</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Electric service design</span></li>
                                    <li><span>Electric system evaluations</span></li>
                                    <li><span>Electrical load research studies</span></li>
                                    <li><span>Electric service upgrades</span></li>
                                    <li><span>Generator setups</span></li>
                                    <li><span>A/C design</span></li>
                                    <li><span>A/C upgrades and evaluations</span></li>
                                    <li><span>AC/DC power researches</span></li>
                                    <li><span>DC system design</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Fiber Engineering and Permitting</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Fiber audits and field studies to include of rod and roping</span></li>
                                    <li><span>Pole accessories and licensing applications</span></li>
                                    <li><span>Make-ready design</span></li>
                                    <li><span>New lateral design</span></li>
                                    <li><span>New moving design</span></li>
                                    <li><span>New manhole design</span></li>
                                    <li><span>OCALC structural reports</span></li>
                                    <li><span>Lateral street permitting</span></li>
                                    <li><span>Street tenancy permitting</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Environmental and Geotechnical Services</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Lead paint and asbestos research studies</span></li>
                                    <li><span>Area 106 research studies</span></li>
                                    <li><span>NEPA reports</span></li>
                                    <li><span>Geotechnical analyses</span></li>
                                    <li><span>Soil resistivity evaluation</span></li>
                                    <li><span>Construction stage evaluation</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Visual Analyses and Mapping Services</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Area mapping</span></li>
                                    <li><span>3D modelling services</span></li>
                                    <li><span>Photo simulations</span></li>
                                    <li><span>Visual effect reports</span></li>
                                    <li><span>Field verified surface analysis</span></li>
                                    <li><span>Specialist visual effect statement</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners"
                                style="background-image: url('images/Construction and Technical Management.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 76px;">Construction and Technical Management</p>
                        </figure>
                    </div>
                    <div class="contentWireless">
                        <p>Our Wireless construction professionals all have what it takes to design and build
                            cutting-edge telecommunications facilities. Our experience, flexibility, quality processes
                            and focus on safety procedures, allow Utilities One to reach unprecedented results within
                            the very least amount of time possible. Our Construction Managers understand the needs of
                            the customers better than anyone else working solely around the client’s schedule and not
                            vice versa.</p>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;">
                            <a class="uk-accordion-title" href="#">Tower Setup & Upkeep Solutions</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Roadway construction</span></li>
                                    <li><span>Tower construction</span></li>
                                    <li><span>Self-supporting, monopoles, guyed and structural retrofit jobs</span></li>
                                    <li><span>Security compliance</span></li>
                                    <li><span>Antenna system setup</span></li>
                                    <li><span>Specialized antenna mount fabrication; Waveguide bridge & ladder; Setup; Antenna confirmation & coax sweep screening; Azimuth & down-tilts</span>
                                    </li>
                                    <li><span>Interior buildout</span></li>
                                    <li><span>Interior grounding; Cable drop setup; Devices rack fabrication & setup; Battery setup; Radio setup</span>
                                    </li>
                                    <li><span>System efficiency upgrades</span></li>
                                    <li><span>Reconfigurations; Sweep and PIM screening; OTDR and CPRI screening; Sectorizations</span>
                                    </li>
                                    <li><span>Tower inspections and central evaluations</span></li>
                                    <li><span>Tower lighting systems; incandescent, medium/high strength strobe and LED lighting</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">DAS Cell Design & Application</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Evaluation of RF requirements</span></li>
                                    <li><span>Cells and DAS setups</span></li>
                                    <li><span>RF design</span></li>
                                    <li><span>Regulatory services</span></li>
                                    <li><span>Fiber network application and coordination</span></li>
                                    <li><span>Fiber OSP design, construction, and make-ready</span></li>
                                    <li><span>Construction combination and optimization</span></li>
                                    <li><span>Stealth solutions</span></li>
                                    <li><span>Troubleshooting & repair work</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Building and Construction Support Services</a>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Warehousing/ Circulation/ Product Handling</span></li>
                                    <li><span>Web-enabled stock tracking</span></li>
                                    <li><span>Site kitting</span></li>
                                    <li><span>Product sourcing/ Processing</span></li>
                                    <li><span>On-site shipment and setup</span></li>
                                    <li><span>Pre-assembly & screening</span></li>
                                    <li><span>System screening</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>