<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml"
     class="singlePage vacanciesBeforeBottom">

    <section
            class="uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: radial-gradient(farthest-corner at 100% 100%, rgba(233, 47, 44, 0.7), rgba(237, 103, 37, 0.7), rgba(0, 0, 0, 0.7)), url(images/WirelessCareers.png);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;"
                data-aos="fade-right" data-aos-duration="1200">
                Wireless Careers
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                Building Network Infrastructure. Delivering superior Wireless Services. Keeping people connected and
                providing
                broadband and high-speed internet access to every customer. Apply to start working in the Telecom
                Industry
            </h4>
        </div>
    </section>

    <section class="vacancies-page">
        <div class="uk-container">
            <div class="vacancies-page-content">
                <form action="#" class="filter">
                    <h2><strong>Search</strong></h2>
                    <div class="search">
                        <div class="form-group">
                            <input type="text" placeholder="Job Title...">
                            <button class="btn-form">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                     viewBox="0 0 20 20">
                                    <path fill="#fff"
                                          d="M8.552 17.105c1.898 0 3.74-.636 5.236-1.805l4.7 4.7 1.51-1.512-4.699-4.7c1.17-1.494 1.806-3.338 1.806-5.236C17.105 3.837 13.268 0 8.552 0 3.837 0 0 3.837 0 8.552c0 4.716 3.837 8.553 8.552 8.553zm0-14.967c3.538 0 6.415 2.877 6.415 6.414 0 3.538-2.877 6.415-6.415 6.415-3.537 0-6.414-2.877-6.414-6.415 0-3.537 2.877-6.414 6.414-6.414z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="line">
                        <line></line>
                    </div>
                    <div class="category-general">
                        <div class="category-post category-post-active">
                            <div class="title-category">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" fill="none"
                                     viewBox="0 0 18 12">
                                    <g clip-path="url(#clip0)">
                                        <path fill="#E0621E"
                                              d="M16.394.5L9.028 8.25 1.552.673 0 2.322l9.084 9.177L18 2.095 16.394.5z"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path fill="#fff" d="M0 0H18V11H0z" transform="translate(0 .5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>Job Category</span>
                            </div>
                            <div class="content-category">
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        <input class="uk-checkbox" type="checkbox" name="categoryJob"> (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                            </div>
                            <div class="show-more">
                                <span>Show More</span>
                            </div>
                        </div>
                        <div class="category-post">
                            <div class="title-category">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" fill="none"
                                     viewBox="0 0 18 12">
                                    <g clip-path="url(#clip0)">
                                        <path fill="#E0621E"
                                              d="M16.394.5L9.028 8.25 1.552.673 0 2.322l9.084 9.177L18 2.095 16.394.5z"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path fill="#fff" d="M0 0H18V11H0z" transform="translate(0 .5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>Job Category</span>
                            </div>
                            <div class="content-category height-auto">
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                                <div class="category-itm">
                                    <input type="checkbox" class="input-checkbox">
                                    <span class="checked">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" viewBox="0 0 512 512"
                                             style="20px: new 0 0 512 512;width: 20px;height: 20px;"
                                             xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"/>
                                            </g>
                                        </g>

                                        </svg>
                                    </span>
                                    <p>
                                        Wireless (<span>5</span>)
                                    </p>
                                </div>
                            </div>
                            <div class="show-more">
                                <span>Show More</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="aside">
                    <div class="aside-itm">
                        <h3>
                            Tower Climber
                        </h3>

                        <h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                 viewBox="0 0 20 20">
                                <path stroke="#4F5260"
                                      d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"></path>
                                <path stroke="#4F5260"
                                      d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"></path>
                            </svg>
                            Aberdeen, MD /
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                 enable-background="new 0 0 443.294 443.294" height="16" viewBox="0 0 443.294 443.294"
                                 width="512"
                                 style="&#10;    width: 16px;    margin-left: 7px;&#10;    height: 16px;&#10;">
                                <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                                <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                            </svg>
                            3 days ago
                        </h4>
                        <line></line>
                        <h4>
                            Field Technicians are responsible for servicing our cell tower client’s through inspections,
                            mappings, report writing and AutoCAD drawings. Each Technician is provided with proper
                            safety
                            training and procedures from the very beginning.
                        </h4>
                        <a href="#"><span>Apply Now</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                 style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
                                                    <path style=""
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>

                                                    </svg>
                        </a>
                    </div>
                    <div class="aside-itm">
                        <h3>
                            Tower Climber
                        </h3>

                        <h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                 viewBox="0 0 20 20">
                                <path stroke="#4F5260"
                                      d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"></path>
                                <path stroke="#4F5260"
                                      d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"></path>
                            </svg>
                            Aberdeen, MD /
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                 enable-background="new 0 0 443.294 443.294" height="16" viewBox="0 0 443.294 443.294"
                                 width="512"
                                 style="&#10;    width: 16px;    margin-left: 7px;&#10;    height: 16px;&#10;">
                                <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                                <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                            </svg>
                            3 days ago
                        </h4>
                        <line></line>
                        <h4>
                            Field Technicians are responsible for servicing our cell tower client’s through inspections,
                            mappings, report writing and AutoCAD drawings. Each Technician is provided with proper
                            safety
                            training and procedures from the very beginning.
                        </h4>
                        <a href="#"><span>Apply Now</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                 style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
                                                    <path style=""
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>

                                                    </svg>
                        </a>
                    </div>
                    <div class="aside-itm">
                        <h3>
                            Tower Climber
                        </h3>

                        <h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                 viewBox="0 0 20 20">
                                <path stroke="#4F5260"
                                      d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"></path>
                                <path stroke="#4F5260"
                                      d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"></path>
                            </svg>
                            Aberdeen, MD /
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                 enable-background="new 0 0 443.294 443.294" height="16" viewBox="0 0 443.294 443.294"
                                 width="512"
                                 style="&#10;    width: 16px;    margin-left: 7px;&#10;    height: 16px;&#10;">
                                <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                                <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                            </svg>
                            3 days ago
                        </h4>
                        <line></line>
                        <h4>
                            Field Technicians are responsible for servicing our cell tower client’s through inspections,
                            mappings, report writing and AutoCAD drawings. Each Technician is provided with proper
                            safety
                            training and procedures from the very beginning.
                        </h4>
                        <a href="#"><span>Apply Now</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                 style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
                                                    <path style=""
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>

                                                    </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>