<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">UtilitiesOne</title>
        <!-- Meta -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="canonical" href=""/>

        <link rel="shortcut icon" type="image/ico" href="../images/fav.png">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/uikit/uikit.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aos.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/new-style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
        <link href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css" rel="stylesheet">

        <!-- Scripts -->
        <script th:src="@{/js/uikit/uikit.js}" type="application/javascript"></script>
        <script th:src="@{/js/uikit/uikit-icons.js}" type="application/javascript"></script>

        <script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
        <script th:src="@{/js/main.js}" type="application/javascript"></script>
        <script th:src="@{/js/aos.js}" type="application/javascript"></script>
        <script th:src="@{/js/map-projects.js}" type="application/javascript"></script>
        <script th:src="@{/js/ajax-req.js}" type="application/javascript"></script>

        <script th:src="@{/js/owl.carousel.js}" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjicr_9-A-_OsFs5tgBzq9S7cAlOssb_Q"></script>
        <script type="text/javascript" src=" https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NSHB1C55M5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-NSHB1C55M5');
        </script>

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFX4F2V"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    </head>
    <body class="">

        <div th:replace="fragments/header :: header"></div>

        <div layout:fragment="content"></div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>