<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>

    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit/uikit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-style.css}">
    <!-- Scripts -->
    <script th:src="@{/js/uikit/uikit.js}" type="application/javascript"></script>
    <script th:src="@{/js/uikit/uikit-icons.js}" type="application/javascript"></script>
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/main.js}" type="application/javascript"></script>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div layout:fragment="content"></div>

</body>
</html>