<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="uk-breadcrumb uk-margin-medium-top">
        <li><a th:href="@{/admin/vacancy/{id}(id=${vacancy.categoryCareer.id})}">Vacancy</a></li>
        <li class="uk-disabled"><a>Edit</a></li>
        <li><span class="uk-text-bold" th:text="${vacancy.title}"></span></li>
    </ul>

    <form action="#"
          th:action="@{/admin/vacancy/update/{id}(id=${id})}"
          th:object="${vacancy}"
          method="POST"
          enctype="multipart/form-data"
          class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Title</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{title}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Description Vacancy</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <textarea th:field="*{descriptionPosition}"
                                          class="uk-textarea uk-height-small uk-width-1-1"
                                          type="text"
                                          placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Location</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <select th:field="*{location}">
                                    <option value="0">Select Location</option>
                                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.state}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Active</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input type="checkbox" th:field="*{active}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
            <input type="submit" class="uk-button uk-button-secondary uk-button-large" value="Update">
        </div>

    </form>

</div>