<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

    <form action="#" th:action="@{/admin/content/add}" th:object="${content}" method="POST" class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Content</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">

                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <textarea th:field="*{contentValue}" class="uk-textarea uk-height-small uk-width-1-1" type="text" placeholder=""></textarea>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Alias</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <input th:field="*{alias}" class="uk-input" type="text" placeholder="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
            <input type="submit" class="uk-button uk-button-secondary uk-button-large">
        </div>

    </form>

    <div class="uk-margin-large-top">

        <h2 th:if="${#lists.isEmpty(contentsList)}">No content items yet!</h2>
        <div th:if="${not #lists.isEmpty(contentsList)}">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Alias</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content : ${contentsList}">
                    <td th:text="${content.contentValue}"></td>
                    <td th:text="${content.alias}"></td>
                    <td>
                        <a th:href="@{/admin/content/edit/{id}(id=${content.id})}" uk-icon="icon: pencil"></a>
                        <a th:href="@{/admin/content/delete/{id}(id=${content.id})}" uk-icon="icon: close"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>