<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml">

    <section class="uk-section uk-section-default uk-section-small">
        <div class="uk-container">

            <h2 class="uk-text-bold">Short activity</h2>

            <div class="uk-divider-small uk-margin-large-bottom"></div>

            <div class="uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>

            </div>

        </div>
    </section>

</div>