<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="uk-breadcrumb uk-margin-medium-top">
        <li><a th:href="@{/admin/news}">News</a></li>
        <li class="uk-disabled"><a>Edit</a></li>
        <li><span class="uk-text-bold" th:text="${news.title}"></span></li>
    </ul>

    <form action="#"
          th:action="@{/admin/news/update/{id}(id=${id})}"
          th:object="${news}"
          method="POST"
          enctype="multipart/form-data"
          class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">News Title</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{title}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Short Description</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <textarea th:field="*{shortDescription}"
                                          class="uk-textarea uk-height-small uk-width-1-1"
                                          type="text"
                                          placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Large Description</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <textarea th:field="*{description}"
                                          class="uk-textarea uk-height-small uk-width-1-1"
                                          type="text"
                                          placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Link Facebook</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{linkFacebook}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Link Linkedin</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input th:field="*{linkLinkedIn}" class="uk-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Date</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <input
                                        th:field="*{postDate}"
                                        class="form-control datepicker-here"
                                        type="text"
                                        data-language='en'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-radio" type="radio" name="radio2" value="IN" th:field="*{categoryNews}"> Industry News</label>
            <label><input class="uk-radio" type="radio" name="radio2" value="CU" th:field="*{categoryNews}"> Company Updates</label>
        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">
            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Image</h4>
            </div>
            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">
                                    <input th:field="*{file}" type="file" name="file"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
                <input type="submit" class="uk-button uk-button-secondary uk-button-large" value="Update News">
            </div>
        </div>
    </form>

</div>