<!DOCTYPE html>

<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" type="text/css" th:href="@{/css/uikit/uikit.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/admin/datepicker.css}"/>

        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/uikit/uikit.js}"></script>
        <script th:src="@{/js/uikit/uikit-icons.js}"></script>
        <script th:src="@{/js/admin/datepicker.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>

        <title>Admin :: UtilitiesOne</title>
    </head>
    <body>

        <header>

            <div uk-sticky="" media="@m" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container" class="uk-sticky uk-sticky-fixed">

                <nav class="uk-background-secondary uk-light" uk-navbar>

                    <div class="uk-navbar-left">
                        <a href="#offcanvas-usage" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle></a>
                        <a class="uk-navbar-item uk-logo" th:href="@{/admin}">
                            <img src="/images/logo-inverted.png" style="height: 40px;"/>
                        </a>
                        <ul class="uk-navbar-nav">
                            <li><a href="/">Frontpage</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-center">
                        <h2 class="uk-margin-remove">
                            <span th:if="${#request.requestURI == '/admin/content'}">Content</span>
                            <span th:if="${#request.requestURI == '/admin/content/partners'}">Partners</span>
                            <span th:if="${#request.requestURI == '/admin/services'}">Services</span>
                            <span th:if="${#request.requestURI == '/admin/projects'}">Projects</span>
                            <span th:if="${#request.requestURI == '/admin/projects/categories'}">Categories</span>
                            <span th:if="${#request.requestURI == '/admin/projects/map'}">Map</span>
                            <span th:if="${#request.requestURI == '/admin/team'}">Team</span>
                            <span th:if="${#request.requestURI == '/admin/subcontractors'}">Subcontractors</span>
                            <span th:if="${#request.requestURI == '/admin/representatives'}">Representatives</span>
                        </h2>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>

                </nav>

            </div>

        </header>

        <main>

            <div th:replace="admin/fragments/header :: header"></div>

            <div class="content-wrapper">
                <div id="page-content-wrapper uk-margin-top">
                    <div class="uk-container uk-container-medium" id="content">

                        <div layout:fragment="content"></div>

                    </div>
                </div>
            </div>

        </main>

        <!--<script src="../static/css/admin/js/main.js"></script>-->

    </body>
</html>