<footer class="uk-light footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" style="background-color: #1b1c26;" xmlns:static="http://www.w3.org/1999/xhtml">
    <div class="uk-container">
        <div class="upButton"></div>
        <div class="site-map">
            <div class="column">
                <a th:href="@{/}"><h2>HOME</h2></a>
                <a th:href="@{/}"><p>Core Values</p></a>
                <a th:href="@{/#site_map}"><p>Site Map</p></a>
            </div>
            <div class="column">
                <a th:href="@{/about-us}"><h2>ABOUT US</h2></a>
                <a th:href="@{/about-us#our-history}"><p>History</p></a>
                <a th:href="@{/about-us#team}"><p>Team</p></a>
                <a th:href="@{/about-us#proud-members}"><p>Proud Members of</p></a>
                <a th:href="@{/about-us#our-partners}"><p>Our Partners</p></a>
            </div>
            <div class="column">
                <h2 class="title"><a th:href="@{/news(page=${1})}" class="">NEWS</a></h2>
                <a th:href="@{/news-ctg(c=${'IN'}, page=${1})}"><p class="content">Industry News</p></a>
                <a th:href="@{/news-ctg(c=${'CU'}, page=${1})}"><p class="content">Company Updates</p></a>
            </div>
            <div class="column">
                <a th:href="@{/expertise}"><h2 class="title">EXPERTISE</h2></a>
                <a th:href="@{/skills(s=${'construction'})}"><p class="content">Construction</p></a>
                <a th:href="@{/skills(s=${'wireless'})}"><p class="content">Wireless</p></a>
                <a th:href="@{/skills(s=${'energy'})}"><p class="content">Energy</p></a>
                <a th:href="@{/skills(s=${'engineering'})}"><p class="content">Engineering</p></a>
                <a th:href="@{/skills(s=${'technology-deployment'})}"><p class="content">Technology Deployment</p></a>
            </div>
            <div class="column">
                <a th:href="@{/projects}"><h2 class="title">PROJECTS</h2></a>
                <a th:href="@{/projects#background}"><p class="content">Background</p></a>
                <a th:href="@{/projects#locations}"><p class="content">Locations Covered</p></a>
                <a th:href="@{/projects#case_studies}"><p class="content">Case Studies</p></a>
            </div>
            <div class="column">
                <a th:href="@{/career}"><h2>CAREERS</h2></a>
                <a th:href="@{/career#why_work_at_utilities_one}"><p class="content">Why Utilities One</p></a>
                <a th:href="@{/vacancies(cn=${'construction'})}"><p class="content">Construction Careers</p></a>
                <a th:href="@{/vacancies(cn=${'wireless'})}"><p class="content">Wireless Careers</p></a>
                <a th:href="@{/vacancies(cn=${'energy'})}"><p class="content">Energy Careers</p></a>
                <a th:href="@{/vacancies(cn=${'engineering'})}"><p class="content">Engineering Careers</p></a>
                <a th:href="@{/vacancies(cn=${'technology deployment'})}"><p class="content">Technology Deployment Careers</p></a>
                <a th:href="@{/vacancies(cn=${'military and veterans'})}"><p class="content">Military Veterans</p></a>
                <a th:href="@{/subcontractors}"><p class="content">Subcontracting Opportunities</p></a>
            </div>
            <div class="column">
                <a th:href="@{/contact-us}"><h2 class="title">CONTACT</h2></a>
                <a th:href="@{/contact-us#}"><p class="content">General Contact Information</p></a>
                <a th:href="@{/contact-us#our_representatives}"><p class="content">Our Offices Locations</p></a>
            </div>
        </div>
    </div>
        <hr>
    <div class="uk-container">
        <div class="mainBlock">
            <div class="logo">
                <img src="images/logoUtilites.svg">
            </div>
            <div class="address">
                <img src="images/pin.svg" class="pin">
                <span class="text">13 Branch Street, suite 207, Methuen, MA 01844</span>
            </div>
            <div class="copy">
                <p class="title">UTILITIES ONE</p>
                <p class="text">COPYRIGHT © 2020 UTILITIES ONE</p>
            </div>
            <div class="phone">
                <a href="tel:9782584907">
                    <img src="images/telFooter.svg" class="tel">
                    <span class="text">(978) 258-4907</span>
                </a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/UtilitiesOne/?view_public_for=1625716964118130" target="_blank">
                    <img src="images/Facebook.svg" class="fb">
                    <span class="text">Facebook</span>
                </a>
            </div>
            <div class="linkedIn">
                <a href="https://www.linkedin.com/company/utilitiesone/?viewAsMember=true" target="_blank">
                    <img src="images/LinkedIn.svg" class="in">
                    <span class="text">LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</footer>