<div th:fragment="form" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml">

    <form th:action="@{/add}"
          th:object="${formResumeData}"
          method="POST"
          enctype="multipart/form-data"
          class="submitForm" style="overflow: hidden;">
        <h3 data-aos="fade-right" data-aos-duration="700">Submit Form</h3>
        <div class="messageEnter" th:if="${sendSuccessfullyMsg != null}" th:text="${sendSuccessfullyMsg}"></div>
        <div class="messageErr" th:if="${errMsg != null}" th:text="${errMsg}"></div>
        <div class="form-group" data-aos="fade-right" data-aos-duration="900">
            <input type="text" th:field="*{fullName}" placeholder="Full Name" class="uk-input">
        </div>
        <div class="form-group" data-aos="fade-left" data-aos-duration="900">
            <input type="text" th:field="*{email}" placeholder="Email"  class="uk-input icon1">
        </div>
        <div class="form-group" data-aos="fade-right" data-aos-duration="900">
            <input type="text" th:field="*{phone}" placeholder="Phone"  class="uk-input icon2">
        </div>
        <div class="form-group" style="border: 1px solid #ebebed; overflow: hidden; background-color: #fafafa;" data-aos="fade-left" data-aos-duration="900">
            <input type="file" th:field="*{multipartFile}" class="file">
                <p class="paragraph"><span class="newFile">Upload your CV</span></p>
        </div>
        <div class="form-group" data-aos="fade-right" data-aos-duration="900">
            <input type="text" class="uk-input selectCategory" name="jobTitle" placeholder="Position" readonly="readonly">
        </div>
        <div class="form-group w-100" data-aos="fade-left" data-aos-duration="900">
            <textarea th:field="*{message}">Message</textarea>
        </div>
        <div class="buttonBox">
            <button type="submit" class="btnForm" data-aos="fade-right" data-aos-duration="900">Apply now</button>
        </div>
    </form>

</div>