
/* Fonts
   ================================= */

@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-thin-webfont.eot'); src: url('../fonts/lato/lato-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-thin-webfont.woff2') format('woff2'), url('../fonts/lato/lato-thin-webfont.woff') format('woff'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-thinitalic-webfont.eot'); src: url('../fonts/lato/lato-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-thinitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-thinitalic-webfont.woff') format('woff'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-hairline-webfont.eot'); src: url('../fonts/lato/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-hairline-webfont.woff2') format('woff2'), url('../fonts/lato/lato-hairline-webfont.woff') format('woff'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-hairlineitalic-webfont.eot'); src: url('../fonts/lato/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-hairlineitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-hairlineitalic-webfont.woff') format('woff'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-light-webfont.eot'); src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato/lato-light-webfont.woff') format('woff'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-lightitalic-webfont.eot'); src: url('../fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-lightitalic-webfont.woff') format('woff'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-regular-webfont.eot'); src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-italic-webfont.eot'); src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-medium-webfont.eot'); src: url('../fonts/lato/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-medium-webfont.woff2') format('woff2'), url('../fonts/lato/lato-medium-webfont.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-mediumitalic-webfont.eot'); src: url('../fonts/lato/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-mediumitalic-webfont.woff') format('woff'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-semibold-webfont.eot'); src: url('../fonts/lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-semibold-webfont.woff2') format('woff2'), url('../fonts/lato/lato-semibold-webfont.woff') format('woff'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-semibolditalic-webfont.eot'); src: url('../fonts/lato/lato-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-semibolditalic-webfont.woff') format('woff'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-bold-webfont.eot'); src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-bolditalic-webfont.eot'); src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-black-webfont.eot'); src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff2') format('woff2'), url('../fonts/lato/lato-black-webfont.woff') format('woff'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-blackitalic-webfont.eot'); src: url('../fonts/lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-blackitalic-webfont.woff') format('woff'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-heavy-webfont.eot'); src: url('../fonts/lato/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-heavy-webfont.woff2') format('woff2'), url('../fonts/lato/lato-heavy-webfont.woff') format('woff'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'lato'; src: url('../fonts/lato/lato-heavyitalic-webfont.eot'); src: url('../fonts/lato/lato-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-heavyitalic-webfont.woff2') format('woff2'), url('../fonts/lato/lato-heavyitalic-webfont.woff') format('woff'); font-weight: 900; font-style: italic; }

@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-thin-webfont.eot'); src: url('../fonts/montserrat/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-thin-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-thin-webfont.woff') format('woff'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-thinitalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-thinitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-thinitalic-webfont.woff') format('woff'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-extralight-webfont.eot'); src: url('../fonts/montserrat/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-extralightitalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-extralightitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralightitalic-webfont.woff') format('woff'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-light-webfont.eot'); src: url('../fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-lightitalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-lightitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-lightitalic-webfont.woff') format('woff'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-regular-webfont.eot'); src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-italic-webfont.eot'); src: url('../fonts/montserrat/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-italic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-italic-webfont.woff') format('woff'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-medium-webfont.eot'); src: url('../fonts/montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-mediumitalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-mediumitalic-webfont.woff') format('woff'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-semibold-webfont.eot'); src: url('../fonts/montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-semibolditalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibolditalic-webfont.woff') format('woff'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-bold-webfont.eot'); src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-bolditalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-bolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-bolditalic-webfont.woff') format('woff'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-extrabold-webfont.eot'); src: url('../fonts/montserrat/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-extrabolditalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extrabolditalic-webfont.woff') format('woff'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-black-webfont.eot'); src: url('../fonts/montserrat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-black-webfont.woff') format('woff'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'montserrat'; src: url('../fonts/montserrat/montserrat-blackitalic-webfont.eot'); src: url('../fonts/montserrat/montserrat-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-blackitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-blackitalic-webfont.woff') format('woff'); font-weight: 900; font-style: italic; }

@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-extralight-webfont.eot'); src: url('../fonts/oswald/oswald-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-extralight-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-extralight-webfont.woff') format('woff'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-extra-lightitalic-webfont.eot'); src: url('../fonts/oswald/oswald-extra-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-extra-lightitalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-extra-lightitalic-webfont.woff') format('woff'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-light-webfont.eot'); src: url('../fonts/oswald/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-light-webfont.woff') format('woff'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-lightitalic-webfont.eot'); src: url('../fonts/oswald/oswald-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-lightitalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-lightitalic-webfont.woff') format('woff'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-medium-webfont.eot'); src: url('../fonts/oswald/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-medium-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-medium-webfont.woff') format('woff'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-mediumitalic-webfont.eot'); src: url('../fonts/oswald/oswald-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-mediumitalic-webfont.woff') format('woff'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-regular-webfont.eot'); src: url('../fonts/oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-regular-webfont.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-regularitalic-webfont.eot'); src: url('../fonts/oswald/oswald-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-regularitalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-regularitalic-webfont.woff') format('woff'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-demibold-webfont.eot'); src: url('../fonts/oswald/oswald-demibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-demibold-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-demibold-webfont.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-demi-bolditalic-webfont.eot'); src: url('../fonts/oswald/oswald-demi-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-demi-bolditalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-demi-bolditalic-webfont.woff') format('woff'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-bold-webfont.eot'); src: url('../fonts/oswald/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-bold-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-bold-webfont.woff') format('woff'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-bolditalic-webfont.eot'); src: url('../fonts/oswald/oswald-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-bolditalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-bolditalic-webfont.woff') format('woff'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-heavy-webfont.eot'); src: url('../fonts/oswald/oswald-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-heavy-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-heavy-webfont.woff') format('woff'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'oswald'; src: url('../fonts/oswald/oswald-heavyitalic-webfont.eot'); src: url('../fonts/oswald/oswald-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/oswald-heavyitalic-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-heavyitalic-webfont.woff') format('woff'); font-weight: 800; font-style: italic; }

/* Styles
   ================================= */

body { font-family: 'montserrat' !important; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'montserrat' !important; font-weight: 400; }
.h1, h1 { font-size: 3.5em; line-height: 1.15; margin-bottom: 30px }
.h1 small,
h1 small { font-weight: 700; text-transform: uppercase; opacity: .8; }
.h2, h2 { font-size: 2.5em }
.h2, .h3, h2, h3 { margin-bottom: 30px }
.h3, h3 { font-size: 1.825em; line-height: 1.4em }
.h4, h4 { font-size: 1.5em; line-height: 1.45em; margin-top: 30px; margin-bottom: 15px }
.h4 + .category,
.h4.title + .category, h4 + .category, h4.title + .category { margin-top: -5px }
.h5, h5 { font-size: 1.3em; line-height: 1.4em; margin-bottom: 15px }
.h5.category,
h5.category { font-weight: 400 }
.h6, h6 { font-size: .9em; font-weight: 700; text-transform: uppercase }

#cable:before {
    content: "";
    display: block;
    padding-top: 190px; /* header height + empty space */
    margin-top: -150px; /* header height to degrees padding’s space */
}

.u1-title-description { color: #9a9a9a; font-weight: 300; }

.uk-text-large { font-size: 24px; }

.uk-logo { width: 150px; }
.uk-navbar-nav > li.uk-active > a { font-weight: 700; }
.uk-navbar-nav > li.uk-active > a::before { right: 200px; transition: 0.5s; }
.uk-navbar-nav > li:hover > a::before { right: 15px; }
.u1-page-title { font-weight: 800; font-size: 80px; line-height: 1.3em; }

.u1-cover-brightness { filter: brightness(60%); }
.u1-background-lines { background-image: url(../images/svg/section-background-image-lines.svg); background-position-x: 50%; }

.u1-card-executive-container::before { content: ""; height: 80px; display: block; }
.u1-card-executive {  }
.u1-card-executive .u1-card-title { color: #cc3638; }
.u1-avatar-parent { height: 100px; }
.u1-avatar-border { border: 0px solid transparent; border-radius: 100%; background: linear-gradient(to top right, #EE2B29, #EA5F21); background-clip: padding-box; padding: 10px; box-shadow: 0 0px 0px black, inset 0 0 0px white; }
.u1-avatar-border::after { position: absolute; top: -4px; bottom: -4px; left: -4px; right: -4px; content: ''; z-index: -1; border-radius: 16px; }

.uk-switch { position: relative; display: inline-block; height: 24px; width: 50px; }
.uk-switch input { display: none; }
.uk-switch-slider { background-color: rgba(0, 0, 0, 0.22); position: absolute; top: 0; left: 0; right: 0; border-radius: 500px; bottom: 0; cursor: pointer; transition-property: background-color; transition-duration: .2s; box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07); }
.uk-switch-slider:before { content: ''; background-color: #fff; position: absolute; width: 20px; height: 20px; left: 2px; bottom: 2px; border-radius: 50%; transition-property: transform, box-shadow; transition-duration: .2s; }
input:checked + .uk-switch-slider { background-image: linear-gradient(90deg, #E92F2C, #ED6725) !important; }
input:checked + .uk-switch-slider:before { transform: translateX(26px); }
.uk-switch-slider.uk-switch-on-off { background-color: #f0506e; }
input:checked + .uk-switch-slider.uk-switch-on-off { background-color: #32d296 !important; }
.uk-switch-slider.uk-switch-big:before { transform: scale(1.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.22); }
.uk-switch-slider.uk-switch-small:before { box-shadow: 0 0 6px rgba(0, 0, 0, 0.22); }
input:checked + .uk-switch-slider.uk-switch-big:before { transform: translateX(26px) scale(1.2); }
.uk-light .uk-switch-slider:not(.uk-switch-on-off) { background-color: rgba(255, 255, 255, 0.22); }

.uk-label-default { background: #c6c6c6; }

.uk-tab > .uk-active > a h4 { font-weight: 700; }

.u1-map .uk-marker { opacity: 0.3; transition: all 0.5s; }
.u1-map .uk-marker:hover { opacity: 1; }
.uk-text-xtralarge { font-size: 50px; }