<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:static="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

    <section
            class="titleCareer uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: radial-gradient(farthest-corner at 100% 100%, rgba(233, 47, 44, 0.7), rgba(237, 103, 37, 0.7), rgba(0, 0, 0, 0.7)), url(images/careerImage.jpg);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                Careers
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                We don’t expect success, we work for it. Become a part of an amazing team
            </h4>
        </div>
    </section>

    <section class="aboutCompany uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid-large uk-grid-margin-large uk-grid" uk-grid="">
                <div class="uk-width-expand@m">
                    <div class="uk-margin uk-text-left@m">
                        <div class="uk-child-width-1-1@m uk-child-width-1-1 uk-grid-large uk-grid-match uk-grid"
                             uk-grid="">
                            <div class="el-item uk-panel uk-margin-remove-first-child uk-scrollspy-inview uk-animation-fade"
                                 uk-scrollspy-class="" style="overflow: hidden;" data-aos="fade-up" data-aos-duration="700">
                                <h2 class="uk-heading-bullet">Work with Us</h2>
                                <div id="why_work_at_utilities_one"  class="el-content" data-aos="fade-up" data-aos-duration="900">
                                    At Utilities One, we appreciate professionalism, expertise, commitment, and
                                    initiative. We welcome new vision and passion, giving people the opportunity to
                                    express themselves in business. Supporting every member of our team takes us to the
                                    next level. Innovation isn't just about the technology, Innovation is being driven
                                    by out of the box thinkers. A path to development is built by strengthening our
                                    existing abilities and gaining new ones.
                                </div>
                            </div>
                            <div class="el-item uk-panel uk-margin-remove-first-child uk-scrollspy-inview uk-animation-fade"
                                 uk-scrollspy-class="" style="" data-aos="fade-up" data-aos-duration="700">
                                <h2 class="uk-heading-bullet" style="margin-bottom: 61px;">Why Work at <span style="color:#e0621e; font-weight: 500;">Utilities One</span></h2>
                            </div>
                            <div class="valueSlider">
                                <div class="boxValueSlider CareerSlider">
                                    <ul class="uk-slider-items owl-carousel" style="margin-top: 0px;">

                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    1
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Equal Opportunity Employer</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    2
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Comfortable Work Environment</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    3
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Benefits</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    4
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Career growth</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    5
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Friendly Teammates</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    6
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Diversity and Inclusion</h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item" style="padding-right: 20px;">
                                            <div class="uk-card"
                                                 style="border: solid 1px #e5e5e5; height: 187px;">
                                                <span class="numberElement">
                                                    7
                                                </span>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Play to Your Strengths</h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-three">
        <div class="uk-container">
            <div class="thumb">
                    <a th:href="@{/vacancies(cn=${'construction'})}" class="itmThumb" style="background-image: url('images/Mask%20Group.png')" data-aos="fade-up" data-aos-duration="700">
                        <div class="contentItm">
                            <div class="icons" data-aos="fade-up" data-aos-duration="700">
                                <img src="images/Group%202024.svg">
                            </div>
                            <p class="text" data-aos="fade-up" data-aos-duration="900">Construction</p>
                        </div>
                        <div class="titleBtn">
                            <p class="textBtn">Discover
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                        </g>
                                    </g>
                                </svg>
                            </p>
                        </div>
                    </a>
                <a th:href="@{/vacancies(cn=${'wireless'})}" class="itmThumb" style="background-image: url('images/Group.png')" data-aos="fade-up" data-aos-duration="900">
                    <div class="contentItm">
                        <div class="icons" data-aos="fade-up" data-aos-duration="700">
                            <img src="images/Group%202023.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Wireless</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                        </p>
                    </div>
                </a>
                <a th:href="@{/vacancies(cn=${'energy'})}" class="itmThumb" style="background-image: url('images/energy.png')" data-aos="fade-up" data-aos-duration="700">
                    <div class="contentItm">
                        <div class="icons" data-aos="fade-up" data-aos-duration="700">
                            <img src="images/energy2.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Energy</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                        </p>
                    </div>
                </a>
                <a th:href="@{/vacancies(cn=${'engineering'})}" class="itmThumb" style="background-image: url('images/engeneer.png')" data-aos="fade-up" data-aos-duration="900">
                    <div class="contentItm">
                        <div class="icons" data-aos="fade-up" data-aos-duration="700">
                            <img src="images/engineer2.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Engineering</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                        </p>
                    </div>
                </a>
                <a th:href="@{/vacancies(cn=${'technology deployment'})}" class="itmThumb bigImage" style="background-image: url('images/technology.png')" data-aos="fade-up" data-aos-duration="700">
                    <div class="contentItm">
                        <div class="icons" data-aos="fade-up" data-aos-duration="700">
                            <img src="images/technology2.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Technology Deployment</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                        </p>
                    </div>
                </a>
                <span class="lineScreen" style="order: 0;"></span>
                <a th:href="@{/vacancies(cn=${'military and veterans'})}" class="itmThumb" style="background-image: url('images/military.png')" data-aos="fade-up" data-aos-duration="700">
                    <div class="contentItm">
                        <div class="icons" data-aos="fade-up" data-aos-duration="700">
                            <img src="images/Group%202026.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Military and Veterans</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                         </p>
                    </div>
                </a>
                <a th:href="@{/subcontractors}" class="itmThumb" style="background-image: url('images/subcontracting.png')" data-aos="fade-up" data-aos-duration="900">
                    <div class="contentItm" data-aos="fade-up" data-aos-duration="700">
                        <div class="icons">
                            <img src="images/subcontracting2.svg">
                        </div>
                        <p class="text" data-aos="fade-up" data-aos-duration="900">Subcontracting Opportunities</p>
                    </div>
                    <div class="titleBtn">
                        <p class="textBtn">Discover
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                        </p>
                    </div>
                </a>
                <span class="lineScreen"></span>
            </div>
        </div>
    </section>

</div>