<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml" class="homePageResponsive">

    <section class="uk-position-relative uk-visible-toggle uk-light principalSlider" tabindex="-1" uk-slideshow="autoplay: false; autoplay-interval: 5000;">
        <div class="homeSlider">
            <ul class="owl-carousel owl-theme">
                <li class="item"  style="background-image: url('images/eng.png')">
                    <div class="uk-container">
                        <div class="uk-position-small uk-text-left slide">
<!--                            <div class="cssanimation zoomOutRight">-->
                                <figure class="icon" data-aos="fade-right" data-aos-duration="1400">
                                    <img src="images/engineering-img.svg" style="margin-top: -7px;">
                                </figure>
<!--                            </div>-->

                            <div class="text">
                                <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="homeTitle" data-aos="fade-right" data-aos-duration="900">Engineering</h2>
                                <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" class="homeText" data-aos="fade-right" data-aos-duration="1100">Making any project a success.<br>
                                    We can make any concept come to life - from scratch.<br>
                                    Our experts are there every step of the way with both aesthetics and functionality in mind.
                                </p>

                                <a class="uk-button uk-button-default button" th:href="@{/skills(s=${'engineering'})}">Discover</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item"  style="background-image: url('images/const-img.png')">
                    <div class="uk-container">
                    <div class="uk-position-small uk-text-left slide">
                        <figure class="icon" data-aos="fade-right" data-aos-duration="1400">
                            <img src="images/wireless-img.svg">
                        </figure>
                        <div class="text">
                            <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="homeTitle" data-aos="fade-right" data-aos-duration="900">Construction</h2>
                            <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" class="homeText" data-aos="fade-right" data-aos-duration="1100">Building a better tomorrow.<br>
                                We are committed to making a real impact.<br>
                                Our crew is on a mission to assemble the infrastructure your community deserves.
                            </p>
                            <a class="uk-button uk-button-default button" th:href="@{/skills(s=${'construction'})}">Discover</a>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="item"  style="background-image: url('images/Slider_Wireless_Home.png')">
                    <div class="uk-container">
                    <div class="uk-position-small uk-text-left slide">
                        <figure class="icon">
                            <img src="images/energy-img.svg" style="margin-top: -28px;">
                        </figure>
                        <div class="text">
                            <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="homeTitle">Wireless</h2>
                            <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" class="homeText">Bringing people together.<br>
                                We have what it takes to facilitate rock-solid broadband connections.<br>
                                Our commitment to innovation allows us to deliver cutting-edge network solutions.
                            </p>
                            <a class="uk-button uk-button-default button" th:href="@{/skills(s=${'wireless'})}">Discover</a>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="item"  style="background-image: url('images/Slider_Energy_Home.png')">
                    <div class="uk-container">
                    <div class="uk-position-small uk-text-left slide">
                        <figure class="icon">
                            <img src="images/enrgy-icon.svg" style="margin-top: -14px;">
                        </figure>
                        <div class="text">
                            <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="homeTitle">Energy</h2>
                            <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" class="homeText">Keeping the lights on.<br>
                                We work tirelessly, fueling your day-to-day energy needs.<br>
                                Our experts provide tried-and-true energy services tailored to your requirements.
                            </p>
                            <a class="uk-button uk-button-default button" th:href="@{/skills(s=${'energy'})}">Discover</a>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="item"  style="background-image: url('images/Slider_Technology Deployment_Home.png')">
                    <div class="uk-container">
                    <div class="uk-position-small uk-text-left slide">
                        <figure class="icon">
                            <img src="images/Techonology_icon.svg" style="opacity: 30%;">
                        </figure>
                        <div class="text">
                            <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="homeTitle">Technology Deployment</h2>
                            <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" class="homeText" style="width: 100%;">Integrating modern innovations.<br>
                                We use avant-garde tech in all our processes.<br>
                                Our employees are fully equipped to carry out the installation, maintenance, and repair activities.
                            </p>
                            <a class="uk-button uk-button-default button" th:href="@{/skills(s=${'technology-deployment'})}">Discover</a>
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
            <div class="arrows">
                <a class="uk-position-bottom-right uk-position-small leftArrow" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-bottom-right uk-position-small rightArrow" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
    </section>

    <section class="section-two">
        <div class="uk-container">
            <div class="mainBlock">
                <img src="images/vector-logo.svg" class="backgroundLogo" data-aos="fade-up" data-aos-duration="1200">
                <div class="homeContent">
                    <h1 class="title" data-aos="fade-up" data-aos-duration="700">Delivering industry-leading solutions</h1>
                    <p class="content" data-aos="fade-up" data-aos-duration="900"><span style="color:#e0621e; font-weight: 600;">Utilities One</span> is a full-service company offering infrastructure solutions for the Telecommunications providers, Electric Utilities, Oil & Gas, Wireless Carriers, Engineering, and Technology Deployment industries.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-three">
        <div class="uk-container">
            <div class="mainBlock">
                <div class="imageBlock">
                    <div class="card" data-aos="fade-up" data-aos-duration="700">
                        <figure class="img">
                            <img src="images/icon_safety.svg" class="img">
                        </figure>
                        <p class="title">Safety</p>
                        <p class="content">Because the health and wellbeing of both our staff members and our customers are always our top priority.</p>
                    </div>
                   <div class="card" data-aos="fade-up" data-aos-duration="900">
                       <figure class="img">
                           <img src="images/icon_confidence.svg" class="img">
                       </figure>
                       <p class="title">Confidence</p>
                       <p class="content">Because we value both our employees and our clients and we are building strong, reliable, and effective work and business relationships.</p>
                   </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1100">
                        <figure class="img">
                            <img src="images/icon_quality.svg" class="img">
                        </figure>
                        <p class="title">Quality</p>
                        <p class="content">Because we strive to deliver excellence on a day to day basis – in everything we do, from smaller things and all the way to the biggest projects.</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1300">
                        <figure class="img">
                            <img src="images/icon_innovation.svg" class="img">
                        </figure>
                        <p class="title">Innovation</p>
                        <p class="content">Because we believe that only by applying modern solutions and technological advancements, we will be able to deliver exceptional results.</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1500">
                        <figure class="img">
                            <img src="images/icon_integrity.svg" class="img">
                        </figure>
                        <p class="title">Integrity</p>
                        <p class="content">Because our team and the work we are doing are all part of a well-oiled machine designed to provide world-class services.</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1700">
                        <figure class="img">
                            <img src="images/icon_expertise.svg" class="img">
                        </figure>
                        <p class="title">Expertise</p>
                        <p class="content">Because our knowledge and our rich experience allow us to handle even the utmost challenging situations.</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1900">
                        <figure class="img">
                            <img src="images/icon_flexibility.svg" class="img">
                        </figure>
                        <p class="title">Flexibility</p>
                        <p class="content">Because we are always willing to adapt to the ever-changing environment and conduct our business in an efficient, fully adjustable manner.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="site_map" class="section-four">
        <div class="uk-container">
            <span class="lineScreen"></span>
            <div class="homeContent">
                <p class="title" data-aos="fade-up" data-aos-duration="900">Site Map</p>
            </div>
            <div class="mainBlock">
                <div class="imageBlock">
                    <div class="card" data-aos="fade-up" data-aos-duration="700">
                        <a th:href="@{/about-us}"><figure class="img">
                            <img src="images/AboutUs_SiteMap.png" style="width: 100%">
                        </figure>
                        </a>
                        <p class="title">Who we are</p>
                        <p class="content">Company background and dedicated team of industry experts</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="900">
                        <a th:href="@{/news(page=${1})}"><figure class="img">
                            <img src="images/News_SiteMap.png" style="width: 100%">
                        </figure></a>
                        <p class="title">News</p>
                        <p class="content">Keep your hand on the pulse - industry news and company updates</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1100">
                        <a th:href="@{/expertise}"><figure class="img">
                            <img src="images/Expertise_SiteMap.png" style="width: 100%">
                        </figure></a>
                        <p class="title">Expertise</p>
                        <p class="content">Discover our services and get to know our benefits</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1300">
                        <a th:href="@{/projects}"><figure class="img">
                            <img src="images/Projects_SiteMap.png" style="width: 100%">
                        </figure></a>
                        <p class="title">Projects</p>
                        <p class="content">Explore our case studies and most notable undertakings</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1500">
                        <a th:href="@{/career}"><figure class="img">
                            <img src="images/Careers_SiteMap.png" style="width: 100%">
                        </figure></a>
                        <p class="title">Careers</p>
                        <p class="content">Become a part of our team</p>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-duration="1700">
                        <a th:href="@{/contact-us}"><figure class="img">
                            <img src="images/ContactUs_SiteMap.png" style="width: 100%">
                        </figure></a>
                        <p class="title">Contact Us</p>
                        <p class="content">Get answers to your questions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-five">
        <div class="uk-container">
            <div class="homeContent">
                <p class="content" data-aos="fade-up" data-aos-duration="900">Our company is fully committed to providing <span style="color:#e0621e; font-weight: bold;">world-class</span> customer services that meet or exceed the expectations of our clients.</p>
            </div>
        </div>
    </section>

</div>