<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml">

    <section class="uk-section uk-section-large">
        <div class="uk-container">

            <div class="uk-grid-medium uk-grid-margin-medium" uk-grid>
                <div class="uk-grid-item-match uk-flex-middle uk-width-1-1@m">
                    <div class="uk-panel uk-width-1-1">
                        <h2 class="uk-text-bold uk-text-center" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 200;" static:content="login_page_title"></h2>
                    </div>
                </div>
            </div>

            <div class="uk-child-width-1-3 uk-grid-large uk-flex-center" uk-grid uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200;">

                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>

                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">

                            <h3 class="uk-card-title uk-text-center">Welcome</h3>
                            <form action="#" th:action="@{/login}" method="POST">

                                <div th:if="${param.error}">
                                    <div class="uk-alert uk-alert-danger">
                                        Invalid username and password.
                                    </div>
                                </div>
                                <div th:if="${param.logout}">
                                    <div class="uk-alert uk-alert-primary">
                                        You have been logged out.
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                        <input class="uk-input uk-form-large" type="text" name="username">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input uk-form-large" type="password" name="password">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-width-1-1">
                                        <label><input class="uk-checkbox" type="checkbox" name="remember-me"> Remember me</label>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <input type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" value="Sign in"/>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

</div>