<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:static="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" class="newsSingle">

    <section
            class="titleNews uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: linear-gradient(90deg, rgb(0 28 51 / 78%) 0%, rgb(189 74 11 / 79%) 100%), url(images/News_Banner.png);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                News
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                We are committed to meeting each project's specific requirements!
            </h4>
        </div>
    </section>

    <section class="contentNewsSingle">
        <div class="uk-container">
            <div class="contentSingle">
                <div class="postContentDescription">
                    <figure th:style="'background:url(' + @{/uploads/{picName}.{picType}(picName=${news.picName},picType=${news.picType})} + ');'" class="imageFigure"></figure>
                    <h3 class="titlePost" data-aos="fade-up" data-aos-duration="1200">
                        [[${news.title}]]
                    </h3>
                    <div th:utext="${news.description}" data-aos="fade-up" data-aos-duration="700">

                    </div>

                    <div class="boxSocial shareButton radio-none color-btn">
                        <span>Read About</span>
                        <a th:href="${news.linkFacebook}" target="_blank" data-aos="fade-up" data-aos-duration="900">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"
                                 viewBox="0 0 18 18">
                                <path fill="#fff" d="M9 18c4.97 0 9-4.03 9-9s-4.03-9-9-9-9 4.03-9 9 4.03 9 9 9z"/>
                                <path fill="#34599D"
                                      d="M10.306 5.672h.914V4.078c-.442-.049-.887-.072-1.333-.07-.308-.018-.616.031-.903.145-.287.113-.546.289-.758.513-.212.224-.373.493-.47.786-.098.293-.13.603-.094.91v1.403H6.21v1.781h1.452v4.481H9.45v-4.48h1.397l.221-1.782h-1.62V6.54c0-.515.139-.867.856-.867h.002z"/>
                            </svg>
                            Facebook
                        </a>
                        <a th:href="${news.linkLinkedIn}" target="_blank" data-aos="fade-up" data-aos-duration="1100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"
                                 viewBox="0 0 18 18">
                                <circle cx="9.001" cy="9" r="7.2" fill="#0077B5"/>
                                <path fill="#fff"
                                      d="M9 18c-1.78 0-3.52-.528-5-1.517-1.48-.989-2.634-2.394-3.315-4.039-.681-1.644-.86-3.454-.512-5.2.347-1.746 1.204-3.35 2.463-4.608C3.895 1.377 5.498.52 7.244.173c1.746-.347 3.556-.17 5.2.512 1.645.681 3.05 1.835 4.04 3.315C17.471 5.48 18 7.22 18 9c-.003 2.386-.952 4.674-2.639 6.361C13.674 17.048 11.386 17.997 9 18zm1.656-10.021c.665 0 1.017.475 1.017 1.373V12.6h2.007V9.118c0-1.71-.864-2.733-2.31-2.733-.364-.014-.725.072-1.044.249-.318.176-.583.437-.764.752v-.858h-2.01c.027.567 0 6.017 0 6.072H9.56V9.209c-.009-.167.013-.334.066-.492.074-.215.213-.401.398-.533.184-.132.405-.204.632-.205h.001zm-6.22-1.451V12.6h2.007V6.528H4.436zM5.453 3.6c-.144-.012-.289.006-.425.052-.137.046-.263.12-.37.218-.107.097-.192.215-.252.346-.06.132-.09.275-.093.419-.001.144.027.288.082.42.056.134.139.254.243.354.105.1.229.177.364.227.136.05.28.071.424.063h.014c.144.011.288-.008.425-.055s.262-.122.368-.22c.107-.097.192-.216.25-.348.059-.132.09-.275.09-.42.001-.144-.027-.287-.084-.42-.057-.133-.14-.252-.246-.351-.105-.1-.23-.176-.365-.225-.136-.049-.28-.07-.425-.06z"/>
                            </svg>
                            LinkedIn
                        </a>
                    </div>
                    <hr />
                    <div class="shareButton shareButtonBottom">
                        <span>Share Via</span>
                        <a th:href="@{https://www.linkedin.com/shareArticle?mini=true&url=} + ${shareUrl}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <circle cx="9.00078" cy="9.00078" r="7.2" fill="white"/>
                                <path d="M9 18C7.21997 18 5.47991 17.4722 3.99987 16.4832C2.51983 15.4943 1.36628 14.0887 0.685088 12.4442C0.00389957 10.7996 -0.17433 8.99002 0.172936 7.24419C0.520203 5.49836 1.37737 3.89471 2.63604 2.63604C3.89471 1.37737 5.49836 0.520203 7.24419 0.172936C8.99002 -0.17433 10.7996 0.00389957 12.4442 0.685088C14.0887 1.36628 15.4943 2.51983 16.4832 3.99987C17.4722 5.47991 18 7.21997 18 9C17.9974 11.3861 17.0483 13.6738 15.3611 15.3611C13.6738 17.0483 11.3861 17.9974 9 18ZM10.656 7.9785C11.3211 7.9785 11.673 8.4537 11.673 9.3519V12.6H13.68V9.1179C13.68 7.4079 12.816 6.3846 11.3697 6.3846C11.0057 6.37115 10.6449 6.45734 10.3263 6.63386C10.0076 6.81039 9.74324 7.07056 9.5616 7.3863V6.5277H7.5528C7.5789 7.0947 7.5528 12.5451 7.5528 12.6H9.5589V9.2088C9.55017 9.04205 9.57245 8.87513 9.6246 8.7165C9.69902 8.50206 9.83807 8.31596 10.0226 8.18379C10.2072 8.05163 10.4281 7.97991 10.6551 7.9785H10.656ZM4.4361 6.5277V12.6H6.4431V6.5277H4.4361ZM5.4531 3.6C5.3092 3.58798 5.16436 3.60571 5.0276 3.65209C4.89084 3.69847 4.7651 3.7725 4.6582 3.86959C4.55129 3.96667 4.46552 4.08472 4.40621 4.21639C4.34691 4.34805 4.31535 4.49052 4.31349 4.63492C4.31163 4.77931 4.33952 4.92254 4.39542 5.05569C4.45131 5.18884 4.53402 5.30906 4.63839 5.40886C4.74276 5.50866 4.86656 5.58591 5.00208 5.63579C5.1376 5.68567 5.28194 5.70712 5.4261 5.6988H5.4396C5.58365 5.71003 5.72847 5.69147 5.86503 5.64428C6.00159 5.59709 6.12696 5.52227 6.23334 5.4245C6.33972 5.32672 6.42481 5.20809 6.48333 5.07598C6.54184 4.94388 6.57252 4.80113 6.57345 4.65665C6.57438 4.51217 6.54554 4.36905 6.48873 4.2362C6.43192 4.10335 6.34835 3.98363 6.24324 3.8845C6.13813 3.78536 6.01373 3.70894 5.87779 3.66C5.74185 3.61105 5.59728 3.59063 5.4531 3.6Z" fill="#0077B5"/>
                            </svg>
                            LinkedIn</a>
                        <a th:href="@{https://www.facebook.com/sharer/sharer.php?u=} + ${shareUrl}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#34599D"/>
                                <path d="M10.3049 5.67169H11.2193V4.07779C10.7767 4.02928 10.3317 4.00584 9.88638 4.00759C9.57814 3.98938 9.26965 4.03888 8.98259 4.15263C8.69552 4.26637 8.43684 4.44159 8.22472 4.66597C8.0126 4.89036 7.85218 5.15847 7.75474 5.45147C7.6573 5.74447 7.6252 6.05525 7.66068 6.36199V7.76509H6.20898V9.54619H7.66068V14.0273H9.44898V9.54619H10.8458L11.0672 7.76509H9.44718V6.53839C9.44718 6.02359 9.58578 5.67169 10.3031 5.67169H10.3049Z" fill="white"/>
                            </svg>
                            Facebook</a>
                        <a th:href="@{https://twitter.com/intent/tweet?url=} + ${sharedUtlTwitter}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#55ACEE"/>
                                <path d="M14 5.97395C13.6321 6.13384 13.2367 6.24191 12.8216 6.29051C13.2453 6.04169 13.5705 5.64771 13.7237 5.17828C13.3273 5.40864 12.8883 5.57595 12.4209 5.66613C12.0467 5.27541 11.5135 5.03125 10.9234 5.03125C9.79034 5.03125 8.87172 5.93137 8.87172 7.0416C8.87172 7.19916 8.8899 7.3526 8.92487 7.49974C7.21976 7.4159 5.70804 6.61553 4.69615 5.39925C4.51955 5.69617 4.41838 6.04151 4.41838 6.40994C4.41838 7.1074 4.78061 7.72275 5.3311 8.08326C4.99477 8.07283 4.67844 7.9824 4.40181 7.83182C4.40166 7.84021 4.40166 7.84863 4.40166 7.85709C4.40166 8.83115 5.10886 9.64371 6.0474 9.82837C5.87523 9.87432 5.69399 9.89887 5.50686 9.89887C5.37467 9.89887 5.24613 9.88629 5.12089 9.86281C5.38195 10.6615 6.13962 11.2428 7.03738 11.259C6.33524 11.7982 5.4506 12.1196 4.48941 12.1196C4.32382 12.1196 4.1605 12.1101 4 12.0915C4.90793 12.6619 5.98636 12.9947 7.14496 12.9947C10.9186 12.9947 12.9822 9.93134 12.9822 7.27472C12.9822 7.18755 12.9802 7.10084 12.9763 7.01464C13.3771 6.7312 13.7249 6.37711 14 5.97395Z" fill="white"/>
                            </svg>
                            Twitter</a>
                    </div>
                </div>
        </div>
        <div class="contentNews" data-aos="fade-up" data-aos-duration="900">
            <h2 class="uk-heading-bullet">Related Posts</h2>
            <div class="uk-container">
                <div class="contentNewsContent" data-aos="fade-up" data-aos-duration="1000">
                    <div class="owl-carousel">

                        <div class="item itmNews" th:each="news : ${listNews}">
                            <a th:href="@{news-single(nw_type=${news.id})}">
                                <figure th:style="'background:url(' + @{/uploads/{picName}.{picType}(picName=${news.picName},picType=${news.picType})} + ');'"></figure>
                            </a>
                            <div class="contentTextNews">
                                <span class="datePost" data-aos="fade-up" data-aos-duration="1100">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                                         xml:space="preserve">
                                        <g>
                                            <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"></path>
                                            <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                                        </g>
                                    </svg>
                                    [[${#dates.day(news.postDate)}]] [[${news.monthName}]], [[${#dates.year(news.postDate)}]]
                                </span>
                                <h3 class="titlePost" data-aos="fade-up" data-aos-duration="1200">
                                    [[${news.title}]]
                                </h3>
                                <p class="descriptionPost" data-aos="fade-up" data-aos-duration="1300">
                                    [[${news.shortDescription}]]
                                </p>
                                <a th:href="@{news-single(nw_type=${news.id})}" class="linkPost" data-aos="fade-up" data-aos-duration="1400">
                                    Read more
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

