<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage vacanciesBeforeBottom">

    <section
            class="uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: radial-gradient(farthest-corner at 100% 100%, rgba(233, 47, 44, 0.7), rgba(237, 103, 37, 0.7), rgba(0, 0, 0, 0.7)), url(images/careerImage.jpg);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                Careers
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                We don’t expect success, we work for it. Became a part of an amazing team!
            </h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Careers</span>
            </div>
            <ul class="ulCategories">
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/vacancies(cn=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/vacancies(cn=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/vacancies(cn=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/vacancies(cn=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/vacancies(cn=${'technology deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/vacancies(cn=${'military and veterans'})}">Military and Veterans
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/subcontractors}">Subcontracting Opportunities
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="uk-container">
            <div class="contentVacancies">


                <div th:if="${categoryCareer != null}" class="postCategoriesItm postCategoriesItmActive" data-aos="fade-up" data-aos-duration="1200">
                    <div class="block-images" style="overflow: hidden">
                        <figure class="image" style="margin-right: 18px;" data-aos="fade-up" data-aos-duration="700">
                            <div class="imageFigures" style="background-image: url('images/construction-1.png')"></div>
                        </figure>
                        <figure class="image" data-aos="fade-up" data-aos-duration="900">
                            <div class="imageFigures" style="background-image: url('images/construction-2.png')"></div>
                        </figure>
                    </div>
                    <div style="overflow: hidden;">
                        <h2 th:text="${categoryCareer.name + ' Careers'}" data-aos-duration="1100"></h2>
                        <h3 data-aos="fade-right" data-aos-duration="700">Description</h3>
                        <p th:text="${categoryCareer.description}" data-aos="fade-right" data-aos-duration="900"></p>
                        <h3 data-aos="fade-right" data-aos-duration="700" style="margin-bottom: 0px;">Available positions</h3>
                    </div>
                    <div class="toggleBox" th:each="vacancy : ${vacancies}" style="overflow: hidden;">
                        <div class="itmToggle" >
                            <div class="contentItmToggle" data-aos="fade-right" data-aos-duration="900" >
                                <h4 th:text="${vacancy.title}" class="titleVacancy" ></h4>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                                     style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                            </svg>
                            </div>
                            [[ ${vacancy.descriptionPosition} ]]
                            <div class="postHide">
                                <div style="width: 100%;">
                                <h3>Requirements</h3>
                                <ul>
                                    <div class="line bounce-2"></div>
                                    <li th:each="req : ${vacancy.vacancyRequirements}"
                                        th:utext="${req.description}"></li>
                                </ul>
                                </div>
                                <div class="buttons">
                                    <a href="#sendForm" class="buttonBox">
                                        <button class="btnForm btnFormClick">Apply now</button>
                                    </a>
                                    <a href="https://www.linkedin.com/company/utilitiesone/?viewAsMember=true" target="_blank" class="buttonBox">
                                        <button class="btnLinkedIn">Apply with LinkedIn</button>
                                    </a>
                                    <a href="" class="buttonBox">
                                        <button class="btnIndeed">Apply with Indeed</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments/form :: form"></div>
                </div>
            </div>
        </div>
    </section>

</div>
