<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml"
     class="singlePage vacanciesBeforeBottom">

    <section
            class="uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: radial-gradient(farthest-corner at 100% 100%, rgba(233, 47, 44, 0.7), rgba(237, 103, 37, 0.7), rgba(0, 0, 0, 0.7)), url(images/WirelessCareers.png);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;"
                data-aos="fade-right" data-aos-duration="1200">
                Wireless Project Manager
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                Building Network Infrastructure. Delivering superior Wireless Services. Keeping people connected and
                providing
                broadband and high-speed internet access to every customer. Apply to start working in the Telecom
                Industry
            </h4>
        </div>
    </section>

    <section class="vacancies-page single-vacancies-page">
        <div class="uk-container">
            <div class="vacancies-page-content">
                <div class="aside">
                    <div class="aside-itm">
                        <h3>
                            Tower Climber
                        </h3>

                        <h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                 viewBox="0 0 20 20">
                                <path stroke="#4F5260"
                                      d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"></path>
                                <path stroke="#4F5260"
                                      d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"></path>
                            </svg>
                            Aberdeen, MD /
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                 enable-background="new 0 0 443.294 443.294" height="16" viewBox="0 0 443.294 443.294"
                                 width="512"
                                 style="&#10;    width: 16px;    margin-left: 7px;&#10;    height: 16px;&#10;">
                                <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                                <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z"
                                      style="&#10;    fill: #4F5260;&#10;"/>
                            </svg>
                            3 days ago
                        </h4>
                        <line></line>
                        <h4>
                            Field Technicians are responsible for servicing our cell tower client’s through inspections,
                            mappings, report writing and AutoCAD drawings. Each Technician is provided with proper
                            safety
                            training and procedures from the very beginning.
                        </h4>
                        <a href="#"><span>Apply Now</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                 style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
                                                    <path style=""
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>

                                                    </svg>
                        </a>

                        <div class="postCategoriesItm">
                            <h3>Position Details</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam ullamcorper egestas
                                tristique volutpat cursus id eu odio eget. Volutpat purus aliquet tellus, dictum enim.
                                Semper augue placerat duis sed nunc at. Augue faucibus euismod phasellus aliquet turpis
                                consequat morbi cursus. Volutpat bibendum augue mi vitae massa. Aliquam vitae quisque at
                                adipiscing est libero. Aliquet egestas urna et sit. Erat mauris nibh id quam egestas sem
                                augue fames ac. Est pellentesque sit sem euismod pretium. Tristique ante mi sagittis eu
                                vulputate et. Ultricies odio pulvinar dictum habitant dui nam eget. Egestas et placerat
                                volutpat accumsan bibendum mattis.
                            </p>

                            <line></line>
                            <h3>Requirements</h3>
                            <ul>
                                <li>
                                <span>
                                    Program planning and scheduling
                                </span>
                                </li>
                                <li>
                                <span>
                                    Capital budgeting
                                </span>
                                </li>
                                <li>
                                <span>
                                    Contract coordination, negotiaion and preparation
                                </span>
                                </li>
                                <li>
                                <span>
                                    Vendor selection and management
                                </span>
                                </li>
                                <li>
                                <span>
                                    Asset management
                                </span>
                                </li>
                                <li>
                                <span>
                                    Value engineering
                                </span>
                                </li>
                                <li>
                                <span>
                                    Document control
                                </span>
                                </li>
                                <li>
                                <span>
                                    Deployment tracking
                                </span>
                                </li>
                                <li>
                                <span>
                                    Standardization
                                </span>
                                </li>
                                <li>
                                <span>
                                    Quality assurance and control
                                </span>
                                </li>
                                <li>
                                <span>
                                    Safety plan development
                                </span>
                                </li>
                                <li>
                                <span>
                                    Progress reporting
                                </span>
                                </li>
                                <li>
                                <span>
                                    Close-out, hand-off, turn-on and launch
                                </span>
                                </li>
                                <li>
                                <span>
                                    System optimization
                                </span>
                                </li>
                                <li>
                                <span>
                                    Maintenance plan development
                                </span>
                                </li>
                            </ul>
                            <h3>Qualifications and Experience</h3>
                            <ul>
                                <li>
                                <span>
                                   Program planning and scheduling
                                </span>
                                </li>
                                <li>
                                <span>
                                   Capital budgeting
                                </span>
                                </li>
                                <li>
                                <span>
                                    Contract coordination, negotiaion and preparation
                                </span>
                                </li>
                                <li>
                                <span>
                                    Vendor selection and management
                                </span>
                                </li>
                                <li>
                                <span>
                                    Asset management
                                </span>
                                </li>
                                <li>
                                <span>
                                    Value engineering
                                </span>
                                </li>
                                <li>
                                <span>
                                    Document control
                                </span>
                                </li>
                                <li>
                                <span>
                                    Deployment tracking
                                </span>
                                </li>
                                <li>
                                <span>
                                    Standardization
                                </span>
                                </li>
                                <li>
                                <span>
                                    Quality assurance and control
                                </span>
                                </li>
                                <li>
                                <span>
                                    Safety plan development
                                </span>
                                </li>
                                <li>
                                <span>
                                    Progress reporting
                                </span>
                                </li>
                                <li>
                                <span>
                                    Close-out, hand-off, turn-on and launch
                                </span>
                                </li>
                                <li>
                                <span>
                                    System optimization
                                </span>
                                </li>
                                <li>
                                <span>
                                    Maintenance plan development
                                </span>
                                </li>
                            </ul>
                            <line></line>
                        </div>
                    </div>
                    <div class="post-social-link">
                        <div class="shareButton shareButtonBottom">
                            <span>Share Via</span>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Futilitiesone.com%2Fnews-single%3Fnw_type%3D25%26title%3Detgfgf"
                               target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                    <circle cx="9.00078" cy="9.00078" r="7.2" fill="white"></circle>
                                    <path d="M9 18C7.21997 18 5.47991 17.4722 3.99987 16.4832C2.51983 15.4943 1.36628 14.0887 0.685088 12.4442C0.00389957 10.7996 -0.17433 8.99002 0.172936 7.24419C0.520203 5.49836 1.37737 3.89471 2.63604 2.63604C3.89471 1.37737 5.49836 0.520203 7.24419 0.172936C8.99002 -0.17433 10.7996 0.00389957 12.4442 0.685088C14.0887 1.36628 15.4943 2.51983 16.4832 3.99987C17.4722 5.47991 18 7.21997 18 9C17.9974 11.3861 17.0483 13.6738 15.3611 15.3611C13.6738 17.0483 11.3861 17.9974 9 18ZM10.656 7.9785C11.3211 7.9785 11.673 8.4537 11.673 9.3519V12.6H13.68V9.1179C13.68 7.4079 12.816 6.3846 11.3697 6.3846C11.0057 6.37115 10.6449 6.45734 10.3263 6.63386C10.0076 6.81039 9.74324 7.07056 9.5616 7.3863V6.5277H7.5528C7.5789 7.0947 7.5528 12.5451 7.5528 12.6H9.5589V9.2088C9.55017 9.04205 9.57245 8.87513 9.6246 8.7165C9.69902 8.50206 9.83807 8.31596 10.0226 8.18379C10.2072 8.05163 10.4281 7.97991 10.6551 7.9785H10.656ZM4.4361 6.5277V12.6H6.4431V6.5277H4.4361ZM5.4531 3.6C5.3092 3.58798 5.16436 3.60571 5.0276 3.65209C4.89084 3.69847 4.7651 3.7725 4.6582 3.86959C4.55129 3.96667 4.46552 4.08472 4.40621 4.21639C4.34691 4.34805 4.31535 4.49052 4.31349 4.63492C4.31163 4.77931 4.33952 4.92254 4.39542 5.05569C4.45131 5.18884 4.53402 5.30906 4.63839 5.40886C4.74276 5.50866 4.86656 5.58591 5.00208 5.63579C5.1376 5.68567 5.28194 5.70712 5.4261 5.6988H5.4396C5.58365 5.71003 5.72847 5.69147 5.86503 5.64428C6.00159 5.59709 6.12696 5.52227 6.23334 5.4245C6.33972 5.32672 6.42481 5.20809 6.48333 5.07598C6.54184 4.94388 6.57252 4.80113 6.57345 4.65665C6.57438 4.51217 6.54554 4.36905 6.48873 4.2362C6.43192 4.10335 6.34835 3.98363 6.24324 3.8845C6.13813 3.78536 6.01373 3.70894 5.87779 3.66C5.74185 3.61105 5.59728 3.59063 5.4531 3.6Z"
                                          fill="#0077B5"></path>
                                </svg>
                                LinkedIn</a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Futilitiesone.com%2Fnews-single%3Fnw_type%3D25%26title%3Detgfgf"
                               target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                    <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                                          fill="#34599D"></path>
                                    <path d="M10.3049 5.67169H11.2193V4.07779C10.7767 4.02928 10.3317 4.00584 9.88638 4.00759C9.57814 3.98938 9.26965 4.03888 8.98259 4.15263C8.69552 4.26637 8.43684 4.44159 8.22472 4.66597C8.0126 4.89036 7.85218 5.15847 7.75474 5.45147C7.6573 5.74447 7.6252 6.05525 7.66068 6.36199V7.76509H6.20898V9.54619H7.66068V14.0273H9.44898V9.54619H10.8458L11.0672 7.76509H9.44718V6.53839C9.44718 6.02359 9.58578 5.67169 10.3031 5.67169H10.3049Z"
                                          fill="white"></path>
                                </svg>
                                Facebook</a>
                            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Futilitiesone.com%2Fnews-single%3Fnw_type%3D25"
                               target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                    <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                                          fill="#55ACEE"></path>
                                    <path d="M14 5.97395C13.6321 6.13384 13.2367 6.24191 12.8216 6.29051C13.2453 6.04169 13.5705 5.64771 13.7237 5.17828C13.3273 5.40864 12.8883 5.57595 12.4209 5.66613C12.0467 5.27541 11.5135 5.03125 10.9234 5.03125C9.79034 5.03125 8.87172 5.93137 8.87172 7.0416C8.87172 7.19916 8.8899 7.3526 8.92487 7.49974C7.21976 7.4159 5.70804 6.61553 4.69615 5.39925C4.51955 5.69617 4.41838 6.04151 4.41838 6.40994C4.41838 7.1074 4.78061 7.72275 5.3311 8.08326C4.99477 8.07283 4.67844 7.9824 4.40181 7.83182C4.40166 7.84021 4.40166 7.84863 4.40166 7.85709C4.40166 8.83115 5.10886 9.64371 6.0474 9.82837C5.87523 9.87432 5.69399 9.89887 5.50686 9.89887C5.37467 9.89887 5.24613 9.88629 5.12089 9.86281C5.38195 10.6615 6.13962 11.2428 7.03738 11.259C6.33524 11.7982 5.4506 12.1196 4.48941 12.1196C4.32382 12.1196 4.1605 12.1101 4 12.0915C4.90793 12.6619 5.98636 12.9947 7.14496 12.9947C10.9186 12.9947 12.9822 9.93134 12.9822 7.27472C12.9822 7.18755 12.9802 7.10084 12.9763 7.01464C13.3771 6.7312 13.7249 6.37711 14 5.97395Z"
                                          fill="white"></path>
                                </svg>
                                Twitter</a>
                        </div>
                    </div>
                </div>
                <form action="#" class="filter">
                    <div class="aside-itm">
                        <h3>
                            Job Information
                        </h3>
                        <line></line>
                        <div class="info-type">
                            <div class="info-itm">
                                <h4>
                                    Employee Type:
                                </h4>
                                <p>
                                    Full-Time
                                </p>
                            </div>
                            <div class="info-itm">
                                <h4>
                                    Location:
                                </h4>
                                <p>
                                    Aberdeen, MD
                                </p>
                            </div>
                            <div class="info-itm">
                                <h4>
                                    Job Type:
                                </h4>
                                <p>
                                    Wireless
                                </p>
                            </div>
                            <div class="info-itm">
                                <h4>
                                    Experience:
                                </h4>
                                <p>
                                    At least 1 year
                                </p>
                            </div>
                            <div class="info-itm">
                                <h4>
                                    Date posted:
                                </h4>
                                <p>
                                    12 January, 2021
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>

</div>