<div layout:fragment="content"
     xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/not-found}">

    <section class="section-two">
        <div class="uk-container">
            <div class="mainBlock">
                <img src="images/vector-logo.svg" class="backgroundLogo">
                <div class="homeContent">
                    <p class="title">The resource was not found</p>
                </div>
            </div>
        </div>
    </section>

</div>