<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml">

    <section
            class="titleCareer uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-center-center uk-position-relative"
            style="background-image: linear-gradient(298deg, rgba(232,104,64,0.81) 0%, rgba(0,0,0,0.5) 70%), url('images/Expertise_Banner.png');">
        <div class="uk-background-cover uk-background-bottom-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/expertise-bg.png');"></div>
        <div class="uk-container">

            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Expertise</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We build the Infrastructure your community needs</h4>

        </div>
    </section>

    <section class="section-expertise">
        <div class="uk-container">
            <div class="expertiseContent">
                <p class="title" data-aos="fade-up" data-aos-duration="700">Trustable. Professional. Dedicated. Sustainable.</p>
                <p class="content" data-aos="fade-up" data-aos-duration="900">Throughout our work experience, we were continually broadening our skills and<br> our
                    list of presented services. We have the necessary equipment, the right people<br> in our team, and
                    an overwhelming passion for our job. We deliver results by being<br> adaptable and employing
                    cutting-edge innovations.</p>

            </div>
            <div class="gallery">
                <figure class="image" style="background-image: url('images/Construction_Exp.png')" data-aos="fade-up" data-aos-duration="700">
                    <div class="contentyImage">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"
                             fill="none" data-aos="fade-down" data-aos-duration="900">
                            <rect width="80" height="80" fill="#E0621E"/>
                            <path d="M66.4514 46.9333L62.7677 37.0533H62.682C63.2763 36.8973 63.7958 36.5313 64.1465 36.0214C64.4971 35.5115 64.6557 34.8914 64.5936 34.2735C64.5315 33.6555 64.2527 33.0805 63.8078 32.6524C63.3629 32.2244 62.7812 31.9716 62.168 31.9399H61.654L56.0857 26.7399C56.209 26.0379 56.1153 25.3144 55.8174 24.6682C55.5195 24.022 55.0319 23.4844 54.421 23.1288C53.8101 22.7731 53.1057 22.6167 52.4037 22.6808C51.7018 22.7449 51.0364 23.0264 50.4984 23.487C49.9604 23.9476 49.5758 24.5648 49.3971 25.2546C49.2184 25.9443 49.2543 26.673 49.4999 27.3414C49.7455 28.0097 50.1888 28.5852 50.7695 28.9894C51.3501 29.3936 52.0399 29.6068 52.7446 29.5999L53.944 29.3399L59.598 34.6266C59.6646 35.1793 59.9049 35.6957 60.2833 36.0999L49.318 50.3999H63.0247C64.6524 50.3999 67.4794 49.8799 66.4514 46.9333Z"
                                  fill="white"/>
                            <path d="M41.606 48.6665H17.6193C16.4833 48.6665 15.3938 49.1231 14.5905 49.9357C13.7872 50.7484 13.3359 51.8506 13.3359 52.9998C13.3359 54.1491 13.7872 55.2513 14.5905 56.064C15.3938 56.8766 16.4833 57.3332 17.6193 57.3332H41.606C42.742 57.3332 43.8315 56.8766 44.6348 56.064C45.4381 55.2513 45.8894 54.1491 45.8894 52.9998C45.8894 51.8506 45.4381 50.7484 44.6348 49.9357C43.8315 49.1231 42.742 48.6665 41.606 48.6665Z"
                                  fill="white"/>
                            <path d="M50.9452 32.8067C49.4321 32.401 48.1019 31.4835 47.1759 30.2067L44.1775 33.0667L34.3258 22.6667H25.3308V33.0667H15.0508V45.2001H42.4642L50.9452 32.8067Z"
                                  fill="white"/>
                        </svg>
                        <p class="title" data-aos="fade-up" data-aos-duration="800">Construction</p>
                        <p class="content" data-aos="fade-up" data-aos-duration="900">Building a better tomorrow</p>
                        <a th:href="@{/skills(s=${'construction'})}" class="imageBtn" data-aos="fade-up" data-aos-duration="1000">
                            <p class="textBtn">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512; fill: #fff; width: 20%; margin-left: 13px;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </a>
                    </div>
                </figure>
                <figure class="image" style="background-image: url('images/Wireless_Exp.png')" data-aos="fade-up" data-aos-duration="900">
                    <div class="contentyImage">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"
                             fill="none" data-aos="fade-down" data-aos-duration="1100">
                            <rect width="80" height="80" fill="#E0621E"/>
                            <path d="M36.1667 29C36.1667 28.2567 36.3724 27.5286 36.7601 26.9003C37.1477 26.272 37.7014 25.7693 38.3567 25.4507C39.012 25.132 39.742 25.0104 40.4621 25.1C41.1821 25.1896 41.8626 25.4867 42.4244 25.9569C42.9862 26.427 43.4064 27.0508 43.6361 27.7559C43.8657 28.461 43.8955 29.2184 43.7219 29.9402C43.5483 30.6619 43.1785 31.3184 42.6554 31.8333C42.1323 32.3482 41.4773 32.7005 40.7667 32.8491V34.5H39.2333V32.8491C38.3682 32.6669 37.5908 32.1846 37.0322 31.4834C36.4735 30.7823 36.1679 29.9052 36.1667 29ZM52.2667 60.4286L48.9087 50.6621L41.4873 55.235L49.9283 60.4286H46.9537L40 56.1464L33.0463 60.4286H30.0717L38.5127 55.235L31.0913 50.6621L27.7333 60.4286H17V62H63V60.4286H52.2667ZM46.6777 34.2564C47.8157 32.7524 48.4333 30.9032 48.4333 29C48.4333 27.0968 47.8157 25.2476 46.6777 23.7436L45.4663 24.7021C46.3957 25.9324 46.9 27.4441 46.9 29C46.9 30.5559 46.3957 32.0676 45.4663 33.2979L46.6777 34.2564ZM50.327 37.1243C52.0815 34.7977 53.0333 31.9404 53.0333 29C53.0333 26.0596 52.0815 23.2023 50.327 20.8757L49.108 21.8343C50.6586 23.885 51.5 26.4057 51.5 29C51.5 31.5943 50.6586 34.115 49.108 36.1657L50.327 37.1243ZM52.7497 39.0336L53.9763 40C56.3474 36.848 57.6333 32.98 57.6333 29C57.6333 25.02 56.3474 21.152 53.9763 18L52.7497 18.9664C54.9214 21.8376 56.1 25.3672 56.1 29C56.1 32.6328 54.9214 36.1624 52.7497 39.0336ZM34.5337 33.2979C33.6043 32.0676 33.1 30.5559 33.1 29C33.1 27.4441 33.6043 25.9324 34.5337 24.7021L33.3223 23.7436C32.1843 25.2476 31.5667 27.0968 31.5667 29C31.5667 30.9032 32.1843 32.7524 33.3223 34.2564L34.5337 33.2979ZM29.673 37.1243L30.892 36.1657C29.3414 34.115 28.5 31.5943 28.5 29C28.5 26.4057 29.3414 23.885 30.892 21.8343L29.673 20.8757C27.9185 23.2023 26.9667 26.0596 26.9667 29C26.9667 31.9404 27.9185 34.7977 29.673 37.1243ZM27.2503 39.0336C25.0786 36.1624 23.9 32.6328 23.9 29C23.9 25.3672 25.0786 21.8376 27.2503 18.9664L26.0237 18C23.6526 21.152 22.3667 25.02 22.3667 29C22.3667 32.98 23.6526 36.848 26.0237 40L27.2503 39.0336ZM44.2727 37.2116L43.7897 35.8098C43.7367 35.6566 43.6388 35.524 43.5093 35.4302C43.3799 35.3363 43.2252 35.2859 43.0667 35.2857H36.9333C36.7747 35.2858 36.62 35.3363 36.4905 35.4301C36.361 35.5239 36.263 35.6566 36.2101 35.8098L35.7271 37.2116L40 40.5858L44.2727 37.2116ZM47.465 46.4812L44.8098 38.7711L41.2559 41.5776L47.465 46.4812ZM38.7441 41.5776L35.1902 38.7711L32.535 46.4812L38.7441 41.5776ZM31.6423 49.1698L40 54.3157L48.3577 49.1693L40 42.5693L31.6423 49.1698Z"
                                  fill="white"/>
                        </svg>
                        <p class="title" data-aos="fade-up" data-aos-duration="1000">Wireless</p>
                        <p class="content" data-aos="fade-up" data-aos-duration="1100">Bringing people together</p>
                        <a th:href="@{/skills(s=${'wireless'})}" class="imageBtn" data-aos="fade-up" data-aos-duration="1200">
                            <p class="textBtn">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512; fill: #fff; width: 20%; margin-left: 13px;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </a>
                    </div>

                </figure>
                <figure class="image" style="background-image: url('images/Energy_Exp.png')" data-aos="fade-up" data-aos-duration="1200">
                    <div class="contentyImage">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"
                             fill="none" data-aos="fade-down" data-aos-duration="1400">
                            <rect width="80" height="80" fill="#E0621E"/>
                            <path d="M35.9967 39.9621L35.9212 37.3685C35.9212 37.0633 35.6948 36.8345 35.3174 36.8345H29.053C28.7511 36.8345 28.5247 37.0633 28.4492 37.3685V39.9621H35.9967Z"
                                  fill="white"/>
                            <path d="M63.9975 35.8423C63.9975 36.1474 63.771 36.4526 63.3937 36.4526C63.3182 36.4526 63.2427 36.4526 63.2427 36.4526L54.7141 33.5538C54.4876 33.4775 54.3367 33.2486 54.3367 33.0198L54.1857 31.2652C53.8838 31.4178 53.5819 31.4941 53.2046 31.4941C52.9027 31.4941 52.6008 31.4178 52.3743 31.2652L43.0155 35.8423C42.94 35.9186 42.8645 35.9186 42.789 35.9186C42.5626 35.9186 42.4117 35.8423 42.3362 35.6897C42.1852 35.4609 42.2607 35.1557 42.4117 34.9269L49.1289 28.9004C49.2799 28.7478 49.5063 28.7478 49.7327 28.8241L51.3177 29.587C51.3177 28.9004 51.6196 28.3664 52.1479 27.985L52.9027 17.534C52.9027 17.2289 53.1291 17 53.431 17C53.7329 17 53.9593 17.1526 54.0348 17.4577L55.8462 26.383C55.8462 26.6119 55.7707 26.8407 55.6198 26.9933L54.1857 27.985C54.7141 28.2901 55.0914 28.8241 55.1669 29.5107L63.6956 35.3846C63.8465 35.3846 63.9975 35.6134 63.9975 35.8423Z"
                                  fill="white"/>
                            <path d="M44.4578 37.292C44.4578 36.9869 44.2314 36.7581 43.9295 36.7581H37.665C37.5141 36.7581 37.3631 36.8343 37.2877 36.9106C37.2122 37.0632 37.1367 37.2158 37.1367 37.292L37.2122 39.8857H44.7597L44.4578 37.292Z"
                                  fill="white"/>
                            <path d="M27.7734 20.8142V17.9916C27.7734 17.6865 27.9999 17.3813 28.3772 17.3813C28.6791 17.3813 28.981 17.6102 28.981 17.9916V20.8142C28.981 21.1193 28.7546 21.3481 28.3772 21.3481C27.9999 21.4244 27.7734 21.1956 27.7734 20.8142Z"
                                  fill="white"/>
                            <path d="M28.9029 31.8754V34.6979C28.9029 35.0031 28.6765 35.3082 28.2991 35.3082C27.9972 35.3082 27.6953 35.0794 27.6953 34.6979V31.8754C27.6953 31.5703 27.9217 31.2651 28.2991 31.2651C28.601 31.2651 28.9029 31.5703 28.9029 31.8754Z"
                                  fill="white"/>
                            <path d="M32.4468 26.3824C32.4468 28.671 30.5599 30.5781 28.2956 30.5781C26.0314 30.5781 24.1445 28.671 24.1445 26.3824C24.1445 24.0939 26.0314 22.1868 28.2956 22.1868C30.6354 22.1105 32.4468 24.0176 32.4468 26.3824Z"
                                  fill="white"/>
                            <path d="M34.5666 31.8753C34.793 32.1041 34.793 32.4855 34.5666 32.7144C34.4156 32.867 34.3402 32.867 34.1892 32.867C34.0383 32.867 33.8873 32.7907 33.8118 32.7144L31.8495 30.731C31.6231 30.5021 31.6231 30.1207 31.8495 29.8919C32.0759 29.663 32.4533 29.663 32.6797 29.8919L34.5666 31.8753Z"
                                  fill="white"/>
                            <path d="M31.7714 22.8736C31.545 22.6447 31.545 22.2633 31.7714 22.0344L33.7337 20.051C33.9602 19.8222 34.3375 19.8222 34.5639 20.051C34.7904 20.2799 34.7904 20.6613 34.5639 20.8902L32.6016 22.8736C32.4507 23.0261 32.3752 23.0261 32.2242 23.0261C31.9978 23.0261 31.8469 22.9499 31.7714 22.8736Z"
                                  fill="white"/>
                            <path d="M37.1369 26.3832C37.1369 26.6884 36.9105 26.9935 36.5331 26.9935H33.7405C33.4386 26.9935 33.1367 26.7646 33.1367 26.3832C33.1367 26.0781 33.3631 25.7729 33.7405 25.7729H36.5331C36.9105 25.7729 37.1369 26.0781 37.1369 26.3832Z"
                                  fill="white"/>
                            <path d="M24.8283 29.8158C25.0547 30.0447 25.0547 30.4261 24.8283 30.655L22.866 32.6384C22.7905 32.7909 22.6395 32.7909 22.4886 32.7909C22.3376 32.7909 22.1867 32.7147 22.1112 32.6384C21.8848 32.4095 21.8848 32.0281 22.1112 31.7992L24.0736 29.8158C24.3 29.6633 24.6019 29.6633 24.8283 29.8158Z"
                                  fill="white"/>
                            <path d="M22.8651 26.9168H20.0725C19.7706 26.9168 19.4688 26.688 19.4688 26.3066C19.4688 26.0014 19.6952 25.6963 20.0725 25.6963H22.8651C23.167 25.6963 23.4689 25.9251 23.4689 26.3066C23.3934 26.688 23.167 26.9168 22.8651 26.9168Z"
                                  fill="white"/>
                            <path d="M22.039 20.8902C21.888 20.6613 21.888 20.2799 22.039 20.051C22.2654 19.8222 22.6428 19.8222 22.8692 20.051L24.8316 22.0344C25.058 22.2633 25.058 22.6447 24.8316 22.8736C24.7561 23.0261 24.6051 23.0261 24.4542 23.0261C24.3032 23.0261 24.1523 22.9499 24.0768 22.8736L22.039 20.8902Z"
                                  fill="white"/>
                            <path d="M19.9256 37.292C19.9256 36.9869 20.1521 36.7581 20.454 36.7581H26.7184C26.8693 36.7581 27.0203 36.8343 27.0958 36.9106C27.1712 37.0632 27.2467 37.2158 27.2467 37.292V39.962H19.6992L19.9256 37.292Z"
                                  fill="white"/>
                            <path d="M36.0759 46.675H28.302L28.2266 48.4296H36.1514L36.0759 46.675Z" fill="white"/>
                            <path d="M36.0019 41.1064H28.3789V42.7084H36.0019V41.1064Z" fill="white"/>
                            <path d="M36.0786 43.8518H28.3802L28.3047 45.5301H36.0786V43.8518Z" fill="white"/>
                            <path d="M36.1566 49.574H28.2317L28.1562 51.4811H36.2321L36.1566 49.574Z" fill="white"/>
                            <path d="M36.2216 52.625H28.1458L28.0703 54.6847H36.2971L36.2216 52.625Z" fill="white"/>
                            <path d="M58.8697 61.7795H56.1526L54.945 34.7748L54.3412 34.5459C53.6619 34.317 53.2091 33.7068 53.2091 33.0202V32.6388C52.9827 32.6388 52.7562 32.6388 52.5298 32.5625L51.6241 33.0202L50.341 61.7795H42.7936V59.8724H45.8126C46.1145 59.8724 46.4164 59.6435 46.4164 59.2621C46.4164 59.1858 46.4164 59.1096 46.4164 59.1096L46.039 55.8293H37.8122L37.9632 59.3384C37.9632 59.6435 38.1896 59.8724 38.4915 59.8724H41.586V61.7795H32.7554V59.8724H35.8499C36.1518 59.8724 36.4537 59.6435 36.4537 59.2621C36.4537 59.1858 36.4537 59.1858 36.4537 59.1096L36.3782 55.753H28.076L28.0005 59.2621C28.0005 59.4147 28.076 59.5673 28.1514 59.6435C28.2269 59.7198 28.3779 59.7961 28.5288 59.7961H31.6233V61.7032H22.8682V59.7961H25.9627C26.2646 59.7961 26.491 59.5673 26.491 59.2621L26.6419 55.753H18.4152L18.1133 59.1096C18.1133 59.1858 18.1133 59.2621 18.1133 59.2621C18.1133 59.5673 18.3397 59.8724 18.7171 59.8724H21.7361V61.7795H16.6038C16.3019 61.7795 16 62.0084 16 62.3898C16 62.7712 16.2264 63.0001 16.6038 63.0001H58.8697C59.1716 63.0001 59.4735 62.7712 59.4735 62.3898C59.4735 62.0084 59.2471 61.7795 58.8697 61.7795Z"
                                  fill="white"/>
                            <path d="M37.5872 51.4811H45.663L45.512 49.574H37.5117L37.5872 51.4811Z" fill="white"/>
                            <path d="M37.5169 48.4296H45.4417L45.2908 46.675H37.4414L37.5169 48.4296Z" fill="white"/>
                            <path d="M37.3606 45.5301H45.1345L44.9836 43.8518H37.2852L37.3606 45.5301Z" fill="white"/>
                            <path d="M44.9055 42.7084L44.7545 41.1064H37.207L37.2825 42.7084H44.9055Z" fill="white"/>
                            <path d="M37.7356 54.6847H45.9624L45.736 52.625H37.6602L37.7356 54.6847Z" fill="white"/>
                            <path d="M26.8727 49.574H18.9478L18.7969 51.4811H26.7972L26.8727 49.574Z" fill="white"/>
                            <path d="M27.0238 46.675H19.1744L19.0234 48.4296H26.9483L27.0238 46.675Z" fill="white"/>
                            <path d="M27.0916 43.8518H19.3931L19.2422 45.5301H27.0161L27.0916 43.8518Z" fill="white"/>
                            <path d="M27.2427 41.1064H19.6197L19.4688 42.7084H27.1672L27.2427 41.1064Z" fill="white"/>
                            <path d="M26.7944 52.625H18.6431L18.4922 54.6847H26.7189L26.7944 52.625Z" fill="white"/>
                        </svg>
                        <p class="title" data-aos="fade-up" data-aos-duration="700">Energy</p>
                        <p class="content" data-aos="fade-up" data-aos-duration="800">Keeping the lights on</p>
                        <a th:href="@{/skills(s=${'energy'})}" class="imageBtn" data-aos="fade-up" data-aos-duration="900">
                            <p class="textBtn">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512; fill: #fff; width: 20%; margin-left: 13px;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </a>
                    </div>
                </figure>
                <figure class="image" style="background-image: url('images/Engineering_Exp.png'); width: 49%;"
                        data-aos="fade-right"
                        data-aos-duration="900">
                    <div class="contentyImage">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"
                             fill="none" data-aos="fade-down" data-aos-duration="1100">
                            <rect width="80" height="80" fill="#E0621E"/>
                            <path d="M22.616 29.518H42.4598C42.8342 29.518 43.2086 29.1409 43.2086 28.7639C43.2086 28.3114 42.8342 28.0098 42.4598 28.0098H41.4114C41.6361 23.5606 38.6408 20.1672 35.1962 19.1115V17.7541C35.1962 17.377 34.8967 17 34.4474 17H30.7033C30.254 17 29.9545 17.377 29.9545 17.7541V19.1115C26.2852 20.2426 23.3648 23.7114 23.7392 28.0098H22.616C22.2416 28.0098 21.8672 28.3114 21.8672 28.7639C21.8672 29.1409 22.2416 29.518 22.616 29.518Z"
                                  fill="white"/>
                            <path d="M32.582 37.8874C36.2512 37.8874 39.3213 34.9464 39.9953 30.9497H25.0938C25.7677 34.9464 28.9127 37.8874 32.582 37.8874Z"
                                  fill="white"/>
                            <path d="M43.3319 48.2948C43.1073 47.6915 43.0324 46.9374 43.5566 46.1079C48.0495 41.5079 46.477 43.0915 46.8514 42.7899C47.1509 42.4882 47.4505 42.262 47.8249 42.1866C47.5253 41.2063 46.8514 40.3768 45.9528 39.8489C43.7064 38.567 41.4599 37.662 39.2134 37.0588C38.9139 36.9834 38.5395 37.1342 38.3897 37.4358L33.8219 45.6554H31.3508L26.8579 37.5112C26.7081 37.2096 26.3337 37.0588 26.0342 37.1342C23.7877 37.7375 21.5413 38.7178 19.2948 39.9243C18.0218 40.603 17.1981 41.9604 17.1232 43.3932L16 57.9472C16 58.1734 16.0749 58.3996 16.2246 58.5504C16.3744 58.7013 16.5242 58.7767 16.7488 58.7767H43.3319C43.0324 58.1734 43.1073 57.4947 43.3319 56.8914C43.0324 56.7406 42.7329 56.5898 42.5082 56.3636C42.059 55.9111 41.8343 55.3832 41.8343 54.78C41.9841 51.0849 41.385 49.8784 42.5082 48.8226C42.8078 48.5964 43.0324 48.4456 43.3319 48.2948Z"
                                  fill="white"/>
                            <path d="M63.7032 49.9545C63.5534 49.8036 63.4037 49.7282 63.179 49.7282H61.0074C60.9326 49.6528 60.9326 49.5774 60.8577 49.4266L62.3553 47.9184C62.6548 47.6168 62.6548 47.1643 62.3553 46.8627L59.4349 43.7709C59.1354 43.4692 58.6861 43.4692 58.3866 43.7709L56.8889 45.2791C56.814 45.2037 56.7392 45.2037 56.5894 45.2037V43.0168C56.5894 42.5643 56.2899 42.2627 55.8406 42.2627H51.4974C51.2728 42.2627 51.123 42.3381 50.9732 42.4889C50.8235 42.6397 50.7486 42.7906 50.7486 43.0168V45.2037C50.6737 45.2037 50.5988 45.2791 50.524 45.2791L49.0263 43.7709C48.7268 43.4692 48.2775 43.4692 47.978 43.7709C47.9031 43.9217 44.9827 46.7873 44.9078 46.8627C44.6832 47.3151 44.6083 47.6922 44.9827 47.9938C45.5817 48.5971 46.031 49.1249 46.4054 49.4266C46.4054 49.502 46.3306 49.5774 46.3306 49.7282H44.159C43.9343 49.7282 43.7846 49.8036 43.6348 49.9545C43.485 50.1053 43.4102 50.2561 43.4102 50.4823C43.4102 50.5577 43.4102 54.479 43.4102 54.8561C43.4102 55.0823 43.485 55.2331 43.6348 55.3839C43.8595 55.6102 44.2339 55.6102 44.4585 55.6102H46.3306C46.3306 55.6856 46.4054 55.761 46.4054 55.8364L44.9078 57.3446C44.6083 57.6462 44.6083 58.0987 44.9078 58.4003L47.978 61.4921C48.2775 61.7937 48.7268 61.7937 49.0263 61.4921L49.1012 61.4167L50.524 59.9839C50.5988 59.9839 50.6737 60.0593 50.8235 60.1347V62.2462C50.8235 62.6232 51.123 63.0003 51.5723 63.0003H55.9155C56.1401 63.0003 56.2899 62.9249 56.4396 62.774C56.5894 62.6232 56.6643 62.4724 56.6643 62.2462V60.0593C56.7392 60.0593 56.814 59.9839 56.8889 59.9839L58.3866 61.4921C58.5363 61.6429 58.6861 61.7183 58.9107 61.7183C59.1354 61.7183 59.2852 61.6429 59.4349 61.4921L62.5051 58.4003C62.8046 58.0987 62.8046 57.6462 62.5051 57.3446L61.0074 55.8364C61.0074 55.761 61.0823 55.6856 61.0823 55.6102H63.2539C63.7032 55.6102 64.0027 55.3085 64.0027 54.8561V50.784V50.4823C63.9278 50.3315 63.853 50.1053 63.7032 49.9545ZM57.8624 53.1216C57.7126 54.2528 57.1885 55.3085 56.2899 55.9872C55.541 56.5905 54.6425 56.8921 53.669 56.8921C51.123 56.8921 49.1012 54.6298 49.4007 52.0659C49.7002 49.7282 51.7969 47.9938 54.1183 48.2954C56.5145 48.6725 58.1619 50.784 57.8624 53.1216Z"
                                  fill="white"/>
                        </svg>
                        <p class="title" data-aos="fade-right"
                           data-aos-duration="1000">Engineering</p>
                        <p class="content" data-aos="fade-right"
                           data-aos-duration="1100">Making any project a success</p>
                        <a th:href="@{/skills(s=${'engineering'})}" class="imageBtn" data-aos="fade-right"
                           data-aos-duration="1200">
                            <p class="textBtn">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512; fill: #fff; width: 20%; margin-left: 13px;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </a>
                    </div>
                </figure>
                <figure class="image" id="bigImage" style="background-image: url('images/Technology-Deployment_exp.png'); width: 49%;"
                        data-aos="fade-left"
                        data-aos-duration="900">
                    <div class="contentyImage">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80"
                             fill="none" data-aos="fade-down" data-aos-duration="1100">
                            <rect width="80" height="80" fill="#E0621E"/>
                            <path d="M19.375 59.25C19.375 59.6147 19.5199 59.9644 19.7777 60.2223C20.0356 60.4801 20.3853 60.625 20.75 60.625H59.25C59.6147 60.625 59.9644 60.4801 60.2223 60.2223C60.4801 59.9644 60.625 59.6147 60.625 59.25V51H19.375V59.25ZM41.375 53.75H55.125C55.4897 53.75 55.8394 53.8949 56.0973 54.1527C56.3551 54.4106 56.5 54.7603 56.5 55.125C56.5 55.4897 56.3551 55.8394 56.0973 56.0973C55.8394 56.3551 55.4897 56.5 55.125 56.5H41.375C41.0103 56.5 40.6606 56.3551 40.4027 56.0973C40.1449 55.8394 40 55.4897 40 55.125C40 54.7603 40.1449 54.4106 40.4027 54.1527C40.6606 53.8949 41.0103 53.75 41.375 53.75ZM25.5625 53.0625C25.9704 53.0625 26.3692 53.1835 26.7084 53.4101C27.0475 53.6367 27.3119 53.9588 27.468 54.3357C27.6241 54.7126 27.665 55.1273 27.5854 55.5274C27.5058 55.9275 27.3094 56.295 27.0209 56.5834C26.7325 56.8719 26.365 57.0683 25.9649 57.1479C25.5648 57.2275 25.1501 57.1866 24.7732 57.0305C24.3963 56.8744 24.0742 56.61 23.8476 56.2709C23.621 55.9317 23.5 55.5329 23.5 55.125C23.5 54.578 23.7173 54.0534 24.1041 53.6666C24.4909 53.2798 25.0155 53.0625 25.5625 53.0625ZM56.8438 20.75C56.7239 20.3774 56.497 20.0483 56.1913 19.8038C55.8857 19.5593 55.5148 19.4102 55.125 19.375H24.875C24.4757 19.4059 24.0941 19.5524 23.7767 19.7966C23.4593 20.0407 23.2198 20.372 23.0875 20.75L20.5438 26.25H59.4562L56.8438 20.75ZM19.375 48.25H60.625V40H19.375V48.25ZM41.375 42.75H55.125C55.4897 42.75 55.8394 42.8949 56.0973 43.1527C56.3551 43.4106 56.5 43.7603 56.5 44.125C56.5 44.4897 56.3551 44.8394 56.0973 45.0973C55.8394 45.3551 55.4897 45.5 55.125 45.5H41.375C41.0103 45.5 40.6606 45.3551 40.4027 45.0973C40.1449 44.8394 40 44.4897 40 44.125C40 43.7603 40.1449 43.4106 40.4027 43.1527C40.6606 42.8949 41.0103 42.75 41.375 42.75ZM25.5625 42.0625C25.9704 42.0625 26.3692 42.1835 26.7084 42.4101C27.0475 42.6367 27.3119 42.9588 27.468 43.3357C27.6241 43.7126 27.665 44.1273 27.5854 44.5274C27.5058 44.9275 27.3094 45.295 27.0209 45.5834C26.7325 45.8719 26.365 46.0683 25.9649 46.1479C25.5648 46.2275 25.1501 46.1866 24.7732 46.0305C24.3963 45.8744 24.0742 45.61 23.8476 45.2709C23.621 44.9317 23.5 44.5329 23.5 44.125C23.5 43.578 23.7173 43.0534 24.1041 42.6666C24.4909 42.2798 25.0155 42.0625 25.5625 42.0625ZM19.375 29V37.25H60.625V29H19.375ZM25.5625 35.1875C25.1546 35.1875 24.7558 35.0665 24.4166 34.8399C24.0775 34.6133 23.8131 34.2912 23.657 33.9143C23.5009 33.5374 23.46 33.1227 23.5396 32.7226C23.6192 32.3225 23.8156 31.955 24.1041 31.6666C24.3925 31.3781 24.76 31.1817 25.1601 31.1021C25.5602 31.0225 25.9749 31.0634 26.3518 31.2195C26.7287 31.3756 27.0508 31.64 27.2774 31.9791C27.504 32.3183 27.625 32.7171 27.625 33.125C27.625 33.672 27.4077 34.1966 27.0209 34.5834C26.6341 34.9702 26.1095 35.1875 25.5625 35.1875ZM55.125 34.5H41.375C41.0103 34.5 40.6606 34.3551 40.4027 34.0973C40.1449 33.8394 40 33.4897 40 33.125C40 32.7603 40.1449 32.4106 40.4027 32.1527C40.6606 31.8949 41.0103 31.75 41.375 31.75H55.125C55.4897 31.75 55.8394 31.8949 56.0973 32.1527C56.3551 32.4106 56.5 32.7603 56.5 33.125C56.5 33.4897 56.3551 33.8394 56.0973 34.0973C55.8394 34.3551 55.4897 34.5 55.125 34.5Z"
                                  fill="white"/>
                        </svg>
                        <img src="">
                        <p class="title" data-aos="fade-left"
                           data-aos-duration="1000">Technology Deployment</p>
                        <p class="content" data-aos="fade-left"
                           data-aos-duration="1100">Integrating modern innovations</p>
                        <a th:href="@{/skills(s=${'technology-deployment'})}" class="imageBtn" data-aos="fade-left"
                           data-aos-duration="1200">
                            <p class="textBtn">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512; fill: #fff; width: 20%; margin-left: 13px;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="el-content" data-aos="fade-up" data-aos-duration="900">
                <p>Utilities One was established 8 years ago. From the wellhead to
                    the end-user, we care about safety requirements, customer expectations, and prompt delivery. We
                    serve both civil and industrial infrastructure, leveraging the newest technologies, and
                    out-of-the-box solutions. Our areas of expertise cover 5 industries - being able to adapt to their
                    ever-changing standards is the one thing we do best.</p>

                <p>Our corporate Culture is designed to facilitate a safe and healthy environment. Our Focus stays on
                    you. Whether we are talking about our employees or customers, we want you to feel that we care about
                    your safety and do our best to ensure it.</p>

                <p>We are ready to handle any projects for communication, electric power, pipeline, wireless, and
                    technology industries.</p>
            </div>
        </div>
    </section>
    <section class="uk-section uk-section-default aboutUs" style="padding-top: 50px; margin-bottom: 0; padding-bottom: 0; border-bottom: 1px solid #e0631d;">
        <div class="blockContent" style="margin-top: 0px;">
            <div class="content">
                <p>Engineering your future. Building a better tommorow.</p>
            </div>
        </div>
    </section>
</div>
