<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:static="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

    <section
            class="titleNews uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: linear-gradient(90deg, rgb(0 28 51 / 78%) 0%, rgb(189 74 11 / 79%) 100%), url(images/News_Banner.png);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200" style="background-image: url('images/sketches-bg-2.png'); opacity: 0.2;"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                News
            </h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">
                We are committed to meeting each project's specific requirements!
            </h4>
        </div>
    </section>

    <section class="contentNews">
        <div class="uk-container">
            <div class="contentNewsContent">
                <div th:each="news : ${newsList}" class="itmNews" data-aos="fade-up" data-aos-duration="1000">
                    <a th:href="@{news-single(nw_type=${news.id})}">
                        <figure th:style="'background:url(' + @{/uploads/{picName}.{picType}(picName=${news.picName},picType=${news.picType})} + ');'"></figure>
                    </a>
                    <div class="contentTextNews">
                         <span class="datePost" data-aos="fade-up" data-aos-duration="1100">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                             xml:space="preserve">
                            <g>
                                <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"/>
                                <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"/>
                            </g>

                            </svg>
                        [[${#dates.day(news.postDate)}]] [[${news.monthName}]], [[${#dates.year(news.postDate)}]]</span>
                        <h3 class="titlePost" data-aos="fade-up" data-aos-duration="1200">
                            [[${news.title}]]
                        </h3>
                        <p class="descriptionPost" data-aos="fade-up" data-aos-duration="1300">
                            [[${news.shortDescription}]]
                        </p>
                        <a th:href="@{news-single(nw_type=${news.id})}" class="linkPost" data-aos="fade-up" data-aos-duration="1400">
                            Read more
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1"
                                 id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                 style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path>
                                </g>
                            </g>
                        </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${totalPages > 1}" class="paginationPost">
                <a th:each="i: ${#numbers.sequence(1, totalPages)}"
                   th:href="@{news-ctg(c=${categoryNews}, page=${i})}"
                   th:class="${currentPage} == ${i} ? 'itmPag itmPagActive' : 'itmPag'">
                    [[${i}]]
                </a>
                <a th:if="${currentPage < totalPages}"
                   th:href="@{news-ctg(c=${categoryNews}, page=${currentPage + 1})}"
                   class="itmPag">
                    Next
                    <svg width="14px" height="24px" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"
                         data-svg="slidenav-next"><polyline fill="none" stroke="#000" stroke-width="1.4"
                         points="1.225,23 12.775,12 1.225,1 "></polyline>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</div>

