<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:static="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" class="newsSingle projectSingle">

    <section
            class="uk-section uk-section-secondary beforeBg uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url(images/project-construction-banner.jpeg);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200"></div>
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" data-aos="fade-right" data-aos-duration="1200">
                Amazon Key For Business
            </h1>
            <h4 data-aos="fade-right" data-aos-duration="1200">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                    <path stroke="#4F5260"
                          d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"></path>
                    <path stroke="#4F5260"
                          d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"></path>
                </svg>
                Saint Louis, MO

            </h4>
        </div>
    </section>
    <section class="sectionSinglePage">
        <div class="uk-container">
            <div class="contentSinglePage">
                <div class="postBoxInfo" data-aos="fade-up" data-aos-duration="900">
                    <div class="itmPost">
                        <h3>Client</h3>
                        <p>
                            Amazon
                        </p>
                    </div>
                    <div class="itmPost">
                        <h3>Location</h3>
                        <p>
                            Saint Louis, MO
                        </p>
                    </div>
                    <div class="itmPost">
                        <h3>Services Provided</h3>
                        <p>
                            Technology Deployment, Keyless Entry System
                        </p>
                    </div>
                </div>
                <div class="postDescription">
                    <div class="itmPostDesc">
                        <h3 data-aos="fade-up" data-aos-duration="700">Case Summary</h3>
                        <p data-aos="fade-up" data-aos-duration="900">
                            A Keyless Entry System is designed to deliver a more convenient, hassle-free way for
                            multi-family buildings to receive deliveries. It operates on the basis of a package being
                            scanned and routed to the building address. This technology eliminates the need for building
                            supervisors to provide driver entry and receive packages.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1100">
                            Utilities One technicians connected such a device to the existing Fob system (Keyless Entry System).
                            Wires were integrated into the customer's control board making it possible for delivery
                            drivers to open the door with the help of a corresponding app.
                        </p>
                    </div>
                    <div class="itmPostDesc">
                        <h3 data-aos="fade-up" data-aos-duration="900">
                            Implemented Solution
                        </h3>
                        <ul data-aos="fade-up" data-aos-duration="1100">
                            <li>
                                • Keyless Entry System device (5V-10V range)
                            </li>
                            <li>
                                • Lora devices - Lora Master, Lora Slave (10V-20V range)
                            </li>
                            <li>
                                • Essential tools to do the job safely, effectively and to an excellent standard (22 AWG 4 conductor wire; 3 outlet power strip; PVC Jbox; wire clips; electric tape; velcro tape; wire stripper; label maker; wire tracker)
                            </li>
                        </ul>
                    </div>
                    <div class="itmPostDesc" data-aos="fade-up" data-aos-duration="900">
                        <h3>
                            Benefits
                        </h3>
                        <ul data-aos="fade-up" data-aos-duration="1100">
                            <li>
                                • Convenience. The first thing that comes to mind when considering keyless entry
                            </li>
                            <li>
                                • Improved access control. For more security-sensitive applications or businesses with a higher rate of employee turnover, it is vital to have an access control system that can manage the specific needs of the building and its visitors
                            </li>
                            <li>
                                • Enhanced security. Standard keys can be copied or simulated for forced entry, but keyless entry systems operate by sending messages to the vehicle. This is a much more complex locking mechanism to compromise than a standard key
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="boxImage">
                    <figure data-aos="fade-right" data-aos-duration="900">
                        <img src="images/tech-dep-1.jpeg" alt="">
                    </figure>
                    <figure data-aos="fade-left" data-aos-duration="900">
                        <img src="images/tech-dep-3.jpeg" alt="">
                    </figure>
                    <figure data-aos="fade-up" data-aos-duration="1100">
                        <img src="images/tech-dep-6.jpeg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="contentNewsSingle">

        <div class="contentNews">
            <h2 class="uk-heading-bullet" data-aos="fade-up" data-aos-duration="700">Related Projects</h2>
            <div class="uk-container">
                <div class="contentNewsContent">
                    <div class="itmNews" data-aos="fade-up" data-aos-duration="2600">
                        <a th:href="@{project-engineering}">
                            <figure style="background-image: url('images/en-34.jpg')"></figure>
                        </a>
                        <div class="contentTextNews">
                         <span class="datePost" data-aos="fade-up" data-aos-duration="700">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                             xml:space="preserve">
                            <g>
                                <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"></path>
                                <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                            </g>

                            </svg>
                        12 August, 2020</span>
                            <h3 class="titlePost" data-aos="fade-up" data-aos-duration="900">
                                Meticulous planning and seamless integration of fiber infrastructure
                            </h3>
                            <p class="descriptionPost" data-aos="fade-up" data-aos-duration="1100">
                                Boyertown, PA - New Berlinville, PA
                            </p>
                            <a th:href="@{project-engineering}" class="linkPost" data-aos="fade-up" data-aos-duration="1300">
                                Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path>
                                </g>
                            </g>
                        </svg>
                            </a>
                        </div>
                    </div>
                    <div class="itmNews" data-aos="fade-up" data-aos-duration="2800">
                        <a th:href="@{project-energy}">
                            <figure style="background-image: url('images/en640.png')"></figure>
                        </a>
                        <div class="contentTextNews">
                         <span class="datePost" data-aos="fade-up" data-aos-duration="700">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                             xml:space="preserve">
                            <g>
                                <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"></path>
                                <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                            </g>

                            </svg>
                        12 August, 2020</span>
                            <h3 class="titlePost" data-aos="fade-up" data-aos-duration="900">
                                DBEC Wholesale Florist - Wholesale FLorist Supply Company
                            </h3>
                            <p class="descriptionPost" data-aos="fade-up" data-aos-duration="1100">
                                Pittsburgh, PA
                            </p>
                            <a th:href="@{project-energy}" class="linkPost" data-aos="fade-up" data-aos-duration="1300">
                                Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path>
                                </g>
                            </g>
                        </svg>
                            </a>
                        </div>
                    </div>
                    <div class="itmNews" data-aos="fade-up" data-aos-duration="3000">
                        <a th:href="@{project-engineering}">
                            <figure style="background-image: url('images/en-1.jpg')"></figure>
                        </a>
                        <div class="contentTextNews">
                         <span class="datePost" data-aos="fade-up" data-aos-duration="700">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                             xml:space="preserve">
                            <g>
                                <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3   C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5   v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z    M4,58V17h52v41H4z"></path>
                                <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7   V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7   v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                            </g>

                            </svg>
                        12 August, 2020</span>
                            <h3 class="titlePost" data-aos="fade-up" data-aos-duration="900">
                                Meticulous planning and seamless integration of fiber infrastructure
                            </h3>
                            <p class="descriptionPost" data-aos="fade-up" data-aos-duration="1100">
                                Boyertown, PA - New Berlinville, PA
                            </p>
                            <a th:href="@{project-engineering}" class="linkPost" data-aos="fade-up" data-aos-duration="1300">
                                Read more
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                     style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path>
                                </g>
                            </g>
                        </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

