<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:static="http://www.w3.org/1999/xhtml">

    <section
            class="uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-top-center uk-position-relative"
            style="    background-image: radial-gradient(farthest-corner at 50% 100%, rgba(237, 103, 37, 0.7), rgba(0, 0, 0, 0.7)), url(images/image-from-rawpixel-id-83777-jpeg.jpg);">
        <div class="uk-background-cover uk-background-top-center uk-background-norepeat uk-position-absolute uk-position-top uk-width-1-1 uk-height-1-1"
             uk-parallax="bgy: -200"></div>
        <div class="uk-container titleElement">

            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Projects</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We are committed to meeting each project's specific requirements</h4>

        </div>
    </section>
    <section class="aboutBox" id="background">
        <div class="uk-container">

            <div class="uk-grid-item-match uk-flex-middle uk-width-expand@m">
                <div class="uk-panel uk-width-1-1">
                    <div class="uk-divider-small uk-text-left@m uk-text-center"></div>
                </div>
            </div>

            <div class="h4-box" style="overflow: hidden;">
                <h4 class="uk-text-bold-description uk-text-left"
                    uk-scrollspy="" data-aos="fade-up" data-aos-duration="700">
                    Behind every project, there is a story. As an industry leader in quality infrastructure choices,
                    Utilities One is offering its
                    customers solutions and services that allow them to achieve groundbreaking results.</h4>


                <h4 class="uk-text-bold-description uk-text-left"
                    uk-scrollspy="" data-aos="fade-up" data-aos-duration="900">As a customer-centric
                    business, we believe that our analysis of a project that identifies a situation, deployed solutions,
                    implementation actions, and identification
                    of those factors that contributed to the success, allows our customers to optimize their
                    infrastructural needs, significantly increasing
                    their awareness of our world-class services.</h4>

                <h4 class="uk-text-bold-description uk-text-left"
                    uk-scrollspy="" data-aos="fade-up" data-aos-duration="1100">With over a decade
                    of experience in the industry, we have gained a perspective that has allowed us to match our
                    customers’ needs with the most optimal
                    approach while laying a solid foundation for years of sustainable growth. We have successfully
                    helped our clients understand, plan,
                    and execute their goals with our expertise in Telecommunications, Electric Utilities, Oil & Gas,
                    Wireless Carriers, Engineering, and
                    Technology Deployment industries. We are proud to showcase our work and the success our clients
                    obtain through our initiatives.</h4>

                <h4 class="uk-text-bold-description uk-text-left"
                    uk-scrollspy="" data-aos="fade-up" data-aos-duration="1300"> We realize that each
                    of our clients has a unique brand, target market, capabilities and goals. In these case studies, you
                    will see how Utilities One
                    handled successful infrastructural projects that resulted in short- and long-term success for our
                    customers.</h4>
            </div>
        </div>
    </section>
    <section class="projectMap">
        <div class="uk-container">
            <div class="contentText" style="overflow: hidden;" data-aos="fade-up" data-aos-duration="1000">
                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="73" fill="none" viewBox="0 0 58 73">
                    <path stroke="#E0621E" stroke-width="3"
                          d="M56.5 65c0 .318-.251.979-1.598 1.858-1.285.837-3.242 1.649-5.795 2.353C44.023 70.614 36.913 71.5 29 71.5c-7.913 0-15.023-.886-20.107-2.29-2.553-.703-4.51-1.515-5.795-2.352C1.751 65.978 1.5 65.318 1.5 65c0-.318.251-.979 1.598-1.858 1.285-.837 3.242-1.649 5.795-2.353C13.977 59.386 21.087 58.5 29 58.5c7.913 0 15.023.886 20.107 2.29 2.553.703 4.51 1.515 5.795 2.352 1.347.88 1.598 1.54 1.598 1.858z"/>
                    <path fill="#fff" stroke="#E0621E" stroke-width="3"
                          d="M29 61l-1.12.997 1.12 1.26 1.12-1.26L29 61zm0 0c1.12.997 1.12.997 1.121.996h.001l.004-.005.012-.013.045-.052.173-.198c.15-.172.37-.426.647-.753.555-.654 1.346-1.603 2.294-2.788 1.894-2.369 4.421-5.69 6.952-9.497 2.528-3.802 5.077-8.115 6.998-12.465 1.913-4.332 3.253-8.809 3.253-12.91C50.5 11.254 40.895 1.5 29 1.5S7.5 11.253 7.5 23.316c0 4.1 1.34 8.577 3.253 12.909 1.921 4.35 4.47 8.663 6.998 12.465 2.53 3.807 5.058 7.128 6.952 9.497.948 1.185 1.739 2.134 2.294 2.788.278.327.497.58.647.753l.173.198.045.052.012.014.004.003v.001c.001 0 .001.001 1.122-.996z"/>
                    <path fill="#fff" stroke="#E0621E" stroke-width="3"
                          d="M29.003 31.462c4.763 0 8.577-3.926 8.577-8.71 0-4.785-3.814-8.711-8.577-8.711-4.764 0-8.577 3.926-8.577 8.71 0 4.785 3.813 8.711 8.577 8.711z"/>
                </svg>
                <h2 class="uk-text-bold uk-text-left@m uk-text-center" data-aos="fade-up" data-aos-duration="1200">
                    <span>Explore</span> our areas of expertise and filter them in line with the projects you are interested in.
                </h2>
            </div>
        </div>
        <div id="locations"></div>

        <div class="boxMap">
            <div class="eventButton">
                <div class="enevtItm" onclick="locationsByProjectType('construction')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53" height="34" fill="none" viewBox="0 0 53 34">
                        <path fill="#E0621E" d="M52.781 23.8l-3.66-9.69h-.086c.591-.153 1.107-.512 1.456-1.012.348-.5.506-1.108.444-1.714-.062-.607-.339-1.17-.78-1.59-.443-.42-1.021-.668-1.63-.7h-.511l-5.534-5.1c.123-.688.03-1.397-.266-2.031-.296-.634-.78-1.161-1.388-1.51-.607-.349-1.307-.502-2.004-.44-.698.064-1.36.34-1.894.791-.534.452-.916 1.058-1.094 1.734-.178.677-.142 1.391.102 2.047.244.655.685 1.22 1.262 1.616.577.396 1.262.606 1.962.599l1.192-.255 5.619 5.185c.066.542.305 1.048.68 1.445L35.756 27.2h13.62c1.618 0 4.428-.51 3.406-3.4zM28.093 25.5H4.256c-1.128 0-2.211.448-3.01 1.245C.449 27.542 0 28.623 0 29.75s.448 2.208 1.247 3.005c.798.797 1.88 1.245 3.01 1.245h23.836c1.128 0 2.211-.448 3.01-1.245.798-.797 1.246-1.878 1.246-3.005s-.448-2.208-1.247-3.005c-.798-.797-1.88-1.245-3.01-1.245z"/>
                        <path fill="#E0621E" d="M37.372 9.945c-1.503-.398-2.825-1.298-3.745-2.55l-2.98 2.805L20.857 0H11.92v10.2H1.703v11.9h27.241l8.428-12.155z"/>
                    </svg>
                    <span>
                        CONSTRUCTION
                    </span>
                </div>
                <div class="enevtItm" onclick="locationsByProjectType('wireless')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="44" fill="none" viewBox="0 0 46 44">
                        <path fill="#E0621E" d="M19.167 11c0-.743.205-1.471.593-2.1.388-.628.941-1.13 1.597-1.45.655-.318 1.385-.44 2.105-.35.72.09 1.4.387 1.962.857s.982 1.094 1.212 1.799c.23.705.26 1.462.086 2.184-.174.722-.544 1.378-1.067 1.893-.523.515-1.178.867-1.888 1.016V16.5h-1.534v-1.65c-.865-.183-1.642-.665-2.2-1.367-.56-.7-.865-1.578-.866-2.483zm16.1 31.429l-3.358-9.767-7.422 4.573 8.441 5.194h-2.974L23 38.146l-6.954 4.283h-2.974l8.44-5.194-7.42-4.573-3.359 9.767H0V44h46v-1.571H35.267zm-5.59-26.173c1.139-1.504 1.756-3.353 1.756-5.256s-.617-3.752-1.755-5.256l-1.212.958C29.396 7.932 29.9 9.444 29.9 11s-.504 3.068-1.434 4.298l1.212.958zm3.65 2.868c1.755-2.326 2.706-5.184 2.706-8.124 0-2.94-.952-5.798-2.706-8.124l-1.219.958C33.658 5.885 34.5 8.406 34.5 11c0 2.594-.841 5.115-2.392 7.166l1.219.958zm2.423 1.91l1.226.966c2.371-3.152 3.657-7.02 3.657-11 0-3.98-1.286-7.848-3.657-11L35.75.966C37.92 3.838 39.1 7.367 39.1 11c0 3.633-1.179 7.162-3.35 10.034zm-18.216-5.736c-.93-1.23-1.434-2.742-1.434-4.298s.504-3.068 1.434-4.298l-1.212-.958C15.184 7.248 14.567 9.097 14.567 11s.617 3.752 1.755 5.256l1.212-.958zm-4.861 3.826l1.219-.958C12.342 16.115 11.5 13.594 11.5 11c0-2.594.841-5.115 2.392-7.166l-1.219-.958C10.918 5.202 9.967 8.06 9.967 11c0 2.94.951 5.798 2.706 8.124zm-2.423 1.91C8.08 18.162 6.9 14.633 6.9 11c0-3.633 1.179-7.162 3.35-10.034L9.024 0C6.653 3.152 5.367 7.02 5.367 11c0 3.98 1.286 7.848 3.657 11l1.226-.966zm17.023-1.822l-.483-1.402c-.053-.153-.151-.286-.28-.38-.13-.094-.285-.144-.443-.144h-6.134c-.158 0-.313.05-.442.144-.13.094-.228.227-.28.38l-.484 1.402L23 22.586l4.273-3.374zm3.192 9.27l-2.655-7.71-3.554 2.806 6.209 4.903zm-8.72-4.904L18.19 20.77l-2.655 7.71 6.21-4.903zm-7.103 7.592L23 36.316l8.358-5.147L23 24.57l-8.358 6.6z"/>
                    </svg>
                    <span>
                        WIRELESS
                    </span>
                </div>
                <div class="enevtItm" onclick="locationsByProjectType('energy')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="46" fill="none" viewBox="0 0 48 46">
                        <path fill="#E0621E" d="M19.997 22.962l-.076-2.593c0-.306-.226-.535-.604-.535h-6.264c-.302 0-.528.23-.604.535v2.593h7.548zM47.998 18.842c0 .305-.227.61-.604.61h-.151l-8.529-2.898c-.226-.076-.377-.305-.377-.534l-.151-1.755c-.302.153-.604.23-.981.23-.302 0-.604-.077-.83-.23l-9.36 4.577c-.075.077-.15.077-.226.077-.226 0-.377-.077-.453-.23-.15-.228-.075-.533.076-.762l6.717-6.027c.15-.152.377-.152.604-.076l1.585.763c0-.687.302-1.22.83-1.602L36.903.534c0-.305.226-.534.528-.534.302 0 .528.153.604.458l1.811 8.925c0 .229-.075.458-.226.61l-1.434.992c.528.305.905.84.98 1.526l8.53 5.874c.15 0 .302.228.302.457zM28.458 20.292c0-.305-.227-.534-.528-.534h-6.265c-.15 0-.302.076-.377.152-.076.153-.151.305-.151.382l.075 2.593h7.548l-.302-2.593zM11.773 3.814V.992c0-.306.227-.61.604-.61.302 0 .604.228.604.61v2.822c0 .305-.226.534-.604.534-.377.076-.604-.152-.604-.534zM12.903 14.875v2.823c0 .305-.226.61-.604.61-.302 0-.604-.229-.604-.61v-2.823c0-.305.227-.61.604-.61.302 0 .604.305.604.61zM16.447 9.382c0 2.289-1.887 4.196-4.151 4.196-2.265 0-4.151-1.907-4.151-4.196 0-2.288 1.886-4.195 4.15-4.195 2.34-.077 4.152 1.83 4.152 4.195zM18.567 14.875c.226.23.226.61 0 .84-.151.152-.227.152-.378.152-.15 0-.302-.076-.377-.153l-1.963-1.983c-.226-.229-.226-.61 0-.84.227-.228.604-.228.83 0l1.888 1.984zM15.771 5.874c-.226-.23-.226-.61 0-.84l1.963-1.983c.226-.229.603-.229.83 0 .226.229.226.61 0 .84l-1.962 1.983c-.151.152-.227.152-.378.152-.226 0-.377-.076-.453-.152zM21.137 9.383c0 .305-.227.61-.604.61H17.74c-.301 0-.603-.228-.603-.61 0-.305.226-.61.604-.61h2.792c.377 0 .604.305.604.61zM8.828 12.816c.227.228.227.61 0 .839l-1.962 1.983c-.075.153-.226.153-.377.153s-.302-.077-.378-.153c-.226-.229-.226-.61 0-.839l1.963-1.983c.226-.153.528-.153.754 0zM6.865 9.917H4.073c-.302 0-.604-.229-.604-.61 0-.306.226-.61.604-.61h2.792c.302 0 .604.228.604.61-.076.381-.302.61-.604.61zM6.039 3.89c-.151-.229-.151-.61 0-.839.226-.229.604-.229.83 0l1.963 1.983c.226.23.226.61 0 .84-.076.152-.227.152-.378.152-.15 0-.302-.076-.377-.152L6.039 3.89zM3.926 20.292c0-.305.226-.534.528-.534h6.264c.151 0 .302.076.378.152.075.153.15.305.15.382v2.67H3.7l.227-2.67zM20.076 29.675h-7.774l-.075 1.754h7.924l-.075-1.754zM20.002 24.106h-7.623v1.602h7.623v-1.602zM20.079 26.852H12.38l-.075 1.678h7.774v-1.678zM20.157 32.574h-7.925l-.076 1.907h8.076l-.075-1.907zM20.222 35.625h-8.076l-.076 2.06h8.227l-.075-2.06z"/>
                        <path fill="#E0621E" d="M42.87 44.78h-2.717l-1.208-27.005-.604-.23c-.68-.228-1.132-.838-1.132-1.525v-.381c-.226 0-.453 0-.68-.076l-.905.457-1.283 28.76h-7.547v-1.908h3.019c.302 0 .603-.228.603-.61v-.152l-.377-3.28h-8.227l.151 3.508c0 .306.227.534.528.534h3.095v1.907h-8.83v-1.907h3.094c.302 0 .604-.228.604-.61v-.152l-.076-3.357h-8.302l-.075 3.51c0 .152.075.304.15.38.076.077.227.153.378.153h3.094v1.907H6.868v-1.907h3.095c.302 0 .528-.229.528-.534l.15-3.509H2.416l-.302 3.357v.152c0 .305.227.61.604.61h3.02v1.907H.603c-.302 0-.604.23-.604.61 0 .382.226.611.604.611H42.87c.302 0 .604-.229.604-.61 0-.382-.227-.61-.604-.61z"/>
                        <path fill="#E0621E" d="M21.587 34.481h8.076l-.151-1.907h-8l.075 1.907zM21.517 31.43h7.925l-.151-1.755h-7.85l.076 1.754zM21.36 28.53h7.774l-.15-1.678h-7.699l.076 1.678zM28.905 25.708l-.15-1.602h-7.548l.075 1.602h7.623zM21.736 37.685h8.226l-.226-2.06H21.66l.076 2.06zM10.873 32.574H2.948l-.151 1.907h8l.076-1.907zM11.024 29.675h-7.85l-.15 1.754h7.924l.076-1.754zM11.092 26.852H3.393l-.15 1.678h7.773l.076-1.678zM11.243 24.106H3.62l-.151 1.602h7.698l.076-1.602zM10.794 35.625h-8.15l-.152 2.06h8.227l.075-2.06z"/>
                    </svg>
                    <span>
                        ENERGY
                    </span>
                </div>
                <div class="enevtItm" onclick="locationsByProjectType('engineering')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="46" fill="none" viewBox="0 0 49 46">
                        <path fill="#E0621E" d="M6.616 12.518H26.46c.374 0 .749-.377.749-.754 0-.453-.375-.754-.75-.754h-1.048c.225-4.45-2.77-7.843-6.215-8.899V.754c0-.377-.3-.754-.749-.754h-3.744c-.449 0-.748.377-.748.754v1.357c-3.67 1.132-6.59 4.6-6.216 8.899H6.616c-.374 0-.749.301-.749.754 0 .377.375.754.749.754zM16.582 20.887c3.67 0 6.74-2.94 7.413-6.937H9.094c.674 3.996 3.819 6.937 7.488 6.937z"/>
                        <path fill="#E0621E" d="M27.332 31.295c-.225-.604-.3-1.358.225-2.187 4.493-4.6 2.92-3.017 3.294-3.318.3-.302.6-.528.974-.603-.3-.98-.974-1.81-1.872-2.338-2.247-1.282-4.493-2.187-6.74-2.79-.3-.076-.674.075-.823.377l-4.568 8.22H15.35l-4.493-8.145c-.15-.301-.524-.452-.824-.377-2.246.604-4.493 1.584-6.74 2.79-1.272.679-2.096 2.036-2.17 3.47L0 40.946c0 .226.075.453.225.603.15.151.3.227.524.227h26.583c-.3-.604-.225-1.282 0-1.886-.3-.15-.6-.301-.824-.527-.449-.453-.674-.98-.674-1.584.15-3.695-.449-4.902.674-5.957.3-.227.524-.377.824-.528z"/>
                        <path fill="#E0621E" d="M47.703 32.955c-.15-.151-.3-.227-.524-.227h-2.172c-.074-.075-.074-.15-.15-.301l1.498-1.509c.3-.301.3-.754 0-1.055l-2.92-3.092c-.3-.302-.749-.302-1.048 0l-1.498 1.508c-.075-.075-.15-.075-.3-.075v-2.187c0-.453-.3-.754-.748-.754h-4.344c-.224 0-.374.075-.524.226-.15.15-.224.302-.224.528v2.187c-.075 0-.15.075-.225.075l-1.498-1.508c-.3-.302-.748-.302-1.048 0-.075.15-2.995 3.016-3.07 3.092-.225.452-.3.83.075 1.13.599.604 1.048 1.132 1.422 1.434 0 .075-.074.15-.074.301h-2.172c-.225 0-.374.076-.524.227-.15.15-.225.301-.225.527v4.374c0 .226.075.377.225.528.224.226.599.226.823.226h1.873c0 .076.074.151.074.226l-1.497 1.509c-.3.301-.3.754 0 1.055l3.07 3.092c.3.302.749.302 1.048 0l.075-.075 1.423-1.433c.075 0 .15.075.3.15v2.112c0 .377.299.754.748.754h4.343c.225 0 .375-.075.525-.226.15-.15.224-.302.224-.528V43.06c.075 0 .15-.075.225-.075l1.498 1.508c.15.15.3.226.524.226.224 0 .374-.075.524-.226l3.07-3.092c.3-.301.3-.754 0-1.055l-1.498-1.509c0-.075.075-.15.075-.226h2.172c.45 0 .749-.301.749-.754v-4.374c-.075-.15-.15-.377-.3-.527zm-5.84 3.167c-.15 1.13-.675 2.187-1.573 2.865-.749.603-1.648.905-2.621.905-2.546 0-4.568-2.262-4.268-4.826.3-2.338 2.396-4.072 4.717-3.77 2.396.377 4.044 2.488 3.744 4.826z"/>
                    </svg>
                    <span>
                        ENGINEERING
                    </span>
                </div>
                <div class="enevtItm" onclick="locationsByProjectType('technology-deployment')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" viewBox="0 0 44 44">
                        <path fill="#E0621E" d="M1.375 41.25c0 .365.145.714.403.972s.607.403.972.403h38.5c.365 0 .714-.145.972-.403s.403-.607.403-.972V33H1.375v8.25zm22-5.5h13.75c.365 0 .714.145.972.403s.403.607.403.972-.145.714-.403.972-.607.403-.972.403h-13.75c-.365 0-.714-.145-.972-.403S22 37.49 22 37.125s.145-.714.403-.972.607-.403.972-.403zm-15.813-.688c.408 0 .807.122 1.146.348.34.227.604.549.76.926.156.377.197.791.117 1.191s-.276.768-.564 1.056c-.289.289-.656.485-1.056.565-.4.08-.815.039-1.192-.117-.377-.157-.699-.421-.925-.76-.227-.34-.348-.738-.348-1.146 0-.547.217-1.072.604-1.458.387-.387.911-.605 1.458-.605zM38.844 2.75c-.12-.373-.347-.702-.653-.946-.305-.245-.676-.394-1.066-.429H6.875c-.4.03-.78.177-1.098.422-.318.244-.557.575-.69.953l-2.543 5.5h38.912l-2.612-5.5zM1.375 30.25h41.25V22H1.375v8.25zm22-5.5h13.75c.365 0 .714.145.972.403s.403.607.403.972-.145.714-.403.972-.607.403-.972.403h-13.75c-.365 0-.714-.145-.972-.403S22 26.49 22 26.125s.145-.714.403-.972.607-.403.972-.403zm-15.813-.688c.408 0 .807.121 1.146.348.34.227.604.549.76.926.156.377.197.791.117 1.191s-.276.768-.564 1.056c-.289.289-.656.485-1.056.565-.4.08-.815.039-1.192-.117-.377-.157-.699-.421-.925-.76-.227-.34-.348-.738-.348-1.146 0-.547.217-1.072.604-1.458.387-.387.911-.605 1.458-.605zM1.375 11v8.25h41.25V11H1.375zm6.188 6.188c-.408 0-.807-.121-1.146-.348-.34-.227-.604-.549-.76-.926-.156-.377-.197-.791-.117-1.191s.276-.768.564-1.056c.289-.289.656-.485 1.056-.565.4-.08.815-.039 1.192.117.377.157.699.421.925.76.227.34.348.738.348 1.146 0 .547-.217 1.072-.604 1.458-.387.387-.911.605-1.459.605zm29.562-.688h-13.75c-.365 0-.714-.145-.972-.403S22 15.49 22 15.125s.145-.714.403-.972.607-.403.972-.403h13.75c.365 0 .714.145.972.403s.403.607.403.972-.145.714-.403.972-.607.403-.972.403z"/>
                    </svg>
                    <span>
                        TECHNOLOGY DEPLOYMENT
                    </span>
                </div>
            </div>
            <a href="#/" onclick="showLocations()"><span class="allLocation">All locations</span></a>
            <div id="map" style="height: 100vh">

            </div>
        </div>
<!--        <div class="contentMap" data-aos="fade-up" data-aos-duration="900">-->
<!--            <img src="images/Screen Shot 2020-09-03 at 17.42.31.png" alt="">-->
<!--        </div>-->
    </section>
    <section id="case_studies" class="aboutBox aboutBoxSlider">
        <div class="uk-container">

            <div class="uk-grid-item-match uk-flex-middle uk-width-expand@m" data-aos="fade-up" data-aos-duration="1000">
                <div class="uk-panel uk-width-1-1" style="overflow: hidden;">
                    <h2 class="uk-text-bold uk-text-left@m uk-text-center" data-aos="fade-up" data-aos-duration="900">Case studies</h2>
                    <div class="uk-divider-small uk-text-left@m uk-text-center" data-aos="fade-up" data-aos-duration="1100"></div>
                </div>
            </div>

            <div class="h4-box" data-aos="fade-up" data-aos-duration="900">
                <h4 class="uk-text-bold-description uk-text-left">
                    We are committed to showing you proof for every completed project</h4>
            </div>
        </div>
    </section>
    <section class="uk-section uk-section-default aboutUs projectPage">
        <ul class="uk-flex-center" uk-tab uk-switcher data-aos="fade-up" data-aos-duration="900">
            <li class="uk-active"><a href="" class="uk-passive">
                <svg xmlns="http://www.w3.org/2000/svg" width="154" height="134" fill="none" viewBox="0 0 154 134">

                    <path fill="#E0621E"
                          d="M108.737 75.4l-4.421-11.97h-.103c.714-.189 1.337-.632 1.758-1.25.42-.618.611-1.369.536-2.118-.074-.748-.409-1.445-.943-1.964-.534-.518-1.232-.824-1.967-.863h-.617l-6.683-6.3c.148-.85.036-1.727-.321-2.51-.358-.783-.943-1.434-1.676-1.865-.733-.431-1.578-.62-2.42-.543-.843.078-1.642.419-2.287.977-.646.558-1.108 1.306-1.322 2.141-.214.836-.171 1.719.123 2.529.295.81.827 1.507 1.524 1.996.697.49 1.524.748 2.37.74l1.44-.315 6.784 6.405c.08.67.369 1.296.823 1.785L88.176 79.601h16.449c1.953 0 5.345-.63 4.112-4.2zM78.925 77.5H50.14c-1.363 0-2.67.552-3.635 1.537-.964.985-1.505 2.32-1.505 3.712 0 1.393.541 2.728 1.505 3.713.964.984 2.272 1.538 3.635 1.538h28.785c1.363 0 2.67-.554 3.635-1.538.963-.985 1.505-2.32 1.505-3.713 0-1.392-.541-2.727-1.505-3.712-.964-.985-2.272-1.538-3.635-1.538z"></path>
                    <path fill="#E0621E"
                          d="M90.132 58.285c-1.816-.491-3.412-1.603-4.523-3.15L82.01 58.6 70.188 46H59.394v12.6H47.057v14.7h32.897l10.178-15.015z"></path>
                </svg>
                CONSTRUCTION</a></li>
            <li><a href="" class="uk-passive">
                <svg xmlns="http://www.w3.org/2000/svg" width="179" height="156" viewBox="0 0 179 156" fill="none">

                    <path d="M84.4167 63.25C84.4167 62.287 84.6895 61.3438 85.2036 60.5299C85.7177 59.716 86.4518 59.0648 87.3208 58.652C88.1898 58.2392 89.1579 58.0817 90.1127 58.1977C91.0676 58.3138 91.9699 58.6987 92.715 59.3078C93.46 59.9168 94.0172 60.7249 94.3217 61.6384C94.6263 62.5518 94.6658 63.533 94.4356 64.4679C94.2054 65.4029 93.715 66.2533 93.0213 66.9204C92.3276 67.5875 91.4591 68.0438 90.5167 68.2364V70.375H88.4833V68.2364C87.3361 68.0003 86.3052 67.3755 85.5644 66.4671C84.8236 65.5588 84.4183 64.4226 84.4167 63.25ZM105.767 103.964L101.314 91.3123L91.4723 97.2363L102.666 103.964H98.7212L89.5 98.417L80.2788 103.964H76.3342L87.5277 97.2363L77.6863 91.3123L73.2333 103.964H59V106H120V103.964H105.767ZM98.3552 70.0595C99.8643 68.1111 100.683 65.7156 100.683 63.25C100.683 60.7844 99.8643 58.3889 98.3552 56.4405L96.7488 57.6823C97.9813 59.276 98.65 61.2345 98.65 63.25C98.65 65.2655 97.9813 67.224 96.7488 68.8177L98.3552 70.0595ZM103.194 73.7746C105.521 70.7607 106.783 67.0592 106.783 63.25C106.783 59.4408 105.521 55.7393 103.194 52.7254L101.578 53.9671C103.634 56.6237 104.75 59.8892 104.75 63.25C104.75 66.6108 103.634 69.8763 101.578 72.5329L103.194 73.7746ZM106.407 76.248L108.034 77.5C111.178 73.4167 112.883 68.4059 112.883 63.25C112.883 58.0941 111.178 53.0833 108.034 49L106.407 50.252C109.287 53.9714 110.85 58.5439 110.85 63.25C110.85 67.9561 109.287 72.5286 106.407 76.248ZM82.2512 68.8177C81.0187 67.224 80.35 65.2655 80.35 63.25C80.35 61.2345 81.0187 59.276 82.2512 57.6823L80.6448 56.4405C79.1357 58.3889 78.3167 60.7844 78.3167 63.25C78.3167 65.7156 79.1357 68.1111 80.6448 70.0595L82.2512 68.8177ZM75.8055 73.7746L77.422 72.5329C75.3658 69.8763 74.25 66.6108 74.25 63.25C74.25 59.8892 75.3658 56.6237 77.422 53.9671L75.8055 52.7254C73.4789 55.7393 72.2167 59.4408 72.2167 63.25C72.2167 67.0592 73.4789 70.7607 75.8055 73.7746ZM72.5928 76.248C69.7129 72.5286 68.15 67.9561 68.15 63.25C68.15 58.5439 69.7129 53.9714 72.5928 50.252L70.9662 49C67.8219 53.0833 66.1166 58.0941 66.1166 63.25C66.1166 68.4059 67.8219 73.4167 70.9662 77.5L72.5928 76.248ZM95.166 73.8877L94.5255 72.0718C94.4552 71.8733 94.3254 71.7016 94.1537 71.58C93.982 71.4584 93.7769 71.3931 93.5667 71.3929H85.4333C85.223 71.393 85.0179 71.4583 84.8461 71.5799C84.6744 71.7015 84.5445 71.8733 84.4742 72.0718L83.8337 73.8877L89.5 78.2589L95.166 73.8877ZM99.3992 85.8961L95.8782 75.908L91.1654 79.5438L99.3992 85.8961ZM87.8346 79.5438L83.1218 75.908L79.6008 85.8961L87.8346 79.5438ZM78.417 89.3791L89.5 96.0454L100.583 89.3784L89.5 80.8284L78.417 89.3791Z"
                          fill="#E0621E"></path>
                </svg>
                WIRELESS</a></li>
            <li><a href="" class="uk-passive">
                <svg xmlns="http://www.w3.org/2000/svg" width="155" height="135" viewBox="0 0 155 135" fill="none">

                    <path d="M72.4182 65.9524L72.3223 62.6821C72.3223 62.2973 72.0346 62.0088 71.555 62.0088H63.5942C63.2106 62.0088 62.9228 62.2973 62.8269 62.6821V65.9524H72.4182Z"
                          fill="#E0621E"></path>
                    <path d="M108 60.7577C108 61.1425 107.712 61.5272 107.233 61.5272C107.137 61.5272 107.041 61.5272 107.041 61.5272L96.2027 57.8722C95.915 57.776 95.7232 57.4874 95.7232 57.1989L95.5313 54.9866C95.1477 55.179 94.764 55.2752 94.2845 55.2752C93.9008 55.2752 93.5172 55.179 93.2294 54.9866L81.3362 60.7577C81.2403 60.8539 81.1444 60.8539 81.0484 60.8539C80.7607 60.8539 80.5689 60.7577 80.473 60.5653C80.2811 60.2768 80.3771 59.892 80.5689 59.6035L89.1051 52.0049C89.297 51.8125 89.5847 51.8125 89.8725 51.9087L91.8866 52.8705C91.8866 52.0049 92.2703 51.3316 92.9417 50.8507L93.9008 37.6733C93.9008 37.2886 94.1885 37 94.5722 37C94.9558 37 95.2436 37.1924 95.3395 37.5771L97.6414 48.8308C97.6414 49.1193 97.5455 49.4079 97.3537 49.6002L95.5313 50.8507C96.2027 51.2354 96.6823 51.9087 96.7782 52.7744L107.616 60.1806C107.808 60.1806 108 60.4692 108 60.7577Z"
                          fill="#E0621E"></path>
                    <path d="M83.161 62.5854C83.161 62.2007 82.8733 61.9121 82.4896 61.9121H74.5288C74.337 61.9121 74.1452 62.0083 74.0492 62.1045C73.9533 62.2969 73.8574 62.4892 73.8574 62.5854L73.9533 65.8557H83.5446L83.161 62.5854Z"
                          fill="#E0621E"></path>
                    <path d="M61.9612 41.8098V38.2509C61.9612 37.8662 62.2489 37.4814 62.7285 37.4814C63.1121 37.4814 63.4958 37.77 63.4958 38.2509V41.8098C63.4958 42.1945 63.2081 42.4831 62.7285 42.4831C62.2489 42.5793 61.9612 42.2907 61.9612 41.8098Z"
                          fill="#E0621E"></path>
                    <path d="M63.4034 55.7558V59.3147C63.4034 59.6994 63.1156 60.0841 62.6361 60.0841C62.2524 60.0841 61.8688 59.7956 61.8688 59.3147V55.7558C61.8688 55.3711 62.1565 54.9863 62.6361 54.9863C63.0197 54.9863 63.4034 55.3711 63.4034 55.7558Z"
                          fill="#E0621E"></path>
                    <path d="M67.9063 48.8311C67.9063 51.7166 65.5084 54.1212 62.6311 54.1212C59.7537 54.1212 57.3558 51.7166 57.3558 48.8311C57.3558 45.9455 59.7537 43.5409 62.6311 43.5409C65.6044 43.4447 67.9063 45.8493 67.9063 48.8311Z"
                          fill="#E0621E"></path>
                    <path d="M70.596 55.7553C70.8838 56.0439 70.8838 56.5248 70.596 56.8134C70.4042 57.0057 70.3083 57.0057 70.1165 57.0057C69.9246 57.0057 69.7328 56.9095 69.6369 56.8134L67.1432 54.3125C66.8554 54.024 66.8554 53.5431 67.1432 53.2545C67.4309 52.9659 67.9105 52.9659 68.1982 53.2545L70.596 55.7553Z"
                          fill="#E0621E"></path>
                    <path d="M67.0444 44.4051C66.7567 44.1166 66.7567 43.6357 67.0444 43.3471L69.5382 40.8463C69.8259 40.5577 70.3055 40.5577 70.5932 40.8463C70.8809 41.1349 70.8809 41.6158 70.5932 41.9043L68.0995 44.4051C67.9076 44.5975 67.8117 44.5975 67.6199 44.5975C67.3322 44.5975 67.1403 44.5013 67.0444 44.4051Z"
                          fill="#E0621E"></path>
                    <path d="M73.8539 48.8323C73.8539 49.2171 73.5662 49.602 73.0866 49.602H69.5378C69.1542 49.602 68.7705 49.3134 68.7705 48.8323C68.7705 48.4474 69.0582 48.0625 69.5378 48.0625H73.0866C73.5662 48.0625 73.8539 48.4474 73.8539 48.8323Z"
                          fill="#E0621E"></path>
                    <path d="M58.2237 53.1579C58.5115 53.4465 58.5115 53.9274 58.2237 54.216L55.73 56.7168C55.6341 56.9092 55.4422 56.9092 55.2504 56.9092C55.0586 56.9092 54.8668 56.813 54.7709 56.7168C54.4831 56.4282 54.4831 55.9473 54.7709 55.6588L57.2646 53.1579C57.5523 52.9656 57.936 52.9656 58.2237 53.1579Z"
                          fill="#E0621E"></path>
                    <path d="M55.7288 49.5044H52.18C51.7964 49.5044 51.4127 49.2157 51.4127 48.7346C51.4127 48.3497 51.7005 47.9648 52.18 47.9648H55.7288C56.1125 47.9648 56.4961 48.2535 56.4961 48.7346C56.4002 49.2157 56.1125 49.5044 55.7288 49.5044Z"
                          fill="#E0621E"></path>
                    <path d="M54.6735 41.9043C54.4817 41.6158 54.4817 41.1349 54.6735 40.8463C54.9613 40.5577 55.4408 40.5577 55.7286 40.8463L58.2223 43.3471C58.5101 43.6357 58.5101 44.1166 58.2223 44.4051C58.1264 44.5975 57.9346 44.5975 57.7428 44.5975C57.5509 44.5975 57.3591 44.5013 57.2632 44.4051L54.6735 41.9043Z"
                          fill="#E0621E"></path>
                    <path d="M51.9878 62.5854C51.9878 62.2007 52.2756 61.9121 52.6592 61.9121H60.62C60.8118 61.9121 61.0036 62.0083 61.0996 62.1045C61.1955 62.2969 61.2914 62.4892 61.2914 62.5854V65.9519H51.7001L51.9878 62.5854Z"
                          fill="#E0621E"></path>
                    <path d="M72.5144 74.416H62.6353L62.5394 76.6291H72.6103L72.5144 74.416Z" fill="#E0621E"></path>
                    <path d="M72.4183 67.3945H62.7311V69.4152H72.4183V67.3945Z" fill="#E0621E"></path>
                    <path d="M72.5109 70.8564H62.7277L62.6318 72.9733H72.5109V70.8564Z" fill="#E0621E"></path>
                    <path d="M72.6104 78.0713H62.5395L62.4436 80.4768H72.7063L72.6104 78.0713Z" fill="#E0621E"></path>
                    <path d="M72.703 81.9189H62.4403L62.3444 84.5169H72.7989L72.703 81.9189Z" fill="#E0621E"></path>
                    <path d="M101.479 93.461H98.0258L96.4911 59.4114L95.7238 59.1229C94.8606 58.8343 94.2851 58.0648 94.2851 57.1992V56.7183C93.9974 56.7183 93.7097 56.7183 93.4219 56.6221L92.271 57.1992L90.6404 93.461H81.0491V91.0563H84.8857C85.2693 91.0563 85.653 90.7678 85.653 90.2868C85.653 90.1907 85.653 90.0945 85.653 90.0945L85.1734 85.9585H74.7189L74.9107 90.383C74.9107 90.7678 75.1984 91.0563 75.5821 91.0563H79.5145V93.461H68.2927V91.0563H72.2251C72.6088 91.0563 72.9924 90.7678 72.9924 90.2868C72.9924 90.1907 72.9924 90.1907 72.9924 90.0945L72.8965 85.8623H62.3461L62.2502 90.2868C62.2502 90.4792 62.3461 90.6716 62.442 90.7678C62.5379 90.864 62.7297 90.9601 62.9216 90.9601H66.854V93.3648H55.7281V90.9601H59.6605C60.0442 90.9601 60.3319 90.6716 60.3319 90.2868L60.5237 85.8623H50.0692L49.6856 90.0945C49.6856 90.1907 49.6856 90.2868 49.6856 90.2868C49.6856 90.6716 49.9733 91.0563 50.4529 91.0563H54.2894V93.461H47.7673C47.3837 93.461 47 93.7495 47 94.2304C47 94.7114 47.2877 94.9999 47.7673 94.9999H101.479C101.862 94.9999 102.246 94.7114 102.246 94.2304C102.246 93.7495 101.958 93.461 101.479 93.461Z"
                          fill="#E0621E"></path>
                    <path d="M74.4299 80.4768H84.6926L84.5008 78.0713H74.334L74.4299 80.4768Z" fill="#E0621E"></path>
                    <path d="M74.3365 76.6291H84.4074L84.2156 74.416H74.2406L74.3365 76.6291Z" fill="#E0621E"></path>
                    <path d="M74.1419 72.9733H84.021L83.8292 70.8564H74.046L74.1419 72.9733Z" fill="#E0621E"></path>
                    <path d="M83.7328 69.4152L83.541 67.3945H73.9497L74.0456 69.4152H83.7328Z" fill="#E0621E"></path>
                    <path d="M74.624 84.5169H85.0785L84.7908 81.9189H74.5281L74.624 84.5169Z" fill="#E0621E"></path>
                    <path d="M60.8096 78.0713H50.7387L50.5469 80.4768H60.7137L60.8096 78.0713Z" fill="#E0621E"></path>
                    <path d="M61.0047 74.416H51.0297L50.8379 76.6291H60.9088L61.0047 74.416Z" fill="#E0621E"></path>
                    <path d="M61.1002 70.8564H51.3171L51.1252 72.9733H61.0043L61.1002 70.8564Z" fill="#E0621E"></path>
                    <path d="M61.2918 67.3945H51.6045L51.4127 69.4152H61.1959L61.2918 67.3945Z" fill="#E0621E"></path>
                    <path d="M60.7171 81.9189H50.3585L50.1666 84.5169H60.6212L60.7171 81.9189Z" fill="#E0621E"></path>
                </svg>
                ENERGY</a></li>
            <li><a href="" class="uk-passive">
                <svg xmlns="http://www.w3.org/2000/svg" width="179" height="156" viewBox="0 0 179 156" fill="none">

                    <path d="M70.3804 64.7835H95.5977C96.0735 64.7835 96.5493 64.3081 96.5493 63.8327C96.5493 63.2622 96.0735 62.8819 95.5977 62.8819H94.2654C94.5509 57.2721 90.7445 52.9934 86.3672 51.6623V49.9508C86.3672 49.4754 85.9866 49 85.4156 49H80.6576C80.0867 49 79.7061 49.4754 79.7061 49.9508V51.6623C75.0432 53.0885 71.332 57.4623 71.8078 62.8819H70.3804C69.9046 62.8819 69.4288 63.2622 69.4288 63.8327C69.4288 64.3081 69.9046 64.7835 70.3804 64.7835Z"
                          fill="#E0621E"></path>
                    <path d="M83.0318 75.3354C87.6946 75.3354 91.5962 71.6272 92.4526 66.5879H73.5159C74.3723 71.6272 78.369 75.3354 83.0318 75.3354Z"
                          fill="#E0621E"></path>
                    <path d="M96.7332 88.4599C96.4477 87.6993 96.3526 86.7485 97.0187 85.7026C102.728 79.9026 100.73 81.8993 101.206 81.519C101.586 81.1386 101.967 80.8534 102.443 80.7583C102.062 79.5223 101.206 78.4764 100.064 77.8108C97.209 76.1944 94.3542 75.0534 91.4994 74.2928C91.1188 74.1977 90.643 74.3879 90.4527 74.7682L84.6479 85.1321H81.5077L75.7981 74.8633C75.6078 74.4829 75.132 74.2928 74.7514 74.3879C71.8966 75.1485 69.0418 76.3846 66.187 77.9059C64.5693 78.7616 63.5226 80.4731 63.4274 82.2796L62 100.63C62 100.916 62.0952 101.201 62.2855 101.391C62.4758 101.581 62.6661 101.676 62.9516 101.676H96.7332C96.3526 100.916 96.4477 100.06 96.7332 99.2992C96.3526 99.109 95.9719 98.9189 95.6864 98.6336C95.1155 98.0631 94.83 97.3976 94.83 96.6369C95.0203 91.9779 94.259 90.4566 95.6864 89.1255C96.0671 88.8402 96.3526 88.6501 96.7332 88.4599Z"
                          fill="#E0621E"></path>
                    <path d="M122.619 90.5508C122.429 90.3607 122.239 90.2656 121.953 90.2656H119.194C119.098 90.1705 119.098 90.0754 119.003 89.8853L120.907 87.9836C121.287 87.6033 121.287 87.0328 120.907 86.6525L117.195 82.7542C116.815 82.3738 116.244 82.3738 115.863 82.7542L113.96 84.6558C113.865 84.5607 113.77 84.5607 113.579 84.5607V81.8034C113.579 81.2329 113.199 80.8525 112.628 80.8525H107.108C106.823 80.8525 106.633 80.9476 106.442 81.1378C106.252 81.3279 106.157 81.5181 106.157 81.8034V84.5607C106.062 84.5607 105.966 84.6558 105.871 84.6558L103.968 82.7542C103.587 82.3738 103.017 82.3738 102.636 82.7542C102.541 82.9443 98.8295 86.5574 98.7344 86.6525C98.4489 87.223 98.3537 87.6984 98.8295 88.0787C99.5908 88.8394 100.162 89.505 100.638 89.8853C100.638 89.9804 100.542 90.0754 100.542 90.2656H97.7828C97.4973 90.2656 97.307 90.3607 97.1167 90.5508C96.9263 90.741 96.8312 90.9312 96.8312 91.2164C96.8312 91.3115 96.8312 96.2557 96.8312 96.7311C96.8312 97.0164 96.9263 97.2066 97.1167 97.3967C97.4021 97.682 97.8779 97.682 98.1634 97.682H100.542C100.542 97.777 100.638 97.8721 100.638 97.9672L98.7344 99.8688C98.3537 100.249 98.3537 100.82 98.7344 101.2L102.636 105.098C103.017 105.479 103.587 105.479 103.968 105.098L104.063 105.003L105.871 103.197C105.966 103.197 106.062 103.292 106.252 103.387V106.049C106.252 106.525 106.633 107 107.204 107H112.723C113.008 107 113.199 106.905 113.389 106.715C113.579 106.525 113.674 106.334 113.674 106.049V103.292C113.77 103.292 113.865 103.197 113.96 103.197L115.863 105.098C116.053 105.288 116.244 105.384 116.529 105.384C116.815 105.384 117.005 105.288 117.195 105.098L121.097 101.2C121.477 100.82 121.477 100.249 121.097 99.8688L119.194 97.9672C119.194 97.8721 119.289 97.777 119.289 97.682H122.048C122.619 97.682 123 97.3016 123 96.7311V91.5967V91.2164C122.905 91.0263 122.81 90.741 122.619 90.5508ZM115.197 94.5443C115.007 95.9705 114.341 97.3016 113.199 98.1574C112.247 98.918 111.105 99.2983 109.868 99.2983C106.633 99.2983 104.063 96.4459 104.444 93.2131C104.825 90.2656 107.489 88.0787 110.439 88.4591C113.484 88.9345 115.578 91.5967 115.197 94.5443Z"
                          fill="#E0621E"></path>
                </svg>
                ENGINEERING</a></li>
            <li><a href="" class="uk-passive">
                <svg xmlns="http://www.w3.org/2000/svg" width="199" height="173" viewBox="0 0 199 173" fill="none">

                    <path d="M71.8438 111.375C71.8438 111.856 72.038 112.317 72.3838 112.657C72.7295 112.997 73.1985 113.188 73.6875 113.188H125.312C125.801 113.188 126.27 112.997 126.616 112.657C126.962 112.317 127.156 111.856 127.156 111.375V100.5H71.8438V111.375ZM101.344 104.125H119.781C120.27 104.125 120.739 104.316 121.085 104.656C121.431 104.996 121.625 105.457 121.625 105.938C121.625 106.419 121.431 106.88 121.085 107.22C120.739 107.56 120.27 107.75 119.781 107.75H101.344C100.855 107.75 100.386 107.56 100.04 107.22C99.6943 106.88 99.5 106.419 99.5 105.938C99.5 105.457 99.6943 104.996 100.04 104.656C100.386 104.316 100.855 104.125 101.344 104.125ZM80.1406 103.219C80.6876 103.219 81.2223 103.379 81.6771 103.677C82.1319 103.976 82.4864 104.401 82.6957 104.898C82.9051 105.394 82.9598 105.941 82.8531 106.468C82.7464 106.996 82.483 107.48 82.0962 107.86C81.7094 108.241 81.2167 108.5 80.6802 108.604C80.1437 108.709 79.5876 108.656 79.0823 108.45C78.5769 108.244 78.145 107.896 77.8411 107.448C77.5372 107.001 77.375 106.476 77.375 105.938C77.375 105.217 77.6664 104.525 78.185 104.016C78.7037 103.506 79.4071 103.219 80.1406 103.219ZM122.086 60.6255C121.925 60.1343 121.621 59.7006 121.211 59.3783C120.801 59.0559 120.304 58.8594 119.781 58.813H79.2188C78.6834 58.8537 78.1716 59.0468 77.746 59.3687C77.3204 59.6905 76.9993 60.1272 76.8219 60.6255L73.4109 67.8755H125.589L122.086 60.6255ZM71.8438 96.8755H127.156V86.0005H71.8438V96.8755ZM101.344 89.6255H119.781C120.27 89.6255 120.739 89.8164 121.085 90.1564C121.431 90.4963 121.625 90.9573 121.625 91.438C121.625 91.9187 121.431 92.3797 121.085 92.7196C120.739 93.0595 120.27 93.2505 119.781 93.2505H101.344C100.855 93.2505 100.386 93.0595 100.04 92.7196C99.6943 92.3797 99.5 91.9187 99.5 91.438C99.5 90.9573 99.6943 90.4963 100.04 90.1564C100.386 89.8164 100.855 89.6255 101.344 89.6255ZM80.1406 88.7192C80.6876 88.7192 81.2223 88.8787 81.6771 89.1774C82.1319 89.4762 82.4864 89.9008 82.6957 90.3976C82.9051 90.8944 82.9598 91.441 82.8531 91.9684C82.7464 92.4958 82.483 92.9802 82.0962 93.3604C81.7094 93.7407 81.2167 93.9996 80.6802 94.1045C80.1437 94.2094 79.5876 94.1556 79.0823 93.9498C78.5769 93.744 78.145 93.3955 77.8411 92.9484C77.5372 92.5013 77.375 91.9757 77.375 91.438C77.375 90.7169 77.6664 90.0254 78.185 89.5155C78.7037 89.0057 79.4071 88.7192 80.1406 88.7192ZM71.8438 71.5005V82.3755H127.156V71.5005H71.8438ZM80.1406 79.6567C79.5936 79.6567 79.0589 79.4973 78.6041 79.1985C78.1493 78.8998 77.7948 78.4752 77.5855 77.9784C77.3762 77.4816 77.3214 76.935 77.4281 76.4076C77.5349 75.8802 77.7983 75.3958 78.185 75.0155C78.5718 74.6353 79.0646 74.3764 79.6011 74.2715C80.1376 74.1666 80.6936 74.2204 81.199 74.4262C81.7043 74.632 82.1363 74.9804 82.4402 75.4275C82.744 75.8746 82.9062 76.4003 82.9062 76.938C82.9062 77.659 82.6149 78.3506 82.0962 78.8604C81.5776 79.3703 80.8741 79.6567 80.1406 79.6567ZM119.781 78.7505H101.344C100.855 78.7505 100.386 78.5595 100.04 78.2196C99.6943 77.8797 99.5 77.4187 99.5 76.938C99.5 76.4573 99.6943 75.9963 100.04 75.6564C100.386 75.3164 100.855 75.1255 101.344 75.1255H119.781C120.27 75.1255 120.739 75.3164 121.085 75.6564C121.431 75.9963 121.625 76.4573 121.625 76.938C121.625 77.4187 121.431 77.8797 121.085 78.2196C120.739 78.5595 120.27 78.7505 119.781 78.7505Z"
                          fill="#E0621E"></path>
                </svg>
                TECHNOLOGY DEPLOYMENT</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-container" style="margin-bottom: -100px;">

                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m">
                                    <li class="card">

                                        <div class="contentSliderProject">
                                            <div class="textSlider" data-aos="fade-right" data-aos-duration="1200">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="none" viewBox="0 0 20 20">
                                                        <path stroke="#4F5260"
                                                              d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"/>
                                                        <path stroke="#4F5260"
                                                              d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"/>
                                                    </svg>
                                                    Boyertown, PA - New Berlinville, PA
                                                </h4>
                                                <h3>
                                                    Aerial Construction
                                                </h3>
                                                <p>
                                                    Explore how our crew in Boyertown, PA, managed to handle a massive telecommunications project
                                                    allowing the residents of Boyertown and nearby Berlinsville to benefit from a faster,
                                                    more affordable internet connection. Learn what benefits said project
                                                    delivered and delve deeper into the construction process.
                                                </p>
                                                <a th:href="@{/project-construction}"><span>Read more</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                                         style="enable-background:new 0 0 31.49 31.49;"
                                                         xml:space="preserve">
                                                    <path style="fill:#1E201D;"
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>

                                                    </svg>
                                                </a>
                                            </div>
                                            <a th:href="@{/project-construction}" class="imageBox" style="background-image: url('images/Aerial-Const.png')" data-aos="fade-left" data-aos-duration="1200">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 154 134">

                                                        <path fill="#E0621E" d="M108.737 75.4l-4.421-11.97h-.103c.714-.189 1.337-.632 1.758-1.25.42-.618.611-1.369.536-2.118-.074-.748-.409-1.445-.943-1.964-.534-.518-1.232-.824-1.967-.863h-.617l-6.683-6.3c.148-.85.036-1.727-.321-2.51-.358-.783-.943-1.434-1.676-1.865-.733-.431-1.578-.62-2.42-.543-.843.078-1.642.419-2.287.977-.646.558-1.108 1.306-1.322 2.141-.214.836-.171 1.719.123 2.529.295.81.827 1.507 1.524 1.996.697.49 1.524.748 2.37.74l1.44-.315 6.784 6.405c.08.67.369 1.296.823 1.785L88.176 79.601h16.449c1.953 0 5.345-.63 4.112-4.2zM78.925 77.5H50.14c-1.363 0-2.67.552-3.635 1.537-.964.985-1.505 2.32-1.505 3.712 0 1.393.541 2.728 1.505 3.713.964.984 2.272 1.538 3.635 1.538h28.785c1.363 0 2.67-.554 3.635-1.538.963-.985 1.505-2.32 1.505-3.713 0-1.392-.541-2.727-1.505-3.712-.964-.985-2.272-1.538-3.635-1.538z"></path>
                                                        <path fill="#E0621E" d="M90.132 58.285c-1.816-.491-3.412-1.603-4.523-3.15L82.01 58.6 70.188 46H59.394v12.6H47.057v14.7h32.897l10.178-15.015z"></path>
                                                    </svg>
                                                    Boyertown, PA - New Berlinville, PA
                                                </h4>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="visible navSlider">
                                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                                   uk-slider-item="previous" style="margin-top: -70px;"></a>
                                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                                   uk-slider-item="next" style="margin-top: -70px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container" style="margin-bottom: -100px;">

                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m">
                                    <li class="card">

                                        <div class="contentSliderProject">
                                            <div class="textSlider">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="none" viewBox="0 0 20 20">
                                                        <path stroke="#4F5260"
                                                              d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"/>
                                                        <path stroke="#4F5260"
                                                              d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"/>
                                                    </svg>
                                                    Pennsylvania
                                                </h4>
                                                <h3>
                                                    Wireless Communications
                                                </h3>
                                                <p>
                                                    Learn more about how our team deployed a new, more complex system for a mobile
                                                    operator struggling to manage the manual process and data security needs in a
                                                    timely and convenient manner. We delivered a hassle-free way to handle
                                                    said necessities through the strategic implementation of cutting-edge solutions.
                                                </p>
                                                <a th:href="@{/project-wireless}"><span>Read more</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                                         style="enable-background:new 0 0 31.49 31.49;"
                                                         xml:space="preserve">
                                                    <path style="fill:#1E201D;"
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>

                                                    </svg>
                                                </a>
                                            </div>
                                            <<a th:href="@{/project-wireless}" class="imageBox" style="background-image: url('images/wireless-niger.jpeg')">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="179" height="156" viewBox="0 0 179 156" fill="none">

                                                        <path d="M84.4167 63.25C84.4167 62.287 84.6895 61.3438 85.2036 60.5299C85.7177 59.716 86.4518 59.0648 87.3208 58.652C88.1898 58.2392 89.1579 58.0817 90.1127 58.1977C91.0676 58.3138 91.9699 58.6987 92.715 59.3078C93.46 59.9168 94.0172 60.7249 94.3217 61.6384C94.6263 62.5518 94.6658 63.533 94.4356 64.4679C94.2054 65.4029 93.715 66.2533 93.0213 66.9204C92.3276 67.5875 91.4591 68.0438 90.5167 68.2364V70.375H88.4833V68.2364C87.3361 68.0003 86.3052 67.3755 85.5644 66.4671C84.8236 65.5588 84.4183 64.4226 84.4167 63.25ZM105.767 103.964L101.314 91.3123L91.4723 97.2363L102.666 103.964H98.7212L89.5 98.417L80.2788 103.964H76.3342L87.5277 97.2363L77.6863 91.3123L73.2333 103.964H59V106H120V103.964H105.767ZM98.3552 70.0595C99.8643 68.1111 100.683 65.7156 100.683 63.25C100.683 60.7844 99.8643 58.3889 98.3552 56.4405L96.7488 57.6823C97.9813 59.276 98.65 61.2345 98.65 63.25C98.65 65.2655 97.9813 67.224 96.7488 68.8177L98.3552 70.0595ZM103.194 73.7746C105.521 70.7607 106.783 67.0592 106.783 63.25C106.783 59.4408 105.521 55.7393 103.194 52.7254L101.578 53.9671C103.634 56.6237 104.75 59.8892 104.75 63.25C104.75 66.6108 103.634 69.8763 101.578 72.5329L103.194 73.7746ZM106.407 76.248L108.034 77.5C111.178 73.4167 112.883 68.4059 112.883 63.25C112.883 58.0941 111.178 53.0833 108.034 49L106.407 50.252C109.287 53.9714 110.85 58.5439 110.85 63.25C110.85 67.9561 109.287 72.5286 106.407 76.248ZM82.2512 68.8177C81.0187 67.224 80.35 65.2655 80.35 63.25C80.35 61.2345 81.0187 59.276 82.2512 57.6823L80.6448 56.4405C79.1357 58.3889 78.3167 60.7844 78.3167 63.25C78.3167 65.7156 79.1357 68.1111 80.6448 70.0595L82.2512 68.8177ZM75.8055 73.7746L77.422 72.5329C75.3658 69.8763 74.25 66.6108 74.25 63.25C74.25 59.8892 75.3658 56.6237 77.422 53.9671L75.8055 52.7254C73.4789 55.7393 72.2167 59.4408 72.2167 63.25C72.2167 67.0592 73.4789 70.7607 75.8055 73.7746ZM72.5928 76.248C69.7129 72.5286 68.15 67.9561 68.15 63.25C68.15 58.5439 69.7129 53.9714 72.5928 50.252L70.9662 49C67.8219 53.0833 66.1166 58.0941 66.1166 63.25C66.1166 68.4059 67.8219 73.4167 70.9662 77.5L72.5928 76.248ZM95.166 73.8877L94.5255 72.0718C94.4552 71.8733 94.3254 71.7016 94.1537 71.58C93.982 71.4584 93.7769 71.3931 93.5667 71.3929H85.4333C85.223 71.393 85.0179 71.4583 84.8461 71.5799C84.6744 71.7015 84.5445 71.8733 84.4742 72.0718L83.8337 73.8877L89.5 78.2589L95.166 73.8877ZM99.3992 85.8961L95.8782 75.908L91.1654 79.5438L99.3992 85.8961ZM87.8346 79.5438L83.1218 75.908L79.6008 85.8961L87.8346 79.5438ZM78.417 89.3791L89.5 96.0454L100.583 89.3784L89.5 80.8284L78.417 89.3791Z" fill="#E0621E"></path>
                                                    </svg>
                                                    Pennsylvania
                                                </h4>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="visible navSlider">
                                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                                   uk-slider-item="previous" style="margin-top: -70px;"></a>
                                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                                   uk-slider-item="next" style="margin-top: -70px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container" style="margin-bottom: -100px;">

                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m">
                                    <li class="card">

                                        <div class="contentSliderProject">
                                            <div class="textSlider">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="none" viewBox="0 0 20 20">
                                                        <path stroke="#4F5260"
                                                              d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"/>
                                                        <path stroke="#4F5260"
                                                              d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"/>
                                                    </svg>
                                                    Pittsburgh, PA
                                                </h4>
                                                <h3>
                                                    LED Lighting Installation
                                                </h3>
                                                <p>
                                                    A detailed case study on how our team managed to pull off a massive 25,000sqft project for DBEC Wholesale Florist (Wholesale Florist Supply Company) in Pittsburgh, PA. Explore the advantages of Commercial LED Lighting Installation and learn how your business could benefit from a more efficient Energy Procurement strategy.
                                                </p>
                                                <a th:href="@{/project-energy}"><span>Read more</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                                         style="enable-background:new 0 0 31.49 31.49;"
                                                         xml:space="preserve">
                                                    <path style="fill:#1E201D;"
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>

                                                    </svg>
                                                </a>
                                            </div>
                                            <a th:href="@{/project-energy}" class="imageBox" style="background-image: url('images/en58.png')">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="135" viewBox="0 0 155 135" fill="none">

                                                        <path d="M72.4182 65.9524L72.3223 62.6821C72.3223 62.2973 72.0346 62.0088 71.555 62.0088H63.5942C63.2106 62.0088 62.9228 62.2973 62.8269 62.6821V65.9524H72.4182Z" fill="#E0621E"></path>
                                                        <path d="M108 60.7577C108 61.1425 107.712 61.5272 107.233 61.5272C107.137 61.5272 107.041 61.5272 107.041 61.5272L96.2027 57.8722C95.915 57.776 95.7232 57.4874 95.7232 57.1989L95.5313 54.9866C95.1477 55.179 94.764 55.2752 94.2845 55.2752C93.9008 55.2752 93.5172 55.179 93.2294 54.9866L81.3362 60.7577C81.2403 60.8539 81.1444 60.8539 81.0484 60.8539C80.7607 60.8539 80.5689 60.7577 80.473 60.5653C80.2811 60.2768 80.3771 59.892 80.5689 59.6035L89.1051 52.0049C89.297 51.8125 89.5847 51.8125 89.8725 51.9087L91.8866 52.8705C91.8866 52.0049 92.2703 51.3316 92.9417 50.8507L93.9008 37.6733C93.9008 37.2886 94.1885 37 94.5722 37C94.9558 37 95.2436 37.1924 95.3395 37.5771L97.6414 48.8308C97.6414 49.1193 97.5455 49.4079 97.3537 49.6002L95.5313 50.8507C96.2027 51.2354 96.6823 51.9087 96.7782 52.7744L107.616 60.1806C107.808 60.1806 108 60.4692 108 60.7577Z" fill="#E0621E"></path>
                                                        <path d="M83.161 62.5854C83.161 62.2007 82.8733 61.9121 82.4896 61.9121H74.5288C74.337 61.9121 74.1452 62.0083 74.0492 62.1045C73.9533 62.2969 73.8574 62.4892 73.8574 62.5854L73.9533 65.8557H83.5446L83.161 62.5854Z" fill="#E0621E"></path>
                                                        <path d="M61.9612 41.8098V38.2509C61.9612 37.8662 62.2489 37.4814 62.7285 37.4814C63.1121 37.4814 63.4958 37.77 63.4958 38.2509V41.8098C63.4958 42.1945 63.2081 42.4831 62.7285 42.4831C62.2489 42.5793 61.9612 42.2907 61.9612 41.8098Z" fill="#E0621E"></path>
                                                        <path d="M63.4034 55.7558V59.3147C63.4034 59.6994 63.1156 60.0841 62.6361 60.0841C62.2524 60.0841 61.8688 59.7956 61.8688 59.3147V55.7558C61.8688 55.3711 62.1565 54.9863 62.6361 54.9863C63.0197 54.9863 63.4034 55.3711 63.4034 55.7558Z" fill="#E0621E"></path>
                                                        <path d="M67.9063 48.8311C67.9063 51.7166 65.5084 54.1212 62.6311 54.1212C59.7537 54.1212 57.3558 51.7166 57.3558 48.8311C57.3558 45.9455 59.7537 43.5409 62.6311 43.5409C65.6044 43.4447 67.9063 45.8493 67.9063 48.8311Z" fill="#E0621E"></path>
                                                        <path d="M70.596 55.7553C70.8838 56.0439 70.8838 56.5248 70.596 56.8134C70.4042 57.0057 70.3083 57.0057 70.1165 57.0057C69.9246 57.0057 69.7328 56.9095 69.6369 56.8134L67.1432 54.3125C66.8554 54.024 66.8554 53.5431 67.1432 53.2545C67.4309 52.9659 67.9105 52.9659 68.1982 53.2545L70.596 55.7553Z" fill="#E0621E"></path>
                                                        <path d="M67.0444 44.4051C66.7567 44.1166 66.7567 43.6357 67.0444 43.3471L69.5382 40.8463C69.8259 40.5577 70.3055 40.5577 70.5932 40.8463C70.8809 41.1349 70.8809 41.6158 70.5932 41.9043L68.0995 44.4051C67.9076 44.5975 67.8117 44.5975 67.6199 44.5975C67.3322 44.5975 67.1403 44.5013 67.0444 44.4051Z" fill="#E0621E"></path>
                                                        <path d="M73.8539 48.8323C73.8539 49.2171 73.5662 49.602 73.0866 49.602H69.5378C69.1542 49.602 68.7705 49.3134 68.7705 48.8323C68.7705 48.4474 69.0582 48.0625 69.5378 48.0625H73.0866C73.5662 48.0625 73.8539 48.4474 73.8539 48.8323Z" fill="#E0621E"></path>
                                                        <path d="M58.2237 53.1579C58.5115 53.4465 58.5115 53.9274 58.2237 54.216L55.73 56.7168C55.6341 56.9092 55.4422 56.9092 55.2504 56.9092C55.0586 56.9092 54.8668 56.813 54.7709 56.7168C54.4831 56.4282 54.4831 55.9473 54.7709 55.6588L57.2646 53.1579C57.5523 52.9656 57.936 52.9656 58.2237 53.1579Z" fill="#E0621E"></path>
                                                        <path d="M55.7288 49.5044H52.18C51.7964 49.5044 51.4127 49.2157 51.4127 48.7346C51.4127 48.3497 51.7005 47.9648 52.18 47.9648H55.7288C56.1125 47.9648 56.4961 48.2535 56.4961 48.7346C56.4002 49.2157 56.1125 49.5044 55.7288 49.5044Z" fill="#E0621E"></path>
                                                        <path d="M54.6735 41.9043C54.4817 41.6158 54.4817 41.1349 54.6735 40.8463C54.9613 40.5577 55.4408 40.5577 55.7286 40.8463L58.2223 43.3471C58.5101 43.6357 58.5101 44.1166 58.2223 44.4051C58.1264 44.5975 57.9346 44.5975 57.7428 44.5975C57.5509 44.5975 57.3591 44.5013 57.2632 44.4051L54.6735 41.9043Z" fill="#E0621E"></path>
                                                        <path d="M51.9878 62.5854C51.9878 62.2007 52.2756 61.9121 52.6592 61.9121H60.62C60.8118 61.9121 61.0036 62.0083 61.0996 62.1045C61.1955 62.2969 61.2914 62.4892 61.2914 62.5854V65.9519H51.7001L51.9878 62.5854Z" fill="#E0621E"></path>
                                                        <path d="M72.5144 74.416H62.6353L62.5394 76.6291H72.6103L72.5144 74.416Z" fill="#E0621E"></path>
                                                        <path d="M72.4183 67.3945H62.7311V69.4152H72.4183V67.3945Z" fill="#E0621E"></path>
                                                        <path d="M72.5109 70.8564H62.7277L62.6318 72.9733H72.5109V70.8564Z" fill="#E0621E"></path>
                                                        <path d="M72.6104 78.0713H62.5395L62.4436 80.4768H72.7063L72.6104 78.0713Z" fill="#E0621E"></path>
                                                        <path d="M72.703 81.9189H62.4403L62.3444 84.5169H72.7989L72.703 81.9189Z" fill="#E0621E"></path>
                                                        <path d="M101.479 93.461H98.0258L96.4911 59.4114L95.7238 59.1229C94.8606 58.8343 94.2851 58.0648 94.2851 57.1992V56.7183C93.9974 56.7183 93.7097 56.7183 93.4219 56.6221L92.271 57.1992L90.6404 93.461H81.0491V91.0563H84.8857C85.2693 91.0563 85.653 90.7678 85.653 90.2868C85.653 90.1907 85.653 90.0945 85.653 90.0945L85.1734 85.9585H74.7189L74.9107 90.383C74.9107 90.7678 75.1984 91.0563 75.5821 91.0563H79.5145V93.461H68.2927V91.0563H72.2251C72.6088 91.0563 72.9924 90.7678 72.9924 90.2868C72.9924 90.1907 72.9924 90.1907 72.9924 90.0945L72.8965 85.8623H62.3461L62.2502 90.2868C62.2502 90.4792 62.3461 90.6716 62.442 90.7678C62.5379 90.864 62.7297 90.9601 62.9216 90.9601H66.854V93.3648H55.7281V90.9601H59.6605C60.0442 90.9601 60.3319 90.6716 60.3319 90.2868L60.5237 85.8623H50.0692L49.6856 90.0945C49.6856 90.1907 49.6856 90.2868 49.6856 90.2868C49.6856 90.6716 49.9733 91.0563 50.4529 91.0563H54.2894V93.461H47.7673C47.3837 93.461 47 93.7495 47 94.2304C47 94.7114 47.2877 94.9999 47.7673 94.9999H101.479C101.862 94.9999 102.246 94.7114 102.246 94.2304C102.246 93.7495 101.958 93.461 101.479 93.461Z" fill="#E0621E"></path>
                                                        <path d="M74.4299 80.4768H84.6926L84.5008 78.0713H74.334L74.4299 80.4768Z" fill="#E0621E"></path>
                                                        <path d="M74.3365 76.6291H84.4074L84.2156 74.416H74.2406L74.3365 76.6291Z" fill="#E0621E"></path>
                                                        <path d="M74.1419 72.9733H84.021L83.8292 70.8564H74.046L74.1419 72.9733Z" fill="#E0621E"></path>
                                                        <path d="M83.7328 69.4152L83.541 67.3945H73.9497L74.0456 69.4152H83.7328Z" fill="#E0621E"></path>
                                                        <path d="M74.624 84.5169H85.0785L84.7908 81.9189H74.5281L74.624 84.5169Z" fill="#E0621E"></path>
                                                        <path d="M60.8096 78.0713H50.7387L50.5469 80.4768H60.7137L60.8096 78.0713Z" fill="#E0621E"></path>
                                                        <path d="M61.0047 74.416H51.0297L50.8379 76.6291H60.9088L61.0047 74.416Z" fill="#E0621E"></path>
                                                        <path d="M61.1002 70.8564H51.3171L51.1252 72.9733H61.0043L61.1002 70.8564Z" fill="#E0621E"></path>
                                                        <path d="M61.2918 67.3945H51.6045L51.4127 69.4152H61.1959L61.2918 67.3945Z" fill="#E0621E"></path>
                                                        <path d="M60.7171 81.9189H50.3585L50.1666 84.5169H60.6212L60.7171 81.9189Z" fill="#E0621E"></path>
                                                    </svg>
                                                    Pittsburgh, PA
                                                </h4>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="visible navSlider">
                                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                                   uk-slider-item="previous" style="margin-top: -70px;"></a>
                                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                                   uk-slider-item="next" style="margin-top: -70px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container" style="margin-bottom: -100px;">

                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m">
                                    <li class="card">

                                        <div class="contentSliderProject">
                                            <div class="textSlider">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="none" viewBox="0 0 20 20">
                                                        <path stroke="#4F5260"
                                                              d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"/>
                                                        <path stroke="#4F5260"
                                                              d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"/>
                                                    </svg>
                                                    Boyertown, PA - New Berlinville, PA
                                                </h4>
                                                <h3>

                                                    Integration of Fiber Infrastructure
                                                </h3>
                                                <p>
                                                    Find out how we handled the Boyertown project – a massive endeavor that implied meticulous planning
                                                    and seamless integration with our services. Our crew elaborates on how they got the job
                                                    done to ensure a faster, more reliable internet connection for the towns of Boyertown and Berlinville, PA.
                                                </p>
                                                <a th:href="@{/project-engineering}"><span>Read more</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                                         style="enable-background:new 0 0 31.49 31.49;"
                                                         xml:space="preserve">
                                                    <path style="fill:#1E201D;"
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>

                                                    </svg>
                                                </a>
                                            </div>
                                            <a th:href="@{/project-engineering}" class="imageBox" style="background-image: url('images/engineering55.jpg')">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="179" height="156" viewBox="0 0 179 156" fill="none">

                                                        <path d="M70.3804 64.7835H95.5977C96.0735 64.7835 96.5493 64.3081 96.5493 63.8327C96.5493 63.2622 96.0735 62.8819 95.5977 62.8819H94.2654C94.5509 57.2721 90.7445 52.9934 86.3672 51.6623V49.9508C86.3672 49.4754 85.9866 49 85.4156 49H80.6576C80.0867 49 79.7061 49.4754 79.7061 49.9508V51.6623C75.0432 53.0885 71.332 57.4623 71.8078 62.8819H70.3804C69.9046 62.8819 69.4288 63.2622 69.4288 63.8327C69.4288 64.3081 69.9046 64.7835 70.3804 64.7835Z" fill="#E0621E"></path>
                                                        <path d="M83.0318 75.3354C87.6946 75.3354 91.5962 71.6272 92.4526 66.5879H73.5159C74.3723 71.6272 78.369 75.3354 83.0318 75.3354Z" fill="#E0621E"></path>
                                                        <path d="M96.7332 88.4599C96.4477 87.6993 96.3526 86.7485 97.0187 85.7026C102.728 79.9026 100.73 81.8993 101.206 81.519C101.586 81.1386 101.967 80.8534 102.443 80.7583C102.062 79.5223 101.206 78.4764 100.064 77.8108C97.209 76.1944 94.3542 75.0534 91.4994 74.2928C91.1188 74.1977 90.643 74.3879 90.4527 74.7682L84.6479 85.1321H81.5077L75.7981 74.8633C75.6078 74.4829 75.132 74.2928 74.7514 74.3879C71.8966 75.1485 69.0418 76.3846 66.187 77.9059C64.5693 78.7616 63.5226 80.4731 63.4274 82.2796L62 100.63C62 100.916 62.0952 101.201 62.2855 101.391C62.4758 101.581 62.6661 101.676 62.9516 101.676H96.7332C96.3526 100.916 96.4477 100.06 96.7332 99.2992C96.3526 99.109 95.9719 98.9189 95.6864 98.6336C95.1155 98.0631 94.83 97.3976 94.83 96.6369C95.0203 91.9779 94.259 90.4566 95.6864 89.1255C96.0671 88.8402 96.3526 88.6501 96.7332 88.4599Z" fill="#E0621E"></path>
                                                        <path d="M122.619 90.5508C122.429 90.3607 122.239 90.2656 121.953 90.2656H119.194C119.098 90.1705 119.098 90.0754 119.003 89.8853L120.907 87.9836C121.287 87.6033 121.287 87.0328 120.907 86.6525L117.195 82.7542C116.815 82.3738 116.244 82.3738 115.863 82.7542L113.96 84.6558C113.865 84.5607 113.77 84.5607 113.579 84.5607V81.8034C113.579 81.2329 113.199 80.8525 112.628 80.8525H107.108C106.823 80.8525 106.633 80.9476 106.442 81.1378C106.252 81.3279 106.157 81.5181 106.157 81.8034V84.5607C106.062 84.5607 105.966 84.6558 105.871 84.6558L103.968 82.7542C103.587 82.3738 103.017 82.3738 102.636 82.7542C102.541 82.9443 98.8295 86.5574 98.7344 86.6525C98.4489 87.223 98.3537 87.6984 98.8295 88.0787C99.5908 88.8394 100.162 89.505 100.638 89.8853C100.638 89.9804 100.542 90.0754 100.542 90.2656H97.7828C97.4973 90.2656 97.307 90.3607 97.1167 90.5508C96.9263 90.741 96.8312 90.9312 96.8312 91.2164C96.8312 91.3115 96.8312 96.2557 96.8312 96.7311C96.8312 97.0164 96.9263 97.2066 97.1167 97.3967C97.4021 97.682 97.8779 97.682 98.1634 97.682H100.542C100.542 97.777 100.638 97.8721 100.638 97.9672L98.7344 99.8688C98.3537 100.249 98.3537 100.82 98.7344 101.2L102.636 105.098C103.017 105.479 103.587 105.479 103.968 105.098L104.063 105.003L105.871 103.197C105.966 103.197 106.062 103.292 106.252 103.387V106.049C106.252 106.525 106.633 107 107.204 107H112.723C113.008 107 113.199 106.905 113.389 106.715C113.579 106.525 113.674 106.334 113.674 106.049V103.292C113.77 103.292 113.865 103.197 113.96 103.197L115.863 105.098C116.053 105.288 116.244 105.384 116.529 105.384C116.815 105.384 117.005 105.288 117.195 105.098L121.097 101.2C121.477 100.82 121.477 100.249 121.097 99.8688L119.194 97.9672C119.194 97.8721 119.289 97.777 119.289 97.682H122.048C122.619 97.682 123 97.3016 123 96.7311V91.5967V91.2164C122.905 91.0263 122.81 90.741 122.619 90.5508ZM115.197 94.5443C115.007 95.9705 114.341 97.3016 113.199 98.1574C112.247 98.918 111.105 99.2983 109.868 99.2983C106.633 99.2983 104.063 96.4459 104.444 93.2131C104.825 90.2656 107.489 88.0787 110.439 88.4591C113.484 88.9345 115.578 91.5967 115.197 94.5443Z" fill="#E0621E"></path>
                                                    </svg>
                                                    Boyertown, PA - New Berlinville, PA
                                                </h4>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="visible navSlider">
                                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                                   uk-slider-item="previous" style="margin-top: -70px;"></a>
                                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                                   uk-slider-item="next" style="margin-top: -70px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-container" style="margin-bottom: -100px;">

                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@m">
                                    <li class="card">

                                        <div class="contentSliderProject">
                                            <div class="textSlider">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="none" viewBox="0 0 20 20">
                                                        <path stroke="#4F5260"
                                                              d="M9.82 2C6.717 2 4.2 4.5 4.2 7.604 4.2 11.8 9.82 18 9.82 18s5.623-6.201 5.623-10.396C15.443 4.5 12.926 2 9.82 2z"/>
                                                        <path stroke="#4F5260"
                                                              d="M9.821 9.438c1.099 0 1.99-.89 1.99-1.99 0-1.098-.891-1.988-1.99-1.988-1.098 0-1.989.89-1.989 1.989 0 1.098.89 1.989 1.99 1.989z"/>
                                                    </svg>
                                                    Saint Louis, MO
                                                </h4>
                                                <h3>
                                                    Amazon Technology Deployment
                                                </h3>
                                                <p>
                                                    Discover how our team in Saint Louis, MO, deployed a Keyless Entry System to ensure a more convenient,
                                                    hassle-free way to receive various packages for the client.
                                                    Find out more about what it took to actualize said project and what tools
                                                    and services we used to make a great concept become a reality.
                                                </p>
                                                <a th:href="@{/project-technology-deployment}"><span>Read more</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49"
                                                         style="enable-background:new 0 0 31.49 31.49;"
                                                         xml:space="preserve">
                                                    <path style="fill:#1E201D;"
                                                          d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>

                                                    </svg>
                                                </a>
                                            </div>
                                            <a th:href="@{/project-technology-deployment}" class="imageBox" style="background-image: url('images/technology-deployment-main.jpeg')">
                                                <h4>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="199" height="173" viewBox="0 0 199 173" fill="none">

                                                        <path d="M71.8438 111.375C71.8438 111.856 72.038 112.317 72.3838 112.657C72.7295 112.997 73.1985 113.188 73.6875 113.188H125.312C125.801 113.188 126.27 112.997 126.616 112.657C126.962 112.317 127.156 111.856 127.156 111.375V100.5H71.8438V111.375ZM101.344 104.125H119.781C120.27 104.125 120.739 104.316 121.085 104.656C121.431 104.996 121.625 105.457 121.625 105.938C121.625 106.419 121.431 106.88 121.085 107.22C120.739 107.56 120.27 107.75 119.781 107.75H101.344C100.855 107.75 100.386 107.56 100.04 107.22C99.6943 106.88 99.5 106.419 99.5 105.938C99.5 105.457 99.6943 104.996 100.04 104.656C100.386 104.316 100.855 104.125 101.344 104.125ZM80.1406 103.219C80.6876 103.219 81.2223 103.379 81.6771 103.677C82.1319 103.976 82.4864 104.401 82.6957 104.898C82.9051 105.394 82.9598 105.941 82.8531 106.468C82.7464 106.996 82.483 107.48 82.0962 107.86C81.7094 108.241 81.2167 108.5 80.6802 108.604C80.1437 108.709 79.5876 108.656 79.0823 108.45C78.5769 108.244 78.145 107.896 77.8411 107.448C77.5372 107.001 77.375 106.476 77.375 105.938C77.375 105.217 77.6664 104.525 78.185 104.016C78.7037 103.506 79.4071 103.219 80.1406 103.219ZM122.086 60.6255C121.925 60.1343 121.621 59.7006 121.211 59.3783C120.801 59.0559 120.304 58.8594 119.781 58.813H79.2188C78.6834 58.8537 78.1716 59.0468 77.746 59.3687C77.3204 59.6905 76.9993 60.1272 76.8219 60.6255L73.4109 67.8755H125.589L122.086 60.6255ZM71.8438 96.8755H127.156V86.0005H71.8438V96.8755ZM101.344 89.6255H119.781C120.27 89.6255 120.739 89.8164 121.085 90.1564C121.431 90.4963 121.625 90.9573 121.625 91.438C121.625 91.9187 121.431 92.3797 121.085 92.7196C120.739 93.0595 120.27 93.2505 119.781 93.2505H101.344C100.855 93.2505 100.386 93.0595 100.04 92.7196C99.6943 92.3797 99.5 91.9187 99.5 91.438C99.5 90.9573 99.6943 90.4963 100.04 90.1564C100.386 89.8164 100.855 89.6255 101.344 89.6255ZM80.1406 88.7192C80.6876 88.7192 81.2223 88.8787 81.6771 89.1774C82.1319 89.4762 82.4864 89.9008 82.6957 90.3976C82.9051 90.8944 82.9598 91.441 82.8531 91.9684C82.7464 92.4958 82.483 92.9802 82.0962 93.3604C81.7094 93.7407 81.2167 93.9996 80.6802 94.1045C80.1437 94.2094 79.5876 94.1556 79.0823 93.9498C78.5769 93.744 78.145 93.3955 77.8411 92.9484C77.5372 92.5013 77.375 91.9757 77.375 91.438C77.375 90.7169 77.6664 90.0254 78.185 89.5155C78.7037 89.0057 79.4071 88.7192 80.1406 88.7192ZM71.8438 71.5005V82.3755H127.156V71.5005H71.8438ZM80.1406 79.6567C79.5936 79.6567 79.0589 79.4973 78.6041 79.1985C78.1493 78.8998 77.7948 78.4752 77.5855 77.9784C77.3762 77.4816 77.3214 76.935 77.4281 76.4076C77.5349 75.8802 77.7983 75.3958 78.185 75.0155C78.5718 74.6353 79.0646 74.3764 79.6011 74.2715C80.1376 74.1666 80.6936 74.2204 81.199 74.4262C81.7043 74.632 82.1363 74.9804 82.4402 75.4275C82.744 75.8746 82.9062 76.4003 82.9062 76.938C82.9062 77.659 82.6149 78.3506 82.0962 78.8604C81.5776 79.3703 80.8741 79.6567 80.1406 79.6567ZM119.781 78.7505H101.344C100.855 78.7505 100.386 78.5595 100.04 78.2196C99.6943 77.8797 99.5 77.4187 99.5 76.938C99.5 76.4573 99.6943 75.9963 100.04 75.6564C100.386 75.3164 100.855 75.1255 101.344 75.1255H119.781C120.27 75.1255 120.739 75.3164 121.085 75.6564C121.431 75.9963 121.625 76.4573 121.625 76.938C121.625 77.4187 121.431 77.8797 121.085 78.2196C120.739 78.5595 120.27 78.7505 119.781 78.7505Z" fill="#E0621E"></path>
                                                    </svg>
                                                    Saint Louis, MO
                                                </h4>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="visible navSlider">
                                <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                                   uk-slider-item="previous" style="margin-top: -70px;"></a>
                                <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                                   uk-slider-item="next" style="margin-top: -70px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </section>

</div>
