<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul class="uk-breadcrumb uk-margin-medium-top">
        <li><a th:href="@{/admin/content}">Content</a></li>
        <li class="uk-disabled"><a>Edit</a></li>
        <li><span class="uk-text-bold" th:text="${content.alias}"></span></li>
    </ul>

    <form action="#" th:action="@{/admin/content/update/{id}(id=${id})}" th:object="${content}" method="POST" class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Content</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">

                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <textarea th:field="*{contentValue}" class="uk-textarea uk-height-small uk-width-1-1" type="text" placeholder=""></textarea>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Alias</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <input th:field="*{alias}" class="uk-input" type="text" placeholder="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
            <input type="submit" class="uk-button uk-button-secondary uk-button-large">
        </div>

    </form>

</div>