<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">

    <form action="#" th:action="@{/admin/content/partners/add}" th:object="${contentPartner}" method="POST" enctype="multipart/form-data" class="uk-form-stacked uk-margin-large-top">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Title</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid uk-grid-stack" uk-grid="">

                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <input th:field="*{title}" class="uk-input" type="text" placeholder="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">URL</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">

                                    <input th:field="*{url}" class="uk-input" type="text" placeholder="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr class="uk-margin-medium">

        <div class="uk-grid-match uk-grid" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 200;">

            <div class="uk-width-1-4 uk-first-column uk-scrollspy-inview uk-animation-fade">
                <h4 class="uk-text-bold uk-margin-remove">Logo</h4>
            </div>

            <div class="uk-width-3-4 uk-scrollspy-inview uk-animation-fade">
                <div class="uk-grid" uk-grid="">
                    <div class="uk-width-1-2">
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-inline uk-width-1-1">

                                    <input th:field="*{file}" type="file" name="file" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-auto uk-grid-margin uk-scrollspy-inview uk-animation-fade">
                <input type="submit" class="uk-button uk-button-secondary uk-button-large">
            </div>

        </div>

    </form>

    <div class="uk-margin-large-top">

        <h2 th:if="${#lists.isEmpty(contentPartnersList)}">No partners yet!</h2>
        <div th:if="${not #lists.isEmpty(contentPartnersList)}">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Logo</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contentPartner : ${contentPartnersList}">
                    <td>
                        <div th:if="${contentPartner.picName != null}">
                            <img th:src="@{/uploads/{picName}.{picType}(picName=${contentPartner.picName},picType=${contentPartner.picType})}" class="uk-width-small">
                        </div>
                    </td>
                    <td th:text="${contentPartner.title}"></td>
                    <td th:text="${contentPartner.url}"></td>
                    <td>
                        <a th:href="@{/admin/content/partners/edit/{id}(id=${contentPartner.id})}" uk-icon="icon: pencil"></a>
                        <a th:href="@{/admin/content/partners/delete/{id}(id=${contentPartner.id})}" uk-icon="icon: close"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>