<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="offcanvas-usage" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar uk-background-secondary">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-primary uk-light">
                <li th:class="${#request.requestURI == '/admin/content' ? 'uk-active':''}">
                    <a th:href="@{/admin/content}">Content</a>
                </li>
                <li th:class="${#request.requestURI == '/admin/careers' ? 'uk-active':''}">
                    <a th:href="@{/admin/careers}">Careers</a>
                </li>
                <li th:class="${#request.requestURI == '/admin/news' ? 'uk-active':''}">
                    <a th:href="@{/admin/news}">News</a>
                </li>
                <li th:class="${#request.requestURI == '/admin/locations' ? 'uk-active':''}">
                    <a th:href="@{/admin/locations}">Locations</a>
                </li>
            </ul>

        </div>
    </div>

</div>