<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage skillsBeforeBottom">

    <section
            class="detailPage uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url('images/Construction_Exp_In.png');">
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Construction</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We provide the leading-solutions for Construction industry. Utilities One's team effectively manages all facets of the telecom construction and installation process from initial planning to final system turn-up, as well as in-house structural modification crews. Our proven project management processes deliver results that meet or exceed customer expectations for quality and cost effectiveness, and make certain that all critical project deadlines are met. The Utilities One professionals can handle the most complex installations, and our complete turnkey services streamline the project and keep it on track.</h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
<!--            <p style="font-size: 23px; color: #292c3d; font-weight: 500;">Expertise</p>-->
<!--            <hr style="margin-bottom: 30px;">-->
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Expertise</span>
            </div>
            <ul class="ulCategories">
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/skills(s=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'technology-deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="contentVacancies">

                <div class="expertiseItm" data-aos="fade-up" data-aos-duration="1100">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Civil Construction_Update.png')">
                        <p class="title">Civil Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We perform heavy construction works by applying our professional capabilities, delivering innovative solutions and complex infrastructural services.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Heavy Construction</span></li>
                                    <li><span>Roadway Restoration & Construction</span></li>
                                    <li><span>Underground Utility Construction</span></li>
                                    <li><span>Design & Build Services</span></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Mechanical Construction_Update.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Mechanical Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We combine the knowledge of our design and construction teams to complete any mechanical construction project through quality design, installation, start-up and commissioning solutions.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Devices & Vessel Positioning</span></li>
                                    <li><span>Piping</span></li>
                                    <li><span>Millwright</span></li>
                                    <li><span>Metering</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Aerial%20Construction.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Aerial Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Utilities One is proud of our ability to carry out every aspect of Aerial Telecommunications construction. We employ highly trained and motivated crews, providing quality services to every single customer. We follow utility, municipal and/or state construction codes and practices.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Fiber Optic, Coax, Twisted Set, Hybrids and All Dielectric Self Supporting (ADSS) Cable Drop Services</span></li>
                                    <li><span>Aerial Foundation Distribution and Circulation for the Drop CX</span></li>
                                    <li><span>Cable Positioning</span></li>
                                    <li><span>Splicing and Activation</span></li>
                                    <li><span>Pole Positioning</span></li>
                                    <li><span>Turn-on</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Underground%20Construction.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Underground Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Our team has over 25 years of combined work history installing underground pipes, water mains, and sewer lines. We offer underground utility services year-round, and are ready to handle any challenging projects, including but not limited to deep excavations.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Fiber Optic, Coax, Hybrid Cable DSrops along with All Types of Conduits</span></li>
                                    <li><span>Underground Circulation and Drop Cable Services</span></li>
                                    <li><span>Set Holes, Cabinets, Pedestals, and Vaults</span></li>
                                    <li><span>Emergency Repairs</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Oil%20&%20Gas%20pipeline%20and%20Facility%20Construction.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 10px;">Oil & Gas Pipeline and Facility Construction</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Our engineering and construction expertise provide a true balance of intelligent design, cost effectiveness, and constructability. From natural gas engineering services to pipeline and station construction, we pride ourselves on our responsiveness to our clients’ needs.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Pipeline Building</span></li>
                                    <li><span>Compressor/Pumping Stations</span></li>
                                    <li><span>Environmental Compliance</span></li>
                                    <li><span>Gas Circulation</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Water and Sewage System Pipeline Treatment Facilities.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title" style="padding: 117px 90px;">Water and Sewage System Pipeline Facilities</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We present the best emergency solutions for residential and business customers. Our crew takes control over your water delivery systems, and ensures a quality approach to the sewage system pipelines.</p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Pipeline Facilities</span></li>
                                    <li><span>Pump & Lift Station</span></li>
                                    <li><span>Water Transmission</span></li>
                                    <li><span>Drainage</span></li>
                                    <li><span>Sewage System Lines</span></li>
                                    <li><span>Energy Lines</span></li>
                                    <li><span>Maintenance/Emergency repairs</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>