<div layout:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/main}" xmlns:static="http://www.w3.org/1999/xhtml" class="singlePage skillsBeforeBottom">

    <section
            class="detailPage uk-section uk-section-secondary uk-section-large uk-background-norepeat uk-background-cover uk-background-bottom-center uk-position-relative"
            style="background-image: url('images/Technology-Deployment_Exp_In.png');">
        <div class="uk-container">
            <h1 class="uk-text-bold uk-text-left" uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">Technology Deployment</h1>
            <h4 uk-scrollspy="cls: uk-animation-fade; delay: 200;" data-aos="fade-right" data-aos-duration="1200">We deliver exact what you need. The technology has become the most changing area. Nowadays customers are looking for high-quality connection. We combine our expertise and knowledge solving problems and extending human capabilities by providing scalable deployment solutions from basic “rack and stack” setups to advanced deployments and rollouts.</h4>
        </div>
    </section>

    <section class="sectionVacancies">
        <div class="postCategories" data-aos="fade-up" data-aos-duration="900">
<!--            <p style="font-size: 23px; color: #292c3d; font-weight: 500;">Expertise</p>-->
<!--            <hr style="margin-bottom: 30px;">-->
            <div class="showSubMenu">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg>
                <span>Expertise</span>
            </div>
            <ul class="ulCategories ulExpertise">
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'construction'})}">Construction
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'wireless'})}">Wireless
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'energy'})}">Energy
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories">
                    <a th:href="@{/skills(s=${'engineering'})}">Engineering
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
                <li class="ilCategories ilCategoriesActive">
                    <a th:href="@{/skills(s=${'technology-deployment'})}">Technology Deployment
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002"
                             style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M388.425,241.951L151.609,5.79c-7.759-7.733-20.321-7.72-28.067,0.04c-7.74,7.759-7.72,20.328,0.04,28.067l222.72,222.105    L123.574,478.106c-7.759,7.74-7.779,20.301-0.04,28.061c3.883,3.89,8.97,5.835,14.057,5.835c5.074,0,10.141-1.932,14.017-5.795    l236.817-236.155c3.737-3.718,5.834-8.778,5.834-14.05S392.156,245.676,388.425,241.951z"/>
                                    </g>
                                </g>
                                </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="contentVacancies" style="margin-bottom: 150px;">

                <div class="expertiseItm" data-aos="fade-up" data-aos-duration="1100">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Implementation.png')">
                            <p class="title">Execution</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">We provide our customers with expertly designed deployment solutions that address their unique requirements at all stages of technology implementation services.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Logistics and stock staging</span></li>
                                    <li><span>Combination services</span></li>
                                    <li><span>Multi-site release</span></li>
                                    <li><span>Individual gadget release set-up (PC, tablet, IoT)</span></li>
                                    <li><span>Wireless network evaluations and releases</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Installation.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Installation</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">The successful adaption to new technologies and their systems depends on the configuration and technology implementation. Our team will help you embrace the rapidly changing technology by installing and ensuring its proper deployment.  </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Pre-installation assistance</span></li>
                                    <li><span>Multi-site engagements and on-site services</span></li>
                                    <li><span>Converged and hyperconverged options</span></li>
                                    <li><span>Job management</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr style="margin: 60px;">
                    <div class="images">
                        <figure class="banners" style="background-image: url('images/Migration.png')" data-aos="fade-up" data-aos-duration="900">
                            <p class="title">Migration</p>
                        </figure>
                    </div>
                    <ul uk-accordion>
                        <li style="margin-top: 30px;" class="uk-open">
                            <p class="contentEnergy">Whether you’re looking to improve security, upgrade systems for better performance or migrate to new technology, we will do it for you. Our team of experts provides smart options and ensures stable solutions.
                            </p>
                            <div class="uk-accordion-content">
                                <ul type="disc">
                                    <li><span>Data consolidation</span></li>
                                    <li><span>Application-specific migrations</span></li>
                                    <li><span>Cloud migration</span></li>
                                    <li><span>Product packaging and physical motion of devices</span></li>
                                    <li><span>Re-installation of devices and upkeep moving forward</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>